.sf-content-placeholder.sf-textbox.sf-placeholder-textbox {
  background-size: 300px 33px;
  min-height: 33px;
}

.sf-input-group.sf-input-focus.sf-multi-line-input textarea.sf-textbox {
  padding-right: 30px;
}

.sf-input-group.sf-input-focus.sf-rtl.sf-multi-line-input textarea.sf-textbox {
  padding-left: 30px;
}
