.sf-content-placeholder.sf-textbox.sf-placeholder-textbox {
  background-size: $textbox-background-size-width $textbox-background-size-height;
  min-height: $textbox-min-height;
}

.sf-input-group.sf-input-focus.sf-multi-line-input textarea.sf-textbox {
  padding-right: $textbox-padding-right-focus;
}

.sf-input-group.sf-input-focus.sf-rtl.sf-multi-line-input textarea.sf-textbox {
  padding-left: $textbox-padding-right-focus;
}
