$tooltip-drop-shadow: $shadow-sm !default;
$tooltip-drop-shadow-filter: none !default;
$tooltip-font-size: $text-sm !default;
$tooltip-border-radius: 4px !default;
$border-size: 1px !default;
$border-type: solid !default;
$tooltip-opacity: 1 !default;
$tooltip-arrow-outer-border: 8px !default;
$tooltip-horizontal-padding: 4px 8px !default;
$tooltip-vertical-padding: 4px 8px !default;
$tooltip-line-height: 20px !default;
$tooltip-arrow-icon-font-size: 16px !default;

$tooltip-close-icon-border: 1px solid rgba($tooltip-text-color) !default;
$tooltip-close-icon-height: 16px !default;
$tooltip-close-icon-width: 16px !default;
$tooltip-close-icon-border-radius: 8px !default;
$tooltip-close-icon-border-width: 1px !default;
$tooltip-close-icon-box-shadow: $shadow-sm !default;
$tooltip-close-icon-box-sizing: border-box !default;
$tooltip-close-icon-right: -9px !default;
$tooltip-close-icon-top: -9px !default;

$tooltip-tip-bottom-height: 8px !default;
$tooltip-tip-bottom-left: 50% !default;
$tooltip-tip-bottom-top: 100% !default;
$tooltip-tip-bottom-width: 16px !default;

$tooltip-tip-top-height: 8px !default;
$tooltip-tip-top-left: 50% !default;
$tooltip-tip-top-top: -9px !default;
$tooltip-tip-top-width: 16px !default;

$tooltip-tip-left-height: 16px !default;
$tooltip-tip-left-left: -9px !default;
$tooltip-tip-left-top: 48% !default;
$tooltip-tip-left-width: 8px !default;

$tooltip-tip-right-height: 16px !default;
$tooltip-tip-right-left: 100% !default;
$tooltip-tip-right-top: 50% !default;
$tooltip-tip-right-width: 8px !default;

$tooltip-content-bg-color: rgba($tooltip-bg-color) !default;
$tooltip-content-border-color: rgba($tooltip-border) !default;
$tooltip-content-font-color: rgba($tooltip-text-color) !default;
$tooltip-icon-color: rgba($tooltip-text-color) !default;
$tooltip-icon-bg-color: rgba($tooltip-bg-color) !default;
$tooltip-icon-hover-color: rgba($tooltip-bg-color) !default;
$tooltip-icon-bg-hover: rgba($tooltip-text-color) !default;
$tooltip-icon-border-color: $secondary-bg-color !default;