$calendar-title-hover-color: rgba($content-text-color) !default;
$calendar-icon-hover-color: rgba($icon-color) !default;
$calendar-default-border-color: none !default;
$calendar-icon-hover-border-color: none !default;
$calendar-light-font: rgba($content-text-color) !default;
$calendar-bg-color: transparent !default;
$calendar-active-font-color: rgba($primary-text-color) !default;
$calendar-active-hover-font-color: rgba($primary) !default;
$calendar-active-today-font-color: rgba($primary-text-color) !default;
$calendar-active-today-hover-font-color: rgba($primary-text-color) !default;
$calendar-active-bg-color: rgba($primary) !default;
$calendar-active-bg-border-color: 1px solid rgba($primary) !default;
$calendar-active-bg-box-shadow: none !default;
$calendar-hover-color: $flyout-bg-color-hover !default;
$calendar-header-font-color: rgba($content-text-color) !default;
$calendar-header-icon-color: rgba($icon-color) !default;
$calendar-week-header-font-color: rgba($content-text-color-alt1) !default;
$calendar-title-font-color: rgba($content-text-color) !default;
$calendar-title-decoration-style: none !default;
$calendar-icon-font-color: rgba($icon-color) !default;
$calendar-active-icon-color: $calendar-icon-font-color !default;
$calendar-active-state-icon-bg-color: rgba($content-text-color, .12) !default;
$calendar-icon-hover-bg-color: rgba($content-text-color, .08) !default;
$calendar-device-icon-hover-bg-color: none !default;
$calendar-focus-date-color: rgba($flyout-text-color) !default;
$calendar-other-month-date: rgba($content-text-color-alt1, .84) !default;
$calendar-text-color: rgba($content-text-color) !default;
$calendar-hover-text: $calendar-text-color !default;
$calendar-text-color-focus: rgba($primary-text-color) !default;
$calendar-focus-bg-color: rgba($primary) !default;
$calendar-border-style: 1px solid rgba($border-light) !default;
$calendar-box-shadow: none !default;
$calendar-none-style: none !default;
$calendar-cursor-default-style: default !default;
$calendar-cursor-pointer-style: pointer !default;
$calendar-block-style: block !default;
$calendar-inline-block-style: inline-block !default;
$calendar-display-style: flex !default;
$calendar-wrapper-border-radius: 2px !default;
$calendar-full-width: 100% !default;
$calendar-lg-day-header-format-max-width: 100% !default;
$calendar-lg-day-header-format-min-width: 540px !default;
$calendar-header-font-size: 13px !default;
$calendar-title-font-size: 14px !default;
$calendar-focused-state-color: rgba($primary) !default;
$calendar-icon-line-height: 16px !default;
$calendar-bigger-max-width: 296px !default;
$calendar-bigger-min-width: 296px !default;
$calendar-normal-header-padding: 8px 12px 8px 12px !default;
$calendar-normal-width: 320px !default;
$calendar-normal-height: 420px !default;
$calendar-normal-max-width: 320px !default;
$calendar-normal-max-height: 420px !default;
$calendar-normal-min-width: 240px !default;
$calendar-weeknumber-min-width: 360px !default;
$calendar-weeknumber-bigger-width: 320px !default;
$calendar-normal-month-view-height: 40px !default;
$calendar-normal-month-view-line-height: 40px !default;
$calendar-normal-day-header-height: $calendar-normal-month-view-height !default;
$calendar-normal-day-header-text: none !default;
$calendar-normal-year-decade-height: 72px !default;
$calendar-normal-header-height: 40px !default;
$calendar-normal-icon-size: 36px !default;
$calendar-normal-today-button-height: 36px !default;
$calendar-border-radius: 36px !default;
$calendar-pointer-events: initial !default;
$calendar-float-right-style: right !default;
$calendar-icon-padding-top: 0 !default;
$calendar-float-left-style: left !default;
$calendar-table-padding: 0 8px 0 8px !default;
$calendar-zero-value: 0 !default;
$calendar-next-prev-icon-size: 16px !default;
$calendar-prev-icon: '\e910' !default;
$calendar-next-icon: '\e916' !default;
$calendar-date-font-size: 13px !default;
$calendar-yeardecade-bg-color: transparent !default;
$calendar-yeardecade-hover-color: rgba($content-bg-color) !default;
$calendar-title-font-weight-style: $font-weight-medium !default;
$calendar-spanicon-font-weight-style: 500 !default;
$calendar-title-margin-left-style: 5px !default;
$calendar-decade-title-left-margin-style: 5px !default;
$calendar-normal-year-decade-padding: 1px !default;
$calendar-icon-font-size-style: 15px !default;
$calendar-link-font-weight-style: normal !default;
$calendar-yeardeacde-span-padding: 2px !default;
$calendar-yeardecade-padding: 0 12px 0 12px !default;
$calendar-focused-date-bg-style: rgba($content-text-color, .16) !default;
$calendar-focused-today-bg-style: rgba($primary-bg-color, .08) !default;
$calendar-focused-today-border-style: 1px solid rgba($primary-bg-color) !default;
$calendar-focused-today-box-shadow: none !default;
$calendar-yeardecade-header-padding: 10px 10px 0 10px !default;
$calendar-week-header-bg-style: none !default;
$calendar-today-bg-style: none !default;
$calendar-disable-font-weight-style: normal !default;
$calendar-other-month-display-style: inline-block !default;
$calendar-other-month-row-display-style: none !default;
$calendar-week-number-font-style: italic !default;
$calendar-week-number-font-color: rgba($content-text-color-alt1) !default;
$calendar-week-number-color-style: rgba($content-text-color-alt1) !default;
$calendar-week-number-font-size-style: 12px !default;
$calendar-normal-month-cell-padding: 2px !default;
$calendar-yeardecade-hover-bg: $calendar-hover-color !default;
$calendar-normal-day-header-font-weight: normal !default;
$calendar-other-month-date-hover-bg: rgba($flyout-text-color-hover) !default;
$calendar-yeardecade-selected-hover-bg: $calendar-active-bg-color !default;
$calendar-yeardecade-font-weight: normal !default;
$calendar-today-color: rgba($primary) !default;
$calendar-today-focused-font-color: rgba($primary-bg-color) !default;
$calendar-today-focus-color: rgba($primary-bg-color) !default;
$calendar-today-border-color: 1px solid rgba($primary-bg-color) !default;
$calendar-today-box-shadow: none !default;
$calendar-disabled-today-box-shadow: none !default;
$calendar-disabled-today-font-color: $primary-text-disabled !default;
$calendar-focus-border-color: none !default;
$calendar-focus-box-shadow: none !default;
$calendar-hover-border-color: none !default;
$calendar-normal-month-view-width: $calendar-normal-month-view-height !default;
$calendar-normal-year-decade-width: $calendar-normal-year-decade-height !default;
$calendar-normal-year-decade-height-inside: 72px !default;
$calendar-popup-padding: 0 !default;
$calendar-popup-bigger-padding: 0 !default;
$calendar-thead-padding: 0 !default;
$calendar-week-normal-max-width: $calendar-normal-max-width !default;
$calendar-week-normal-min-width: $calendar-normal-min-width !default;
$calendar-week-bigger-max-width: $calendar-bigger-max-width !default;
$calendar-week-bigger-min-width: $calendar-bigger-min-width !default;
$calendar-today-bg-hover-color: rgba($primary-bg-color, .08) !default;
$calendar-disable-font-color: $calendar-light-font !default;
$calendar-disable-opacity: .35 !default;
$calendar-active-hover-bg-color: rgba($primary) !default;
$calendar-other-decade-cell-color: $calendar-other-month-date !default;
$calendar-icon-button-margin: 0 !default;
$calendar-selected-box-shadow: inset 0 0 0 2px $flyout-bg-color !default;
$calendar-selected-border-color: none !default;
$calendar-week-number-font-weight: 500 !default;
$calendar-normar-year-decade-width: 56px !default;
$calendar-header-title-padding: 5px !default;
$calendar-header-padding: 1 5px !default;
$calendar-title-focus-box-shadow: 0 0 0 1px rgba($primary) !default;
$calendar-title-focus-background: none !default;
$calendar-title-active-background: rgba($content-text-color, .12) !default;
$calendar-icon-focus-box-shadow: 0 0 0 1px rgba($primary) !default;
$calendar-title-border-radius: 4px !default;
$calendar-title-hover-bg-color: rgba($content-text-color, .08) !default;
$calendar-focused-cell-box-shadow: 0 0 0 1px rgba($primary) !default;
$calendar-footer-container-padding: 8px 12px 8px 12px !default;
$calendar-footer-border: none !default;
$calendar-footer-background: $calendar-bg-color !default;
$calendar-today-disabled-background-style: $transparent !default;
$calendar-today-disabled-border-style: $transparent !default;
$calendar-today-disabled-box-shadow: none !default;
$calendar-today-disabled-color: $primary-text-disabled !default;
$calendar-rtl-text-indent: 4px !default;
