@use '../../../base/styles/themes/variables' as *;

$calendar-normal-month-view-height: $spacing-40 !default;
$calendar-button-padding: $spacing-5 !default;
$calendar-normal-month-view-width: $calendar-normal-month-view-height !default;
$calendar-lg-day-header-format-max-width: 100% !default;
$calendar-lg-day-header-format-min-width: calc(var(--sf-spacing) * 33.75) !default;
$calendar-lg-day-header-format-min-weekwidth: calc(var(--sf-spacing) * 37.8125) !default;
$calendar-lg-day-header-format-min-orientation: calc(var(--sf-spacing) * 43.125) !default;
$calendar-lg-day-header-format-min-orientation-week: calc(var(--sf-spacing) * 46.875) !default;
$calendar-inline-block-style: inline-block !default;
$calendar-date-font-size: $font-size-sm !default;
$calendar-yeardecade-font-weight: normal !default;
$calendar-normal-year-decade-height-inside: $spacing-72 !default;
$calendar-normal-month-cell-padding: $spacing-2 !default;
$calendar-table-padding: $spacing-0 $spacing-8 $spacing-8 $spacing-8 !default;
$calendar-full-width: 100% !default;
$calendar-display-style: flex !default;
$calendar-footer-container-padding: $spacing-8 $spacing-12 !default;
$calendar-none-style: none !default;
$calendar-font-weight-style: calc(var(--sf-spacing) * 31.25) !default;
$calendar-normal-year-decade-width: $spacing-72 !default;
$calendar-cursor-pointer-style: pointer !default;
$calendar-title-font-size: $font-size-sm !default;
$calendar-title-font-weight-style: $font-weight-medium !default;
$calendar-float-left-style: left !default;
$calendar-header-title-padding: $spacing-8 !default;
$calendar-title-border-radius: $radius-4 !default;
$calendar-div-border-radius: $radius-8 !default;
$calendar-normal-header-padding: $spacing-8 $spacing-12 !default;
$calendar-decade-title-left-margin-style: $spacing-5 !default;
$calendar-cursor-default-style: default !default;
$calendar-bg-color: $flyout-bg-color !default;
$calendar-border-style: 1px solid rgba($border-light) !default;
$calendar-box-shadow: none !default;
$calendar-normal-width: calc(var(--sf-spacing) * 20) !default;
$calendar-orientation-width: calc(var(--sf-spacing) * 30.25) !default;
$calendar-min-width: 300px !default;
$calendar-orientation-header-width: calc(var(--sf-spacing) * 9.375) !default;
$calendar-orientation-header-min-width: 150px !default;
$calendar-normal-day-header-font-weight: normal !default;
$calendar-normal-day-header-height: $calendar-normal-month-view-height !default;
$calendar-normal-day-header-text: none !default;
$calendar-text-color: rgba($content-text-color) !default;
$calendar-week-header-font-color: rgba($content-text-color-alt1) !default;
$calendar-disable-opacity: .35 !default;
$calendar-week-number-font-color: rgba($content-text-color-alt1) !default;
$calendar-week-number-font-size-style: $spacing-12 !default;
$calendar-week-number-font-style: italic !default;
$calendar-hover-color: rgba($content-text-color, 0.1) !default;
$calendar-hover-border-color: none !default;
$calendar-border-radius: $radius-full !default;
$calendar-block-style: block !default;
$calendar-text-color: rgba($content-text-color) !default;
$calendar-hover-text: $calendar-text-color !default;
$calendar-focus-bg-color: rgba($primary) !default;
$calendar-text-color-focus: rgba($primary-text-color) !default;
$calendar-focus-border-color: none !default;
$calendar-active-bg-color: rgba($primary) !default;
$calendar-today-border-color: 1px solid rgba($primary-bg-color) !default;
$calendar-today-box-shadow: none !default;
$calendar-active-font-color: rgba($primary-text-color) !default;
$calendar-focused-today-bg-style: rgba($primary-bg-color, .08) !default;
$calendar-today-color: rgba($primary) !default;
$calendar-title-hover-bg-color: rgba($content-text-color, .08) !default;
$calendar-title-decoration-style: none !default;
$calendar-light-font: rgba($content-text-color) !default;
$calendar-other-month-date: rgba($content-text-color-alt1, .84) !default;
$calendar-focused-cell-box-shadow: 0 0 0 1px rgba($primary) !default;
$calendar-toolbar-bg: $content-bg-color-alt1 !default;
$calendar-toolbar-spacing: $spacing-24 !default;
$calendar-toolbar-font-weight: $font-weight-medium !default;
$calendar-toolbar-font-size: $font-size-2xl !default;
