@use 'theme-variables' as *;

@include export-module('calendar-theme') {
  .sf-calendar-content-table {
    &:focus-within {
      .sf-selected.sf-focused-date,
      .sf-focused-date {
        .sf-day {
          box-shadow: $calendar-focused-cell-box-shadow;
        }
      }
    }
  }

  .sf-calendar-toolbar {
    background: $calendar-toolbar-bg;
  }

  .sf-calendar {
    background: $calendar-bg-color;
    border: $calendar-border-style;
    box-shadow: $calendar-box-shadow;

    .sf-day {
      color: $calendar-text-color;
    }

    .sf-focused-date {
      .sf-day {
        background: $calendar-hover-color;
        border: $calendar-hover-border-color;
        border-radius: $calendar-border-radius;
        color: $calendar-hover-text;
      }
      &.sf-selected-date {
        box-shadow: $calendar-focused-cell-box-shadow;
      }
    }

    .sf-cell {
      &:hover .sf-day {
        background: $calendar-hover-color;
        border: $calendar-hover-border-color;
        border-radius: $calendar-border-radius;
        color: $calendar-hover-text;
      }

      &:focus .sf-day {
        background: $calendar-focus-bg-color;
        color: $calendar-text-color-focus;
        border: $calendar-focus-border-color;
        border-radius: $calendar-border-radius;
      }
    }

    .sf-today {
      .sf-day {
        background: $calendar-focused-today-bg-style;
        border: $calendar-today-border-color;
        border-radius: $calendar-border-radius;
        box-shadow: $calendar-today-box-shadow;
        color: $calendar-today-color;
      }

      &:hover .sf-day {
        background: $calendar-focused-today-bg-style;
        border: $calendar-today-border-color;
        border-radius: $calendar-border-radius;
        box-shadow: $calendar-today-box-shadow;
        color: $calendar-today-color;
      }
    }

    .sf-selected,
    .sf-selected:hover {
      .sf-day {
        background: $calendar-active-bg-color;
        border: $calendar-today-border-color;
        border-radius: $calendar-border-radius;
        box-shadow: $calendar-today-box-shadow;
        color: $calendar-active-font-color;
      }
    }

    .sf-week-number {
      color: $calendar-other-month-date;
    }

    .sf-week-header {
      color: $calendar-week-header-font-color;
    }

    .sf-other-year .sf-day,
    .sf-other-month:not(.sf-selected) .sf-day {
      color: $calendar-other-month-date;
    }

    .sf-zoomin {
      animation: ZoomIn .3s;
    }
  }
}
