$grid-content-padding: 13px !default;
$grid-icon-color: $icon-color !default;
$grid-border-style: solid !default;
$grid-content-font-family: $font-family !default;
$grid-header-font-size: 14px !default;
$grid-header-text-color: $content-text-color-alt1 !default;
$grid-text-color: $content-text-color !default;
$grid-sort-number-bg: $content-bg-color-alt2 !default;
$grid-sort-number-text-color: $content-text-color-alt1  !default;
$grid-table-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-color: $table-bg-color-selected !default;
$grid-row-selection-hover-bg-color: $table-bg-color-selected-hover !default;
$grid-text-wrap-margin-bottom: 2px !default;
$grid-text-wrap-margin-top: 0 !default;
$grid-header-padding-bottom: 12px !default;
$grid-header-padding-top: 12px !default;
$grid-headercell-line-height: 20px !default;
$grid-filterbar-cell-text-indent: 1px !default;
$grid-rtl-header-first-cell-border-left: 0 !default;
$grid-toolbar-border: 1px solid !default;
$grid-filter-padding: 0 !default;
$grid-sort-number-border-radius: 65% !default;
$grid-wrap-sort-number-margin: 0 2px 0 0 !default;
$grid-wrap-sort-icon-margin: -9px 10px !default;
$grid-rtl-headercell-border-width: 0 !default;
$grid-rtl-wrap-sort-number-margin: 0 5px 0 0 !default;
$grid-device-headercell-padding: 6px 12px 6px !default;
$grid-device-header-first-cell-padding: 6px 12px 6px 16px !default;
$grid-device-header-last-cell-padding: 6px 16px 6px 12px !default;
$grid-device-rowcell-padding: 8px 12px !default;
$grid-device-row-first-cell-padding: 8px 12px 8px 16px !default;
$grid-device-row-last-cell-padding: 8px 16px 8px 12px !default;
$grid-device-filterbar-cell-padding: 8px 12px !default;
$grid-device-filterbar-first-cell-padding: 8px 12px 8px 16px !default;
$grid-device-filterbar-last-cell-padding: 8px 16px 8px 12px !default;
$grid-filter-padding: 2px !default;
$grid-rtl-filter-padding: 2px !default;
$grid-rtl-filter-float: left !default;
$grid-rtl-headercell-filter-icon-padding: 0 1.6em 0 10px !default;
$grid-row-bg-color: rgba($content-bg-color) !default;
$grid-header-bg-color: $content-bg-color-alt1 !default; 
$grid-headercell-both-border-width: 0 0 0 1px !default;
$grid-headercell-margin: -7px -7px -7px -5px !default;
$grid-icon-font-size: 16px !default;
$grid-border-width: 1px !default;
$grid-header-padding: 12px !default;
$grid-header-wrap-sort-filter-margin: -29px 10px !default;
$grid-headercell-right-align-padding: 0 8px !default;
$grid-headercell-height: 48px !default;
$grid-filterbar-cell-height: 58px !default;
$grid-header-font-weight: 500 !default;
$grid-filter-cell-both-border-width: 1px 0 1px 1px !default;
$grid-border-color: rgba($border-light) !default;
$grid-rowcell-line-height: 21px !default;
$grid-hover-content-text-color: rgba($content-text-color-hover) !default;
$grid-content-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-bg-color: $table-bg-color-selected !default;
$grid-hover-bg-color: $content-bg-color-hover !default;
$grid-content-text-size: 14px !default;
$grid-header-height: 20px !default;
$grid-rowcell-border-width: 1px 0 0 !default;
$grid-content-right-padding: 12px !default;
$grid-toolbar-search-margin-bottom: 0 !default;
$grid-toolbar-search-width: 160px !default;
$grid-toolbar-search-icon-min-width: 32px !default;
$grid-toolbar-search-clear-icon-min-width: 32px !default;
$grid-toolbar-search-clear-icon-font-size: 16px !default;
$grid-toolbar-search-clear-icon-padding: 0 !default;
$grid-toolbar-search-clear-icon-margin-right: 0 !default;
$grid-rtl-toolbar-search-clear-icon-padding: 0 !default;
$grid-rtl-toolbar-search-clear-icon-margin: 0 !default;
$grid-toolbar-search-wrapper-padding-bottom: 3px !default;
$grid-toolbar-search-wrapper-padding-top: 3px !default;
$grid-summary-cell-font-size: 14px !default;
$grid-filterbar-cell-border-width: 1px 0 0 !default;
$grid-filterbar-cell-padding: 6px 12px !default;
$grid-filterbar-input-border-width: 0 !default;
$grid-border-radius: 1px !default;
$grid-summary-row-bg: $content-bg-color-alt1 !default;
$grid-sort-width: 20px !default;
$grid-sort-height: 20px !default;
$grid-sort-number-margin: 0 4px 0 12px !default;
$grid-sort-number-right-align-margin: 0 2px 0 -2px !default;
$grid-sort-number-line-height: 20px !default;
$grid-sort-right-align-margin: -19px 8px -12px -6px !default;
$grid-sort-mg: -19px -4px -12px 8px !default;
$grid-sort-padding: 2px !default;
$grid-rowcell-both-border-width: 1px 0 0 1px !default;
$grid-summary-cell-line-height: 21px !default;
$grid-validation-error-text-color: rgba($error) !default;
$grid-validation-error-bg-color: rgba($error-container) !default;
$grid-edit-input-padding-bottom: 1px !default;
$grid-edit-input-padding-top: 2px !default;
$grid-edit-input-margin: 3px !default;
$grid-edit-top-cell-padding: 0 !default;
$grid-edit-cell-padding: 0 !default;
$grid-rtl-sort-number-margin: 0 8px 0 4px !default;
$grid-rtl-sort-number-right-align-margin: 0 8px 0 2px !default;
$grid-rtl-sort-cell-margin: -19px 8px -12px -2px !default;
$grid-rtl-sort-cell-right-align-margin: -19px 8px -12px -2px !default;
$grid-rtl-headercell-border-width: 0 !default;
$grid-rtl-headercell-padding: 0 .4em 0 2.2em !default;
$grid-headercell-sort-padding-right: 8px !default;
$grid-headercell-padding: 0 1.4em 0 .4em !default;
$grid-filterbar-border-radius: 4px !default;
$grid-header-border-width: 0 !default;
$grid-edit-input-margin-top: 0 !default;
$grid-filterbar-cell-text-input: 32px !default;
$grid-cell-focus-shadow: 0 0 0 1px rgba($primary) inset !default;
$grid-header-wrap-right-align-sort-margin: -29px -5px !default;
$grid-rowcell-wrap-height: 21px !default;
$grid-header-text-transform: none !default;
$grid-sort-number-size: 20px !default;
$grid-sort-number-font-size: 14px !default;
$grid-toolbar-searchwrapper-text-color: rgba($placeholder-text-color) !default;
$grid-toolbar-search-bar-text-opacity: 1 !default;
$grid-row-boolean-cell-color: rgba($primary-text-color) !default;
$grid-sort-margin: -19px 2px !default;
$grid-sort-right-margin: 0 4px 0 4px !default;
