$tooltip-wrapper-drop-shadow: $shadow-sm !default;
$tooltip-wrapper-border-radius: 4px !default;
$tooltip-wrapper-max-width: 350px !default;
$tooltip-wrapper-min-width: 30px !default;
$tooltip-wrapper-border: 1px solid rgb($tooltip-border) !default;

$tooltip-close-icon-border: 1px solid rgb($tooltip-text-color) !default;
$tooltip-close-icon-height: 20px !default;
$tooltip-close-icon-width: 20px !default;
$tooltip-close-icon-border-radius: 50% !default;
$tooltip-close-icon-box-shadow: $shadow-sm !default;
$tooltip-close-icon-right: -9px !default;
$tooltip-close-icon-top: -9px !default;
$tooltip-close-icon-padding: 2px !default;
$tooltip-close-icon-font-size: $font-size-14 !default;

$tooltip-tip-directions: (
    'bottom': (left: 50%, top: 100%),
    'top': (left: 50%, top: -9px),
    'left': (left: -9px, top: 48%),
    'right': (left: 100%, top: 50%)) !default;

$tooltip-content-bg-color: rgb($tooltip-bg-color) !default;
$tooltip-content-border-color: rgb($tooltip-border) !default;
$tooltip-content-font-color: rgb($tooltip-text-color) !default;
$tooltip-content-padding: 4px 8px !default;
$tooltip-content-font-size: $font-size-12 !default;

$tooltip-icon-color: rgb($tooltip-text-color) !default;
$tooltip-icon-bg-color: rgb($tooltip-bg-color) !default;
$tooltip-icon-hover-color: rgb($tooltip-bg-color) !default;
$tooltip-icon-bg-hover: rgb($tooltip-text-color) !default;

$tooltip-arrow-icon-positions: 16px !default;
$tooltip-arrow-transparent-border: 8px solid transparent !default;
$tooltip-arrow-colored-border: 8px solid $tooltip-content-border-color !default;
$tooltip-arrow-x-width: 8px !default;
$tooltip-arrow-x-height: 16px !default;
$tooltip-arrow-y-width: 16px !default;
$tooltip-arrow-y-height: 8px !default;