@use 'mixin' as *;
@use 'theme-variables' as *;

@include export-module('grid-layout') {

  .sf-grid {
    @include grid-border-style-weight(none $grid-border-style $grid-border-style, $grid-border-width);
    display: block;
    font-size: $grid-content-text-size;
    height: auto;
    position: relative;
    isolation: isolate;
  }

  .sf-toolbar.sf-sticky,
  .sf-grid-header-container.sf-sticky {
    position: sticky;
    z-index: $grid-z-index-10;
  }

  .sf-grid-header-container {
    user-select: none;
    border-bottom-style: $grid-border-style;
    border-bottom-width: $grid-border-width;
    border-top-style: $grid-border-style;
    border-top-width: $grid-border-width;
  }

  .sf-grid.sf-wrap .sf-cell,
  .sf-grid-content-container.sf-wrap .sf-cell,
  .sf-grid.sf-wrap .sf-grid-header-text,
  .sf-grid-header-row.sf-wrap .sf-grid-header-text {
    height: Auto;
    line-height: $grid-rowcell-wrap-height;
    overflow-wrap: break-word;
    text-overflow: clip;
    white-space: normal;
  }

  .sf-virtual-track {
    z-index: 0;
    position: relative;
  }

  .sf-virtual-table {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .sf-virtual-vertical-scrollbar {
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
  }

  .sf-virtual-horizontal-scrollbar {
    overflow-x: scroll;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .sf-grid-edit-row .sf-last-row {
    border-bottom: $grid-border-width $grid-border-style $grid-border-color;
    border-top: $grid-border-0 none $grid-border-color;
  }

  .sf-grid-edit-row .sf-cell,
  .sf-grid-detail-cell {
    border-top: $grid-border-width $grid-border-style;
  }

  .sf-grid .sf-toolbar, .sf-grid .sf-group-drop-area:not(.sf-group-drag-clone-hover) {
    border-top: $grid-toolbar-border $grid-border-color;
  }

  .sf-grid-search {
    width: $grid-toolbar-search-width;
  }

  .sf-grid-table {
    table-layout: fixed;
    width: $grid-percentage-100;
  }

  .sf-grid-header-row .sf-cell {
    @include border-and-font($grid-border-style, $grid-header-border-width, $grid-header-font-size, $grid-header-font-weight);
    overflow: hidden;
    padding: $grid-header-padding-top $grid-header-padding $grid-header-padding-bottom;
    position: relative;
    text-align: left;
    letter-spacing: $grid-header-letter-spacing;
    user-select: none;
    border-top: $grid-border-0 none;

    &.sf-mousepointer {
      cursor: pointer;
    }

    &.sf-defaultcursor {
      cursor: default;
    }
  }

  .sf-grid-content-row .sf-cell:not(.sf-display-none) {
    @extend %no-wrap-styles;
    @include grid-border-style-weight($grid-border-style, $grid-rowcell-border-width);
    @include grid-line-height-padding-styles($grid-rowcell-line-height, $grid-content-padding $grid-content-right-padding);
    display: table-cell;
    font-size: $grid-content-text-size;
    width: auto;
    letter-spacing: $grid-letter-spacing;
    user-select: none;

    &.sf-last-cell {
      border-bottom-width: $grid-border-1;
    }

    &.sf-cell-range-top {
      border-top: 1px solid $grid-cell-range-selection-border-color;
    }

    &.sf-cell-range-bottom {
      border-bottom: 1px solid $grid-cell-range-selection-border-color;
    }

    &.sf-cell-range-left {
      border-left: 1px solid $grid-cell-range-selection-border-color;
    }

    &.sf-cell-range-right {
      border-right: 1px solid $grid-cell-range-selection-border-color;
    }
  }

  .sf-right-align.sf-cell {
    text-align: right;
  }

  .sf-left-align.sf-cell {
    text-align: left;
  }

  .sf-center-align.sf-cell {
    text-align: center;
  }

  .sf-justify-align.sf-cell {
    text-align: justify;
  }

  .sf-right-align .sf-grid-header-cell {
    justify-content: flex-start;
  }

  .sf-right-align .sf-grid-header-cell {
    justify-content: flex-end;
  }

  .sf-center-align .sf-grid-header-cell {
    justify-content: center;
  }

  .sf-rtl .sf-right-align .sf-grid-header-cell {
    justify-content: flex-end;
  }

  .sf-rtl .sf-right-align .sf-grid-header-cell {
    justify-content: flex-start;
  }

  .sf-grid.sf-rtl .sf-checkbox-wrapper.sf-rtl {
    flex-direction: row;
  }

  .sf-cell.sf-right-align .sf-checkbox-wrapper.sf-rtl {
      flex-direction: row-reverse;
  }
  
  .sf-cell.sf-right-align .sf-checkbox-wrapper {
      justify-content: flex-end;
  }
  
  .sf-cell.sf-center-align .sf-checkbox-wrapper {
      justify-content: center;
  }

  .sf-grid .sf-checkbox-label {
    width: auto;
  }

  .sf-grid:not(.sf-row-min-height) .sf-empty-cell {
    height: calc($grid-rowcell-line-height + $grid-content-padding + $grid-content-padding);
  }

  .sf-grid-summary-row .sf-cell {
    @extend %no-wrap-styles;
    @include border-and-font(solid, $grid-border-1 $grid-border-0 $grid-border-0, $grid-summary-cell-font-size, $grid-header-font-weight);
    @include grid-line-height-padding-styles($grid-summary-cell-line-height, $grid-content-padding $grid-content-right-padding);
    height: auto;
    letter-spacing: $grid-header-letter-spacing;
    user-select: none;
  }

  .sf-grid:not(.sf-rtl) {
    .sf-grid-header-row,
    .sf-filter-row {
      .sf-cell:first-child {
        border-left-width: $grid-border-0;
      }
    }
  }

  .sf-empty-row td {
    @include grid-line-height-padding-styles($grid-rowcell-line-height, .7em);
    letter-spacing: $grid-letter-spacing;
    font-size: $grid-content-text-size;
  }

  .sf-filter-bar-table .sf-grid-header-row .sf-cell,
  .sf-both-lines .sf-grid-header-row .sf-cell {
    border-width: $grid-headercell-both-border-width;
  }

  .sf-cell-inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: inherit;
    overflow: hidden;
    margin: $grid-cell-inner-margin;
  }

  .sf-grid-header-cell {
    @include grid-line-height-padding-styles($grid-headercell-line-height, $grid-header-padding-top $grid-header-padding $grid-header-padding-bottom);
    width: $grid-percentage-100;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: inherit;
    overflow: hidden;
    border: $grid-border-0 none;
    text-transform: $grid-header-text-transform;
  }

  .sf-grid-sort-container {
    margin-inline-start: $grid-spacing-5;
    flex-shrink: 0;
    display: inline-block;
  }

  .sf-grid-sort-order {
    margin-inline-start: $grid-spacing-5;
    flex-shrink: 0;
    display: inline-block;
    min-width: $grid-min-width-16;
    border-radius: $grid-sort-order-border-radius;
    text-align: center;
    font-size: $grid-sort-order-font-size;
    line-height: $grid-sort-order-line-height;
    width: $grid-sort-order-size;
  }

  .sf-grid-header-text {
    @extend %no-wrap-styles;
    min-width: $grid-min-width-0;
    flex-shrink: 1;
  }

  .sf-vertical-lines {
    .sf-grid-content-row .sf-cell,
    .sf-grid-header-row .sf-cell,
    .sf-filter-row .sf-cell {
      border-width: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-width;
    }
  }

  .sf-hide-lines {
    .sf-grid-content-row .sf-cell,
    .sf-grid-header-row .sf-cell,
    .sf-filter-row .sf-cell  {
      border-width: $grid-border-0;
    }
  }

  .sf-both-lines .sf-grid-content-row .sf-cell {
    border-width: $grid-rowcell-both-border-width;
  }

  .sf-horizontal-lines {
    .sf-grid-header-row .sf-cell {
      border-width: $grid-border-0;
    }

    .sf-grid-content-row .sf-cell,
    .sf-filter-row .sf-cell {
      border-width: $grid-border-width $grid-border-0 $grid-border-0;
    }
  }

  .sf-horizontal-lines,
  .sf-vertical-lines,
  .sf-hide-lines,
  .sf-both-lines {
    .sf-grid-content-row .sf-last-cell {
      border-bottom-width: $grid-border-width;
    }
  }

  .sf-both-lines:not(.sf-rtl),
  .sf-vertical-lines:not(.sf-rtl) {
    .sf-grid-content-row .sf-cell:first-child {
      border-left-width: $grid-border-0;
    }
  }

  .sf-spanned-grid.sf-both-lines:not(.sf-rtl),
  .sf-spanned-grid.sf-vertical-lines:not(.sf-rtl) {
    .sf-grid-content-row .sf-cell:first-child:not(.row-first-cell) {
      border-left-width: $grid-border-1;
    }
  }

  .sf-filter-row .sf-cell {
    @include grid-border-style-weight($grid-border-style, $grid-filter-cell-both-border-width);
    border-collapse: collapse;
    cursor: default;
    overflow: hidden;
    padding: $grid-filterbar-cell-padding;
    vertical-align: bottom;
  }

  .sf-filter-cell {
    padding: $grid-filter-padding;
    position: relative;
    text-align: center;
    width: $grid-percentage-100;
  }

  .sf-filterbar-dropdown .sf-dropdown-list {
    display: none;
  }

  .sf-filterbar-dropdown.sf-focused {
    border-radius: $grid-spacing-5;
  }

  .sf-filterbar-dropdown.sf-input-group::before, .sf-filterbar-dropdown.sf-input-group::after {
    height: unset;
  }

  .sf-grid-filterbar {
    .sf-filterbar-dropdown {
      width: unset;
      border-bottom-color: transparent;
      margin-top: $grid-spacing-16;
    }

    .sf-icon-rotate {
      transform: unset;
      transition: unset;
    }

    .sf-input-group:not(.sf-filterbar-dropdown) {
      width: $grid-filterbar-operator-input-width !important;
      margin-right: $grid-spacing-10;
    }

    .sf-input-group.sf-outline .sf-label-top {
      max-width: calc(100% - 25px);
      text-align: left;
    }
  }

  .sf-grid-footer-padding .sf-cell:last-child {
    border-inline-end: $grid-border-1 solid $grid-border-color;
  }

  .sf-grid-content {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
  }

  .sf-grid-header-content {
    @include grid-border-style-weight(solid, $grid-border-0);
    overflow: hidden;
  }

  .sf-grid-summary-content {
    overflow: hidden;
  }

  .sf-grid-edit-row {
    padding: $grid-spacing-0;
    .sf-cell:not(.sf-display-none) {
      @include grid-top-bottom-padding($grid-edit-cell-padding, $grid-edit-top-cell-padding);
    }
  }

  .sf-grid-content-row:first-child .sf-cell {
    border-top: $grid-border-0;
  }

  .sf-rtl {
    &.sf-both-lines .sf-grid-content-row,
    &.sf-vertical-lines .sf-grid-content-row,
    .sf-grid-header-row,
    .sf-filter-row {
      .sf-cell:last-child {
        border-left-width: $grid-border-0;
      }
    }
    &.sf-spanned-grid {
      &.sf-both-lines .sf-grid-content-row,
      &.sf-vertical-lines .sf-grid-content-row,
      .sf-grid-header-row,
      .sf-filter-row {
        .sf-cell:last-child:not(.row-last-cell) {
          border-left-width: $grid-border-1;
        }
      }
    }
    .sf-virtual-vertical-scrollbar {
      left: 0;
      right: auto;
    }
  }

  .sf-grid-command-cell.sf-cell:not(.sf-display-none) {
    padding: $grid-command-cell-padding;
  }
  .sf-grid-command-items {
    display: inline-flex;
    gap: 8px;

    .sf-btn.sf-icon-btn {
      border-radius: $grid-command-item-border-radius;
    }
  }

  .sf-grid-popup-edit .sf-grid-edit-table {
    border-collapse: separate;
    width: 100%;
    border-spacing: $grid-spacing-0;

    tr:not(:last-child) td {
      padding: $grid-spacing-0 $grid-spacing-0 $grid-spacing-16;
    }
  }

  .sf-selection-delete-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .sf-selection-delete-option {
    padding: $spacing-8 $grid-spacing-20;
    border-radius: $grid-radius-4;
  }

  .sf-selection-delete-option-inner {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }

  .sf-selection-delete-option-label {
    font-weight: $grid-header-font-weight;
    font-size: $grid-delete-option-font-size;
    line-height: $grid-rowcell-wrap-height;
    margin-bottom: $grid-spacing-4;
  }

  .sf-selection-delete-option-description {
    font-size: $grid-sort-order-font-size;
    line-height: $grid-sort-order-line-height;
  }
}

.sf-row-min-height:not(.sf-wrap) {
  .sf-grid-content-row.sf-grid-row-height .sf-cell:not(.sf-templatecell),
  .sf-grid-content-row.sf-grid-row-height .sf-cell:has(> .fixed-height-wrapper) {
    line-height: 0;
    @include grid-top-bottom-padding($grid-spacing-0, $grid-spacing-0);
  }

  .sf-grid-summary-row.sf-grid-row-height .sf-cell:not(.sf-templatecell),
  .sf-grid-summary-row.sf-grid-row-height .sf-cell:has(> .fixed-height-wrapper) {
    @include grid-line-height-padding-styles($grid-line-height-xs, $grid-spacing-0 $grid-spacing-8);
  }

  .fixed-height-wrapper {
    @extend %flex-template-col;
  }
}

.sf-excel-filter {
  position: absolute;

  .sf-excel-contextmenu-wrapper ul {
    padding: $grid-excel-contextmenu-wrapper-padding;
    position: static;
    display: block;
    margin: $grid-excel-contextmenu-wrapper-margin;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }

  .sf-excel-contextmenu-wrapper ul {
    .sf-menu-item {
      padding: $grid-excel-contextmenu-menu-item-padding;
    }

    .sf-menu-item.sf-disabled {
      cursor: auto;
      pointer-events: none;
    }

    .sf-excel-separator {
      border-bottom-style: solid;
      border-bottom-width: $grid-spacing-1;
      height: auto;
      margin: $grid-spacing-4 $grid-spacing-0;
    }

    li .sf-menu-icon {
      margin-right: $grid-spacing-12;
    }
  }

  .sf-dlg-content {
    padding: $grid-excel-filter-dlg-content-padding;
    font-size: $grid-font-size;
    font-weight: $grid-header-font-normal;
    overflow-y: hidden;

    .sf-font-size-sm {
      font-size: $grid-font-size;
    }
  }

  .sf-virtual-scroll-container {
    margin-top: $grid-excel-filter-virtual-container-margin-top;
    border-bottom-width: $grid-spacing-1;
    border-bottom-style: solid;
  }

  .sf-search-clear.sf-search-icon {
    margin-right: $grid-spacing-8;
    margin-bottom: $grid-spacing-2;
  }

  .sf-spinner {
    height: 200px;
    min-height: 160px;
    overflow-y: auto;
  }

  .sf-filter-checkbox {
    padding: $grid-checkbox-filtertext-padding;
    margin-bottom: $grid-checkbox-filtertext-margin-bottom;

    .sf-checkbox-label {
      overflow: hidden;
      padding: $grid-filter-checkbox-padding;
    }

    .sf-checkbox-label .sf-label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .sf-virtual-checkbox {
    width: $grid-percentage-100 !important;
  }

  .sf-checkbox-filtertext {
    word-break: normal;
  }

  .sf-search-container,
  .sf-grid-excel-filter-container {
    padding: $grid-checkbox-filter-search-container-padding;
  }

  .sf-search-container:not(.sf-checkbox-filter),
  .sf-grid-excel-filter-container {
    border-top-width: $grid-spacing-1;
    border-top-style: solid;
  }

  .sf-grid-excel-filter-type {
    padding: $grid-excel-filter-type-padding;

    .sf-excel-top-separator {
      margin-top: $grid-excel-filter-type-top-separator;
    }

    .sf-excel-left-separator {
      margin-left: $grid-spacing-8;
    }
  }

  .sf-excel-top-separator {
    .sf-btn.sf-control {
      font-size: $grid-excel-filter-separator-btn-font-size;
      font-size: 14px;
    }
  }

  .sf-grid-excel-filter-container {
    .sf-excel-top-separator {
      margin-top: $grid-spacing-12;
    }

    .sf-excel-left-separator {
      margin-left: $grid-spacing-12;
    }
  }

  li.sf-separator.sf-excel-separator {
    border-bottom-style: solid;
    border-bottom-width:  $grid-spacing-1;
    height: auto;
    margin: $grid-spacing-4 $grid-spacing-0;
  }
}

.sf-grid-filter-container.sf-icons {
  margin-left: $grid-spacing-5;
}

.sf-excel-shimmer {
  display: flex;
  flex-direction: column;
}

.sf-excel-empty-checkbox {
  text-align: center;
}

.sf-column-chooser-dialog {
  .sf-dlg-header,
  .sf-checkbox-label .sf-label {
    font-size: $grid-font-size;
  }
  .sf-columnchooser-empty {
    padding: $grid-spacing-16;
    text-align: center;
  }
  .sf-columnchooser-content {
    height: 200px;
    min-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .sf-columnchooser-selectall,
  .sf-columnchooser-listitem {
    padding: $grid-columnchooser-listitem-padding;
    margin-bottom: $grid-columnchooser-listitem-margin-bottom;
  }
  .sf-columnchooser-search-icon {
    margin: $grid-columnchooser-search-icon-margin;
  }
  .sf-columnchooser-search {
    margin-bottom: $grid-spacing-16;
  }
  .sf-columnchooser-main {
    display: flex;
    flex-direction: column;
  }
  .sf-dlg-content {
    padding: $grid-columnchooser-dlg-content-padding;
  }
}

.sf-disableuserselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sf-cell-editing {
  padding-inline: $grid-spacing-10;
  .sf-checkbox-wrapper {
    justify-content: center;
  }
}

.sf-grid-checkbox-hidden {
    visibility: hidden;
}

.sf-group-drop-area {
  display: flex;
  height: $grid-group-drop-area-height;
  padding: $grid-spacing-8 $grid-spacing-12;
  overflow: hidden;
  align-items: center;
}

.sf-group-drag-clone-hover {
  border-width: $grid-border-width;
  border-style: dashed;
}

.sf-group-drop-hint {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sf-group-chip-container,
.sf-group-chip-template {
  display: inline-flex;
  gap: $spacing-6;
  align-items: center;
}

.sf-groupable-header-clone,
.sf-groupable-header-clone:hover {
  z-index: 1000;
}

.sf-groupable-header-clone.sf-cursor-not-allowed,
.sf-groupable-header-clone.sf-cursor-not-allowed:hover {
  cursor: not-allowed;
}

.sf-grid-sort-container.sf-ascending-descending {
  display: inline-grid;
}

.sf-grid-groupcaptioncell {
  user-select: none;
  display: flex;
  align-items: center;
  gap: $spacing-10;
}

.sf-detail-toggle-icon {
  margin-right: $spacing-10;
}

.sf-group-togglebtn, .sf-detail-toggle-icon {
  border: none;
  cursor: pointer;
  padding: $spacing-4;
  border-radius: $radius-full;
}