@include export-module('grid-layout') {

  .sf-grid {
    @include grid-border-style-weight(none $grid-border-style $grid-border-style, $grid-border-width);
    display: block;
    font-size: $grid-content-text-size;
    height: auto;
    position: relative;
  }

  .sf-toolbar.sf-sticky,
  .sf-grid-header-container.sf-sticky {
    position: sticky;
    z-index: $grid-z-index-10;
  }

  .sf-grid-header-container {
    user-select: none;
    border-bottom-style: $grid-border-style;
    border-bottom-width: $grid-border-width;
    border-top-style: $grid-border-style;
    border-top-width: $grid-border-width;
  }

  .sf-grid.sf-wrap .sf-cell,
  .sf-grid-content-container.sf-wrap .sf-cell,
  .sf-grid.sf-wrap .sf-grid-header-text,
  .sf-grid-header-row.sf-wrap .sf-grid-header-text {
    height: Auto;
    line-height: $grid-rowcell-wrap-height;
    overflow-wrap: break-word;
    text-overflow: clip;
    white-space: normal;
  }

  .sf-grid-edit-row .sf-last-row {
    border-bottom: $grid-border-width $grid-border-style $grid-border-color;
    border-top: $grid-border-0 none $grid-border-color;
  }

  .sf-grid-edit-row .sf-cell {
    border-top: $grid-border-width $grid-border-style;
  }

  .sf-grid .sf-toolbar {
    border-top: $grid-toolbar-border $grid-border-color;
  }

  .sf-grid-search {
    width: $grid-toolbar-search-width;
  }

  .sf-grid-table {
    table-layout: fixed;
    width: $grid-percentage-100;
  }

  .sf-grid-header-row .sf-cell {
    @include border-and-font($grid-border-style, $grid-header-border-width, $grid-header-font-size, $grid-header-font-weight);
    overflow: hidden;
    padding: $grid-header-padding-top $grid-header-padding $grid-header-padding-bottom;
    position: relative;
    text-align: left;
    letter-spacing: $grid-letter-spacing;
    user-select: none;
    border-top: $grid-border-0 none;

    &.sf-mousepointer {
      cursor: pointer;
    }

    &.sf-defaultcursor {
      cursor: default;
    }
  }

  .sf-grid-content-row .sf-cell:not(.sf-display-none) {
    @extend %no-wrap-styles;
    @include grid-border-style-weight($grid-border-style, $grid-rowcell-border-width);
    @include grid-line-height-padding-styles($grid-rowcell-line-height, $grid-content-padding $grid-content-right-padding);
    display: table-cell;
    font-size: $grid-content-text-size;
    width: auto;
    letter-spacing: $grid-letter-spacing;

    &.sf-last-cell {
      border-bottom-width: $grid-border-1;
    }
  }

  .sf-right-align.sf-cell {
    text-align: right;
  }

  .sf-left-align.sf-cell {
    text-align: left;
  }

  .sf-center-align.sf-cell {
    text-align: center;
  }

  .sf-justify-align.sf-cell {
    text-align: justify;
  }

  .sf-right-align .sf-grid-header-cell {
    justify-content: flex-start;
  }

  .sf-right-align .sf-grid-header-cell {
    justify-content: flex-end;
  }

  .sf-center-align .sf-grid-header-cell {
    justify-content: center;
  }

  .sf-rtl .sf-right-align .sf-grid-header-cell {
    justify-content: flex-end;
  }

  .sf-rtl .sf-right-align .sf-grid-header-cell {
    justify-content: flex-start;
  }

  .sf-grid:not(.sf-row-min-height) .sf-empty-cell {
    height: calc($grid-rowcell-line-height + $grid-content-padding + $grid-content-padding);
  }

  .sf-grid-summary-row .sf-cell {
    @extend %no-wrap-styles;
    @include border-and-font(solid, $grid-border-1 $grid-border-0 $grid-border-0, $grid-summary-cell-font-size, $grid-header-font-weight);
    @include grid-line-height-padding-styles($grid-summary-cell-line-height, $grid-content-padding $grid-content-right-padding);
    height: auto;
    letter-spacing: $grid-letter-spacing;
  }

  .sf-grid:not(.sf-rtl) {
    .sf-grid-header-row,
    .sf-filter-row {
      .sf-cell:first-child {
        border-left-width: $grid-border-0;
      }
    }
  }

  .sf-empty-row td {
    @include grid-line-height-padding-styles($grid-rowcell-line-height, .7em);
    letter-spacing: $grid-letter-spacing;
    font-size: $grid-content-text-size;
  }

  .sf-filter-bar-table .sf-grid-header-row .sf-cell,
  .sf-both-lines .sf-grid-header-row .sf-cell {
    border-width: $grid-headercell-both-border-width;
  }

  .sf-cell-inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: inherit;
    overflow: hidden;
    margin: $grid-spacing--12;
  }

  .sf-grid-header-cell {
    @include grid-line-height-padding-styles($grid-headercell-line-height, $grid-header-padding-top $grid-header-padding $grid-header-padding-bottom);
    width: $grid-percentage-100;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: inherit;
    overflow: hidden;
    border: $grid-border-0 none;
    text-transform: $grid-header-text-transform;
  }

  .sf-grid-sort-container {
    margin-inline-start: $grid-spacing-5;
    flex-shrink: 0;
    display: inline-block;
  }

  .sf-grid-sort-order {
    margin-inline-start: $grid-spacing-5;
    flex-shrink: 0;
    display: inline-block;
    min-width: $grid-min-width-16;
    border-radius: $grid-sort-order-border-radius;
    text-align: center;
    font-size: $grid-sort-order-font-size;
    line-height: $grid-sort-order-line-height;
    width: $grid-sort-order-size;
  }

  .sf-grid-header-text {
    @extend %no-wrap-styles;
    min-width: $grid-min-width-0;
    flex-shrink: 1;
  }

  .sf-vertical-lines {
    .sf-grid-content-row .sf-cell,
    .sf-grid-header-row .sf-cell,
    .sf-filter-row .sf-cell {
      border-width: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-width;
    }
  }

  .sf-hide-lines {
    .sf-grid-content-row .sf-cell,
    .sf-grid-header-row .sf-cell,
    .sf-filter-row .sf-cell  {
      border-width: $grid-border-0;
    }
  }

  .sf-both-lines .sf-grid-content-row .sf-cell {
    border-width: $grid-rowcell-both-border-width;
  }

  .sf-horizontal-lines {
    .sf-grid-header-row .sf-cell {
      border-width: $grid-border-0;
    }

    .sf-grid-content-row .sf-cell,
    .sf-filter-row .sf-cell {
      border-width: $grid-border-width $grid-border-0 $grid-border-0;
    }
  }

  .sf-horizontal-lines,
  .sf-vertical-lines,
  .sf-hide-lines,
  .sf-both-lines {
    .sf-grid-content-row .sf-last-cell {
      border-bottom-width: $grid-border-width;
    }
  }

  .sf-filter-row .sf-cell {
    @include grid-border-style-weight($grid-border-style, $grid-filter-cell-both-border-width);
    border-collapse: collapse;
    cursor: default;
    overflow: hidden;
    padding: $grid-filterbar-cell-padding;
    vertical-align: bottom;
  }

  .sf-filter-cell {
    padding: $grid-filter-padding;
    position: relative;
    text-align: center;
    width: $grid-percentage-100;
  }

  .sf-grid-footer-padding .sf-cell:last-child {
    border-inline-end: $grid-border-1 solid $grid-border-color;
  }

  .sf-grid-content {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
  }

  .sf-grid-header-content {
    @include grid-border-style-weight(solid, $grid-border-0);
    overflow: hidden;
  }

  .sf-grid-edit-row {
    padding: $grid-spacing-0;
    .sf-cell {
      @include grid-top-bottom-padding($grid-edit-cell-padding, $grid-edit-top-cell-padding);
    }
  }

  .sf-grid-content-row:first-child .sf-cell {
    border-top: $grid-border-0;
  }

  .sf-rtl .sf-grid-header-row,
  .sf-rtl .sf-filter-row {
    .sf-cell:last-child {
      border-left-width: $grid-border-0;
    }
  }
}

.sf-row-min-height {
  .sf-grid-content-row .sf-cell {
    line-height: 0;
    @include grid-top-bottom-padding($grid-spacing-0, $grid-spacing-0);
  }

  .sf-grid-summary-row .sf-cell {
    @include grid-line-height-padding-styles($grid-line-height-xs, $grid-spacing-0 $grid-spacing-8);
  }
}