$grid-border-0: 0 !default;
$grid-border-1: 1px !default;
$grid-content-padding: 13px !default;
$grid-icon-color: $icon-color !default;
$grid-border-style: solid !default;
$grid-header-font-size: 14px !default;
$grid-header-text-color: $content-text-color-alt1 !default;
$grid-text-color: $content-text-color !default;
$grid-sort-order-bg: $content-bg-color-alt2 !default;
$grid-sort-order-text-color: $content-text-color-alt1  !default;
$grid-table-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-color: $table-bg-color-selected !default;
$grid-row-selection-hover-bg-color: $table-bg-color-selected-hover !default;
$grid-header-padding-bottom: 12px !default;
$grid-header-padding-top: 12px !default;
$grid-headercell-line-height: 20px !default;
$grid-rtl-header-first-cell-border-left: $grid-border-0 !default;
$grid-toolbar-border: $grid-border-1 $grid-border-style !default;
$grid-filter-padding: 0 !default;
$grid-sort-order-border-radius: 50px !default;
$grid-row-bg-color: rgba($content-bg-color) !default;
$grid-header-bg-color: $content-bg-color-alt1 !default; 
$grid-headercell-both-border-width: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-1 !default;
$grid-border-width: $grid-border-1 !default;
$grid-header-padding: 12px !default;
$grid-header-font-weight: 500 !default;
$grid-filter-cell-both-border-width: $grid-border-1 $grid-border-0 $grid-border-1 $grid-border-1 !default;
$grid-border-color: rgba($grid-line) !default;
$grid-rowcell-line-height: 24px !default;
$grid-hover-content-text-color: rgba($content-text-color-hover) !default;
$grid-content-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-bg-color: $table-bg-color-selected !default;
$grid-hover-bg-color: $content-bg-color-hover !default;
$grid-content-text-size: 14px !default;
$grid-header-height: 20px !default;
$grid-rowcell-border-width: $grid-border-1 $grid-border-0 $grid-border-0 !default;
$grid-content-right-padding: 12px !default;
$grid-toolbar-search-width: 176px !default;
$grid-summary-cell-font-size: 14px !default;
$grid-filterbar-cell-padding: 6px 12px !default;
$grid-summary-row-bg: $content-bg-color-alt1 !default;
$grid-sort-order-line-height: 20px !default;
$grid-rowcell-both-border-width: $grid-border-1 $grid-border-0 $grid-border-0 $grid-border-1 !default;
$grid-summary-cell-line-height: 24px !default;
$grid-validation-error-text-color: rgba($error) !default;
$grid-validation-error-bg-color: rgba($error-container) !default;
$grid-edit-top-cell-padding: 0 !default;
$grid-edit-cell-padding: 0 !default;
$grid-header-border-width: $grid-border-0 !default;
$grid-cell-focus-shadow: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-1 rgba($primary) inset !default;
$grid-rowcell-wrap-height: 24px !default;
$grid-header-text-transform: none !default;
$grid-sort-order-size: 20px !default;
$grid-sort-order-font-size: 14px !default;
$grid-row-boolean-cell-color: rgba($primary-text-color) !default;
$grid-letter-spacing: 0.25px !default;
$grid-z-index-10: 10 !default;
$grid-spacing-0: 0 !default;
$grid-spacing-1: 1px !default;
$grid-spacing-5: 5px !default;
$grid-spacing-8: 8px !default;
$grid-spacing--12: calc(12px * -1) !default;
$grid-min-width-0: 0 !default;
$grid-min-width-16: 16px !default;
$grid-percentage-100: 100% !default;
$grid-line-height-xs: 16px !default;