@use '../../../base/styles/themes/variables' as *;

$grid-border-0: 0 !default;
$grid-border-1: 1px !default;
$grid-content-padding: $spacing-13 !default;
$grid-icon-color: $icon-color !default;
$grid-border-style: solid !default;
$grid-header-font-size: $font-size-sm !default;
$grid-header-text-color: $content-text-color-alt1 !default;
$grid-text-color: $content-text-color !default;
$grid-sort-order-bg: $content-bg-color-alt2 !default;
$grid-sort-order-text-color: $content-text-color-alt1  !default;
$grid-table-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-color: $table-bg-color-selected !default;
$grid-row-selection-hover-bg-color: $table-bg-color-selected-hover !default;
$grid-header-padding-bottom: $spacing-12 !default;
$grid-header-padding-top: $spacing-12 !default;
$grid-headercell-line-height: $line-height-sm !default;
$grid-rtl-header-first-cell-border-left: $grid-border-0 !default;
$grid-toolbar-border: $grid-border-1 $grid-border-style !default;
$grid-filter-padding: $spacing-0 !default;
$grid-sort-order-border-radius: $radius-full !default;
$grid-row-bg-color: rgba($content-bg-color) !default;
$grid-header-bg-color: $content-bg-color-alt1 !default; 
$grid-headercell-both-border-width: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-1 !default;
$grid-border-width: $grid-border-1 !default;
$grid-header-padding: $spacing-12 !default;
$grid-header-font-weight: $font-weight-medium !default;
$grid-filter-cell-both-border-width: $grid-border-1 $grid-border-0 $grid-border-1 $grid-border-1 !default;
$grid-border-color: rgba($grid-line) !default;
$grid-rowcell-line-height: $line-height-base !default;
$grid-hover-content-text-color: rgba($content-text-color-hover) !default;
$grid-content-bg-color: rgba($content-bg-color) !default;
$grid-row-selection-bg-color: $table-bg-color-selected !default;
$grid-hover-bg-color: $content-bg-color-hover !default;
$grid-content-text-size: $font-size-sm !default;
$grid-header-height: 20px !default;
$grid-rowcell-border-width: $grid-border-1 $grid-border-0 $grid-border-0 !default;
$grid-content-right-padding: $spacing-12 !default;
$grid-toolbar-search-width: 176px !default;
$grid-summary-cell-font-size: $font-size-sm !default;
$grid-filterbar-cell-padding: $spacing-6 $spacing-12 !default;
$grid-summary-row-bg: $content-bg-color-alt1 !default;
$grid-sort-order-line-height: $line-height-sm !default;
$grid-rowcell-both-border-width: $grid-border-1 $grid-border-0 $grid-border-0 $grid-border-1 !default;
$grid-summary-cell-line-height: $line-height-base !default;
$grid-validation-error-text-color: rgba($error) !default;
$grid-validation-error-bg-color: rgba($error-container) !default;
$grid-edit-top-cell-padding: $spacing-0 !default;
$grid-edit-cell-padding: $spacing-0 !default;
$grid-header-border-width: $grid-border-0 !default;
$grid-cell-focus-shadow: $grid-border-0 $grid-border-0 $grid-border-0 $grid-border-1 rgba($primary) inset !default;
$grid-rowcell-wrap-height: $line-height-base !default;
$grid-header-text-transform: none !default;
$grid-sort-order-size: $font-size-xl !default;
$grid-sort-order-font-size: $font-size-sm !default;
$grid-row-boolean-cell-color: rgba($primary-text-color) !default;
$grid-letter-spacing: $letter-spacing-wider !default;
$grid-z-index-10: 10 !default;
$grid-spacing-0: $spacing-0 !default;
$grid-spacing-1: $spacing-1 !default;
$grid-spacing-5: $spacing-5 !default;
$grid-spacing-8: $spacing-8 !default;
$grid-spacing--12: calc($spacing-12 * -1) !default;
$grid-min-width-0: 0 !default;
$grid-min-width-16: 16px !default;
$grid-percentage-100: 100% !default;
$grid-line-height-xs: $line-height-xs !default;