@use 'mixin' as *;
@use 'theme-variables' as *;

@include export-module('grid-theme') {

  .sf-grid {
    border-color: $grid-border-color;
    
    .sf-focused {
      box-shadow: $grid-cell-focus-shadow;
    }

    .sf-grid-pager {
      border-bottom: transparent;
      border-left: transparent;
      border-right: transparent;
    }
  }

  .sf-grid-content {
    background-color: $grid-row-bg-color;
  }

  .sf-grid-filterbar .sf-input-group.sf-outline .sf-label-top {
    background: $grid-header-bg-color;
  }

  .sf-grid-header-container {
    @include bgcolor-color-styles($grid-header-bg-color, $grid-header-text-color);
    border-bottom-color: $grid-border-color;
    border-top-color: $grid-border-color;
  }

  .sf-cell,
  .sf-grid-header-content {
    border-color: $grid-border-color;
  }

  .sf-grid-header-border {
    border-inline-end-color: transparent;
  }

  .sf-grid-footer-container {
    background: $grid-summary-row-bg;
  }

  .sf-grid-content-row .sf-cell,
  .sf-grid-summary-row .sf-cell {
    color: $grid-text-color;
  }

  .sf-row-hover .sf-grid-content-row:not(.sf-grid-edit-row):hover {
    .sf-cell:not(.sf-active) {
        @include bgcolor-color-styles($grid-hover-bg-color, $grid-hover-content-text-color);
    }

    .sf-cell {
      @include bgcolor-color-styles($grid-row-selection-hover-bg-color, $grid-text-color);
    }
  }

  .sf-grid-sort-order {
    @include bgcolor-color-styles($grid-sort-order-bg, $grid-sort-order-text-color);
  }

  td.sf-active {
    @include bgcolor-color-styles($grid-row-selection-bg-color, $grid-text-color);
  }

  .sf-grid-edit-row .sf-cell {
    border-top-color: $grid-border-color;
  }

  .sf-tooltip-wrap.sf-grid-error {
    background-color: $grid-validation-error-bg-color;
    border-color: $grid-validation-error-bg-color;
    [class^="sf-tooltip-arrow-outer"] {
      border-bottom-color: $grid-validation-error-bg-color;
    }
  }
}
