@include export-module('dialog-theme') {
  .sf-dialog {
    background-color: $dialog-bg-color;
    box-shadow: $dialog-shadow-color;
  }

  .sf-dlg-header {
    color: $dialog-header-font-color;
  }

  .sf-dlg-content {
    color: $dialog-content-font-color;
  }

  .sf-dlg-south-west,
  .sf-dlg-north-east,
  .sf-dlg-north-west {
    color: transparent;
  }

  .sf-dlg-overlay {
    background-color: $dialog-overlay-bg-color;
  }

  .sf-rtl {
    .sf-dlg-south-east {
      color: transparent;
    }

    .sf-dlg-south-west {
      color: $dialog-close-icon-color;
    }
  }
}