@include export-module('dropdownbase-layout') {
  .sf-dropdownbase {
    display: block;
    height: 100%;
    min-height: 36px;
    position: relative;
    width: 100%;
    @at-root {
      #{if(&, '&', '*')} .sf-list-parent {
        margin: 0;
        padding: 8px 0;
      }

      #{if(&, '&', '*')} .sf-list-group-item,
      #{if(&, '&', '*')} .sf-fixed-head {
        cursor: default;
      }

      #{if(&, '&', '*')} .sf-list-item {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }

      #{if(&, '&', '*')} .sf-list-item .sf-list-icon {
        font-size: 16px;
        vertical-align: middle;
      }

      #{if(&, '&', '*')} .sf-fixed-head {
        position: absolute;
        top: 0;
      }
    }
  }

  .sf-dropdownbase.sf-content {
    overflow: auto;
    position: relative;
  }

  #{&}.sf-popup.sf-ddl .sf-dropdownbase.sf-nodata,
  #{&}.sf-popup.sf-mention .sf-dropdownbase.sf-nodata {
    color: $ddl-nodata-font-color;
    cursor: default;
    font-family: $ddl-list-font-family;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
  }

  .sf-mention.sf-popup {
    background: $mention-popup-bg-color;
    border: 0;
    box-shadow: 0 2px 3px 1px $mention-list-box-shadow-color;
    margin-top: 2px;
    position: absolute;
  }

  .sf-mention.sf-popup .sf-dropdownbase {
    min-height: $ddl-list-line-height;
  }

  .sf-mention .sf-dropdownbase .sf-list-item .sf-highlight {
    display: inline;
    font-weight: bold;
    vertical-align: baseline;
  }

  .sf-mention .sf-mention-chip,
  .sf-mention .sf-mention-chip:hover {
    border-radius: $mention-chip-border-radius;
    border: $mention-chip-border;
    color: $mention-active-font-color;
    cursor: default;
  }

  .sf-mention.sf-editable-element {
    border: 2px solid $ddl-list-border-color;
    height: auto;
    min-height: 120px;
    width: 100%;
  }

  .sf-form-mirror-div {
    white-space: pre-wrap;
  }

  .sf-rtl .sf-dropdownbase.sf-dd-group .sf-list-item {
    padding-right: $ddl-group-list-padding-left;
  }

  .sf-dropdownbase.sf-dd-group .sf-list-item {
    padding-left: $ddl-group-list-padding-left;
    text-indent: 0;
  }

  .sf-small .sf-dropdownbase.sf-dd-group .sf-list-item {
    padding-left: $ddl-group-list-small-padding-left;
  }

  .sf-popup.sf-multi-select-list-wrapper.sf-multiselect-group .sf-dropdownbase.sf-dd-group .sf-list-group-item {
    text-indent: $ddl-group-list-item-text-intent;
  }

  .sf-popup.sf-multi-select-list-wrapper.sf-multiselect-group .sf-dropdownbase.sf-dd-group .sf-list-group-item {
    cursor: pointer;
    font-weight: normal;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }

  .sf-rtl.sf-multiselect-group .sf-dropdownbase.sf-dd-group .sf-list-item {
    padding-right: $ddl-group-list-padding-left;
  }
}
