@use 'theme-variables' as *;

@include export-module('dropdownbase-layout') {
  .sf-dd-base {
    display: flex;
    height: 100%;
    min-height: $dd-min-height;
    position: relative;
    width: 100%;
    border-color: $dd-border-color;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;

    & .sf-list-parent {
      flex: 1 1 auto;
    }
  }

  .sf-dd-group .sf-list-item {
    padding-inline-start: $dd-group-list-padding;
    text-indent: 0;
  }

  .sf-dd-nodata {
    color: $dd-no-data-font-color;
    cursor: default;
    padding: $dd-no-data-padding;
    text-align: center;
  }

  .sf-dd-footer,
  .sf-dd-header {
    cursor: default;
    position: sticky;
    z-index: 1;
    flex: 0 0 auto;
  }

  .sf-dd-header {
    top: 0;
  }

  .sf-dd-footer {
    bottom: 0;
  }
}
