@use '../../../base/styles/themes/variables' as *;

$dd-border-color: $grey-300 !default;
$dd-no-data-font-color: rgba($content-text-color-alt1) !default;
$dd-group-list-padding: $spacing-32 !default;
$dd-small-group-list-padding: $spacing-32 !default;
$dd-large-group-list-padding: $spacing-32 !default;
$dd-min-height: $line-height-3xl !default;
$dd-no-data-padding: $spacing-10 !default;
$dd-highlight-font-weight: $font-weight-semibold !default;
$dropdown-spinner-padding: $spacing-8 !default;
