@use '../../../base/styles/themes/variables' as *;

$dd-border-color: $grey-300 !default;
$dd-no-data-font-color: rgba($content-text-color-alt1) !default;
$dd-group-list-padding: $spacing-32 !default;
$dd-min-height: $line-height-3xl !default;
$dd-no-data-padding: $spacing-10 !default;
