@include export-module('dropdownbase-theme') {
  .sf-rtl {
    #{if(&, '&', '*')} .sf-dropdownbase {
      #{if(&, '&', '*')} .sf-list-item {
        padding-left: $ddl-list-rtl-padding-left;
        padding-right: $ddl-list-rtl-padding-right;
      }
    }
  }

  .sf-dropdownbase {
    border-color: $ddl-list-border-color;
    background: $ddl-list-bg-color;
    @at-root {
      #{if(&, '&', '*')} .sf-list-item {
        /* stylelint-disable property-no-vendor-prefix */
        -webkit-tap-highlight-color: $ddl-list-tap-color;
        background: $ddl-list-bg-color;
        border-bottom: $ddl-list-bottom-border;
        border-color: $ddl-list-gradient-color;
        color: $ddl-list-default-font-color;
        font-family: $ddl-list-font-family;
        line-height: $ddl-line-height;
        min-height: $ddl-list-line-height;
        padding-right: $ddl-list-padding-right;
        text-indent: $ddl-list-text-size;
      }

      #{if(&, '&', '*')} .sf-list-group-item,
      .sf-fixed-head {
        background: $ddl-list-bg-color;
        border-color: $ddl-list-gradient-color;
        color: $ddl-list-header-font-color;
        font-family: $ddl-list-font-family;
        font-weight: $ddl-header-font-weight;
        line-height: $ddl-line-height;
        min-height: $ddl-list-line-height;
        padding-left: $ddl-list-header-padding-left;
        padding-right: $ddl-list-header-padding-left;
        padding-top: 4px;
        padding-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #{if(&, '&', '*')} .sf-list-item.sf-active,
      #{if(&, '&', '*')} .sf-list-item.sf-active.sf-hover {
        background: $ddl-list-active-bg-color;
        border-color: $ddl-list-active-border-color;
        color: $ddl-list-active-font-color;
      }

      #{if(&, '&', '*')} .sf-list-item.sf-hover {
        background: $ddl-list-hover-bg-color;
        border-color: $ddl-list-hover-border-color;
        color: $ddl-list-hover-font-color;
      }

      #{if(&, '&', '*')} .sf-list-item:active {
        background: $ddl-list-pressed-bg-color;
      }

      #{if(&, '&', '*')} .sf-list-item:last-child {
        border-bottom: $ddl-last-child-bottom-border;
      }

      #{if(&, '&', '*')} .sf-list-item.sf-item-focus {
        background: $ddl-list-focus-bg-color;
      }
    }
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open th,
  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open td {
    display: table-cell;
    overflow: hidden;
    padding-right: 16px;
    text-indent: 10px;
    text-overflow: ellipsis;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open th {
    line-height: 36px;
    text-align: left;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-ddl-header {
    background: $ddl-list-bg-color;
    border-color: $ddl-multi-column-border-color;
    border-style: solid;
    border-width: $ddl-multi-column-border-width;
    color: $ddl-list-header-font-color;
    font-family: $ddl-list-font-family;
    font-size: $ddl-group-list-font-size;
    font-weight: $ddl-header-font-weight;
    text-indent: 10px;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-dropdownbase .sf-list-item {
    padding-right: 0;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open#{&}.sf-scroller .sf-ddl-header {
    padding-right: 16px;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-ddl-header,
  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open#{&}.sf-ddl-device .sf-ddl-header {
    padding-right: 0;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-text-center {
    text-align: center;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-text-right {
    text-align: right;
  }

  .sf-multi-column#{&}.sf-ddl#{&}.sf-popup#{&}.sf-popup-open .sf-text-left {
    text-align: left;
  }

  .sf-small .sf-dropdownbase,
  .sf-dropdownbase.sf-small {
    @at-root {
      #{if(&, '&', '*')} .sf-list-item {
        color: $ddl-small-list-font-color;
        line-height: $ddl-small-line-height;
        min-height: $ddl-small-line-height;
        text-indent: $ddl-small-list-text-indent;
      }

      #{if(&, '&', '*')} .sf-list-group-item,
      #{if(&, '&', '*')} .sf-fixed-head {
        font-size: $ddl-small-list-header-font-size;
        line-height: $ddl-small-line-height;
        min-height: $ddl-small-line-height;
        padding-left: $ddl-list-header-small-padding-left;
      }

      #{if(&, '&', '*')} .sf-list-item .sf-list-icon {
        font-size: $ddl-small-icon-font-size;
      }
    }
  }

  .sf-ddl.sf-popup.sf-multiselect-group .sf-list-group-item {
    background: $ddl-list-bg-color;
    border-bottom: $ddl-list-bottom-border;
    border-color: $ddl-list-gradient-color;
    color: $ddl-list-default-font-color;
    font-family: $ddl-list-font-family;
    text-indent: $ddl-list-text-size;
  }

  .sf-ddl.sf-popup.sf-multiselect-group .sf-list-group-item.sf-item-focus {
    background: $ddl-list-hover-bg-color;
  }

  .sf-ddl.sf-popup.sf-multiselect-group .sf-list-group-item.sf-active,
  .sf-ddl.sf-popup.sf-multiselect-group .sf-list-group-item.sf-active.sf-hover {
    background: $ddl-list-active-bg-color;
    border-color: $ddl-list-active-border-color;
    color: $ddl-list-active-font-color;
  }

  .sf-ddl.sf-popup.sf-multiselect-group .sf-list-group-item.sf-hover {
    background: $ddl-list-hover-bg-color;
    border-color: $ddl-list-hover-border-color;
    color: $ddl-list-hover-font-color;
  }

  .sf-selectall-parent.sf-item-focus{
    background-color: $ddl-list-hover-bg-color;
  }
}
