@use 'theme-variables' as *;

@include export-module('listview-layout') {
  .sf-listview {
    border-radius: $listview-border-radius;
    border: $listview-border-size solid $listview-border-color;
    padding: $listview-padding;
    flex-direction: column;
    background-color: $listview-background-color;

    .sf-list-container {
      max-height: inherit;
    }

    .sf-list-item {
      padding: $listview-list-item-padding;
    }
    .sf-list-group-item {
      padding: $listview-list-group-item-padding;
    }
  }

  .sf-list-header {
    font-weight: $listview-header-font-weight;
    font-size: $listview-header-font-size;
    line-height: $listview-header-line-height;
    min-height: $listview-header-min-height;
    letter-spacing: $listview-header-letter-spacing-wide;
    padding: $listview-header-padding;
    color: $listview-header-text-color;
    gap: $listview-header-gap;
  }
}