@use 'theme-variables' as *;

@include export-module('listview-layout') {
  .sf-listview {
    -webkit-overflow-scrolling: touch;
    border: $listview-border-size solid $listview-line-color;
    border-radius: $listview-root-border-radius;
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;
  }

  .sf-list-back-icon {
    cursor: pointer;
    padding-inline-end: $listview-back-padding-right;
    margin: $listview-icon-back-margin;
  }

  .sf-list-header {
    align-items: center;
    display: flex;
    font-weight: $listview-header-font-weight;
    font-size: $listview-header-font-size;
    border-block-end: $listview-header-border-bottom;
    padding: $listview-header-text-padding;
    background-color: $listview-header-bg;
    color: $listview-header-text-color;
    border-color: $listview-header-border;
  }

  .sf-list-header-content {
    cursor: default;
    text-indent: 0;
  }
}