// Function to generate consistent ripple colors
@function ripple-color($text-color) {
  @return rgba($text-color, .24);
}

// Base button properties
$btn-border: 1px solid !default;
$btn-border-radius: 4px !default;
$btn-round-border-radius: 50% !default;
$btn-font-weight: 500 !default;
$btn-font-size: $text-sm !default;
$btn-small-font-size: 11px !default;
$btn-text-line-height: 1 !default;
$btn-small-text-line-height: 1.092 !default;
$btn-active-outline-offset: 0 !default;
$btn-keyboard-focus-box-shadow: $shadow-focus-ring1 !default;

// Button dimensioning by size
$btn-padding: 8px 16px !default;
$btn-small-padding: 5px 12px !default;
$btn-large-padding: 10px 24px !default;
$btn-top-icon-padding: 12px 12px !default;
$btn-top-icon-large-padding: 16px 16px !default;

// Round button dimensions
$btn-round-dimension: 32px !default;
$btn-round-small-dimension: 24px !default;
$btn-round-large-dimension: 40px !default;

// Icon-specific properties
$btn-icon-font-size: $text-lg !default;
$btn-small-icon-font-size: $text-base !default;
$btn-large-icon-font-size: 18px !default;
$btn-round-icon-line-height: 1.5em !default;
$btn-small-round-icon-line-height: 1 !default;
$btn-svg-size: 16px !default;
$btn-small-svg-size: 14px !default;
$btn-large-svg-size: 18px !default;
$btn-icon-btn-margin: 0 4px !default;

// Normal button
$btn-color: rgb($secondary-text-color) !default;
$btn-bg-color: $secondary-bg-color !default;
$btn-border-color: $btn-secondary-border-color !default;
$btn-hover-bg-color: $secondary-bg-color-hover !default;
$btn-hover-border-color: $secondary-border-color-hover !default;
$btn-hover-color: rgb($secondary-text-color-hover) !default;
$btn-focus-bg-color: $secondary-bg-color-focus !default;
$btn-focus-border-color: $secondary-border-color-hover !default;
$btn-focus-color: rgb($secondary-text-color-focus) !default;
$btn-active-outline: $btn-bg-color 0 solid !default;
$btn-focus-outline-round: rgb($white) 0 solid !default;
$btn-active-border-color: $secondary-border-color-pressed !default;
$btn-active-bg-color: $secondary-bg-color-pressed !default;
$btn-active-color: rgb($secondary-text-color-pressed) !default;
$btn-disabled-color: $secondary-text-color-disabled !default;
$btn-disabled-bg-color: $secondary-bg-color-disabled !default;
$btn-disabled-border-color: $secondary-border-color-disabled !default;
$btn-active-box-shadow: $shadow-sm !default;
$btn-ripple-bg-color: ripple-color($secondary-text-color) !default;
$btn-link-bg-color: transparent !default;
$btn-link-color: rgb($info-dark) !default;
$btn-link-hover-color: rgb($info-dark) !default;

// Primary button
$btn-primary-color: rgb($primary-text) !default;
$btn-primary-hover-color: rgb($primary-text-hover) !default;
$btn-primary-focus-color: rgb($primary-text-focus) !default;
$btn-primary-active-color: rgb($primary-text-pressed) !default;
$btn-primary-bg-color: rgb($primary-bg-color) !default;
$btn-primary-hover-bg-color: $primary-bg-color-hover !default;
$btn-primary-active-bg-color: $primary-bg-color-pressed !default;
$btn-primary-border-color:  rgb($primary-border-color) !default;
$btn-primary-hover-border-color: $primary-border-color-hover !default;
$btn-primary-focus-border-color: $btn-primary-border-color !default;
$btn-primary-active-border-color: rgb($primary-bg-color) !default;
$btn-primary-focus-bg-color: $primary-bg-color-focus !default;
$btn-primary-disabled-bg-color: $primary-bg-color-disabled !default;
$btn-primary-disabled-color: $primary-text-disabled !default;
$btn-primary-disabled-border-color: $primary-border-color-disabled !default;
$btn-ripple-primary-bg-color: ripple-color($primary-text) !default;

//outline
$btn-outline-color: rgb($secondary-outline) !default;
$btn-outline-hover-bg-color: rgba($secondary-outline, .08) !default;
$btn-outline-hover-color: rgb($secondary-outline) !default;
$btn-outline-focus-bg-color: $btn-focus-bg-color !default;
$btn-outline-focus-color: $btn-focus-color !default;
$btn-outline-active-color: $btn-outline-color !default;
$btn-outline-active-bg-color: rgba($secondary-outline, .12) !default;
$btn-outline-border-color: rgb($info-outline-border) !default;
$btn-outline-hover-border-color: rgb($info-outline-border) !default;
$btn-outline-focus-border-color: $btn-outline-border-color !default;
$btn-outline-active-border-color: $btn-outline-border-color !default;
$btn-outline-active-box-shadow: none !default;
$btn-outline-disabled-bg-color: $secondary-bg-color-disabled !default;
$btn-outline-disabled-border-color: $success-border-color-disabled !default;
$btn-outline-disabled-color: $secondary-text-color-disabled !default;
$btn-outline-primary-color: $primary-outline !default;
$btn-outline-success-color: $success-outline !default;
$btn-outline-warning-color: $warning-outline !default;
$btn-outline-danger-color: $error-outline !default;
$btn-outline-info-color: $info-outline !default;
$btn-outline-primary-hover-bg-color: rgba($btn-outline-primary-color, .08) !default;
$btn-outline-success-hover-bg-color: rgba($btn-outline-success-color, .08) !default;
$btn-outline-warning-hover-bg-color: rgba($btn-outline-warning-color, .08) !default;
$btn-outline-danger-hover-bg-color: rgba($btn-outline-danger-color, .08) !default;
$btn-outline-info-hover-bg-color: rgba($btn-outline-info-color, .08) !default;
$btn-outline-primary-active-bg-color: rgba($btn-outline-primary-color, .12) !default;
$btn-outline-success-active-bg-color: rgba($btn-outline-success-color, .12) !default;
$btn-outline-warning-active-bg-color: rgba($btn-outline-warning-color, .12) !default;
$btn-outline-danger-active-bg-color: rgba($btn-outline-danger-color, .12) !default;
$btn-outline-info-active-bg-color: rgba($btn-outline-info-color, .12) !default;

//flat
$btn-flat-color: rgb($secondary-text-color) !default;
$btn-flat-border: $btn-border !default;
$btn-flat-hover-color: $btn-flat-color !default;
$btn-flat-focus-color: $btn-focus-color !default;
$btn-flat-active-color: $btn-active-color !default;
$btn-flat-box-shadow: none !default;
$btn-flat-active-bg-color: $btn-active-bg-color !default;
$btn-flat-hover-bg-color: rgba($secondary-text-color, .08) !default;
$btn-flat-focus-bg-color: $btn-flat-hover-bg-color !default;
$btn-flat-hover-border-color: none !default;
$btn-flat-active-border-color: $btn-active-border-color !default;
$btn-flat-focus-border-color: $btn-flat-hover-border-color !default;
$btn-flat-disabled-color: $btn-disabled-color !default;
$btn-ripple-flat-primary-bg-color: ripple-color($primary-text) !default;
$btn-ripple-flat-success-bg-color: ripple-color($success-text) !default;
$btn-ripple-flat-info-bg-color: ripple-color($info-text) !default;
$btn-ripple-flat-warning-bg-color: ripple-color($warning-text) !default;
$btn-ripple-flat-danger-bg-color: ripple-color($error-text) !default;

//success
$btn-success-color: rgb($success-text) !default;
$btn-success-bg-color: rgb($success-bg-color) !default;
$btn-success-hover-bg-color: $success-bg-color-hover !default;
$btn-success-focus-bg-color: $success-bg-color-focus !default;
$btn-success-active-bg-color: $success-bg-color-pressed !default;
$btn-success-border-color: rgb($success-border-color) !default;
$btn-success-hover-border-color: $success-border-color-hover !default;
$btn-success-focus-border-color: $btn-success-border-color !default;
$btn-success-disabled-bg-color: $success-bg-color-disabled !default;
$btn-success-disabled-color: $success-text-disabled !default;
$btn-success-disabled-border-color: $success-border-color-disabled !default;
$btn-success-hover-color: rgb($success-text-hover) !default;
$btn-success-focus-color: rgb($success-text-focus) !default;
$btn-ripple-success-bg-color: ripple-color($success-text) !default;
$btn-success-active-color: $btn-success-color !default;

//warning
$btn-warning-bg-color: rgb($warning-bg-color) !default;
$btn-warning-color: rgb($warning-text) !default;
$btn-warning-hover-color: rgb($warning-text-hover) !default;
$btn-warning-hover-bg-color: $warning-bg-color-hover !default;
$btn-warning-focus-bg-color: $warning-bg-color-focus !default;
$btn-warning-active-bg-color: $warning-bg-color-pressed !default;
$btn-warning-border-color: rgb($warning-border-color) !default;
$btn-warning-hover-border-color: $warning-border-color-hover !default;
$btn-warning-focus-border-color: $btn-warning-border-color !default;
$btn-warning-focus-color: rgb($warning-text-focus) !default;
$btn-warning-active-color: rgb($warning-text-pressed) !default;
$btn-warning-active-border-color: rgb($warning-bg-color) !default;
$btn-warning-disabled-bg-color: $warning-bg-color-disabled !default;
$btn-warning-disabled-color: $warning-text-disabled !default;
$btn-warning-disabled-border-color: $warning-border-color-disabled !default;
$btn-ripple-warning-bg-color: ripple-color($warning-text) !default;

//danger
$btn-danger-color: rgb($error-text) !default;
$btn-danger-bg-color: rgb($error-bg-color) !default;
$btn-danger-hover-bg-color: $error-bg-color-hover !default;
$btn-danger-focus-bg-color: $error-bg-color-focus !default;
$btn-danger-active-bg-color: $error-bg-color-pressed !default;
$btn-danger-active-color: rgb($error-text-pressed) !default;
$btn-danger-border-color: rgb($error-border-color) !default;
$btn-danger-hover-border-color: $error-border-color-hover !default;
$btn-danger-focus-border-color: $btn-danger-border-color !default;
$btn-danger-disabled-bg-color: $error-bg-color-disabled !default;
$btn-danger-disabled-color: $warning-text-disabled !default;
$btn-danger-disabled-border-color: $error-border-color-disabled !default;
$btn-danger-hover-color: rgb($error-text-hover) !default;
$btn-ripple-danger-bg-color: ripple-color($error-text) !default;

//info
$btn-info-bg-color: rgb($info-bg-color) !default;
$btn-info-color: rgb($info-text) !default;
$btn-info-hover-bg-color: $info-bg-color-hover !default;
$btn-info-focus-bg-color: $info-bg-color-focus !default;
$btn-info-active-bg-color: $info-bg-color-pressed !default;
$btn-info-border-color: rgb($info-border-color) !default;
$btn-info-hover-border-color: $info-border-color-hover !default;
$btn-info-focus-border-color: $btn-info-border-color !default;
$btn-info-active-border-color: rgb($info-bg-color) !default;
$btn-info-disabled-bg-color: $info-bg-color-disabled !default;
$btn-info-disabled-color: $info-text-disabled !default;
$btn-info-disabled-border-color: $info-border-color-disabled !default;
$btn-info-active-color: rgb($info-text-pressed) !default;
$btn-info-hover-color: rgb($info-text-hover) !default;
$btn-ripple-info-bg-color: ripple-color($info-text) !default;

//round
$btn-round-focus-color: rgb($secondary-text-color) !default;
$btn-round-active-color: rgb($secondary-text-color-pressed) !default;
$btn-round-bg-color: $btn-bg-color !default;
$btn-round-border-color: $btn-border-color !default;
$btn-round-color: $btn-color !default;
$btn-round-hover-bg-color: $btn-hover-bg-color !default;
$btn-round-hover-border-color: $btn-hover-border-color !default;
$btn-round-hover-color: $btn-hover-color !default;

//flat primary
$btn-flat-primary-hover-bg-color: rgba($primary-bg-color, .08) !default;
$btn-flat-primary-border-color: $transparent !default;
$btn-flat-primary-focus-border-color: $btn-flat-primary-border-color !default;
$btn-flat-primary-focus-bg-color: rgba($primary-bg-color, .08) !default;
$btn-flat-disabled-color: $secondary-text-color-disabled !default;
$btn-flat-primary-disabled-color: $primary-text-disabled !default;
$btn-flat-primary-color: rgb($primary-bg-color) !default;
$btn-flat-primary-hover-color: rgb($primary-bg-color) !default;
$btn-flat-primary-focus-color: rgb($primary-bg-color) !default;
$btn-flat-primary-active-color: rgb($primary-bg-color) !default;

//flat success
$btn-flat-success-active-bg-color: rgba($success-bg-color, .12) !default;
$btn-flat-success-disabled-color: $btn-success-disabled-color !default;
$btn-flat-success-hover-bg-color: rgba($success-bg-color, .08) !default;

//flat info
$btn-flat-info-hover-bg-color: rgba($info-bg-color, .08) !default;
$btn-flat-info-border-color: $transparent !default;
$btn-flat-info-hover-border-color: $btn-flat-info-border-color !default;
$btn-flat-info-active-border-color: $btn-flat-info-border-color !default;
$btn-flat-info-focus-border-color: $btn-flat-info-border-color !default;
$btn-flat-info-disabled-border-color: $transparent !default;
$btn-flat-info-focus-bg-color: rgba($info-bg-color, .12) !default;
$btn-flat-info-color: rgb($info-bg-color) !default;
$btn-flat-info-disabled-color: $btn-info-disabled-color !default;
$btn-flat-info-hover-color: rgb($info-bg-color) !default;
$btn-flat-info-focus-color: rgb($info-bg-color) !default;
$btn-flat-info-active-color: rgb($info-bg-color) !default;

//flat warning
$btn-flat-warning-hover-bg-color: rgba($warning-bg-color, .08) !default;
$btn-flat-warning-border-color: $transparent !default;
$btn-flat-warning-hover-border-color: $btn-flat-warning-border-color !default;
$btn-flat-warning-active-border-color: $btn-flat-warning-border-color !default;
$btn-flat-warning-focus-border-color: $btn-flat-warning-border-color !default;
$btn-flat-warning-disabled-border-color: $transparent !default;
$btn-flat-warning-focus-bg-color: rgba($warning-bg-color, .12) !default;
$btn-flat-warning-color: rgb($warning-bg-color) !default;
$btn-flat-warning-disabled-color: $btn-warning-disabled-color !default;
$btn-flat-warning-hover-color: rgb($warning-bg-color) !default;
$btn-flat-warning-focus-color: rgb($warning-bg-color) !default;
$btn-flat-warning-active-color: rgb($warning-bg-color) !default;

//flat danger
$btn-flat-danger-hover-bg-color: rgba($error-bg-color, .08) !default;
$btn-flat-danger-border-color: $transparent !default;
$btn-flat-danger-hover-border-color: $btn-flat-danger-border-color !default;
$btn-flat-danger-active-border-color: $btn-flat-danger-border-color !default;
$btn-flat-danger-focus-border-color: $btn-flat-danger-border-color !default;
$btn-flat-danger-disabled-border-color: $transparent !default;
$btn-flat-danger-focus-bg-color: rgba($error-bg-color, .12) !default;
$btn-flat-danger-disabled-color: $btn-danger-disabled-color !default;

//outline primary
$btn-outline-primary-disabled-color: $primary-text-disabled !default;
$btn-outline-primary-disabled-border-color: $success-border-color-disabled !default;
$btn-outline-primary-hover-bg-color: $btn-primary-bg-color !default;
$btn-outline-primary-active-border-color: rgb($primary) !default;

//outline success
$btn-outline-success-disabled-color: $success-text-disabled !default;
$btn-outline-success-hover-bg-color: $btn-success-bg-color !default;

//outline info
$btn-outline-info-disabled-color: $info-text-disabled !default;

//outline warning
$btn-outline-warning-disabled-color: $warning-text-disabled !default;

//outline danger
$btn-outline-danger-disabled-color: $error-text-disabled !default;

//size
$btn-box-shadow: $shadow-sm !default;
$btn-hover-focus-box-shadow: $shadow-md !default;
