@use 'theme-variables' as *;

@include export-module('timepicker-theme') {
  #{&}.sf-timepicker.sf-popup {
    border: $timepicker-list-border;
    border-radius: $timepicker-popup-border-radius;
    box-shadow: $timepicker-popup-shadow;
  }

  .sf-timepicker-list {
    background: $timepicker-list-bg-color;
  }

  .sf-timepicker-item {
    border: $timepicker-list-default-border-style;
    color: $timepicker-list-default-font-color;

    &:hover,
    &:focus,
    &.sf-focus {
      background: $timepicker-list-hover-bg-color;
      border: $timepicker-list-hover-border-color;
      color: $timepicker-list-hover-font-color;
    }
    
    &.sf-active {
      background: $timepicker-list-active-bg-color;
      color: $timepicker-list-active-font-color;
    }
    
    &.sf-active.sf-focus,
    &.sf-active:hover {
      background: $timepicker-list-active-hover-bg-color;
      color: $timepicker-list-active-hover-font-color;
    }
  }
}