// layout variables
$split-btn-zindex: 2 !default;
$split-btn-border-radius: 4px !default;
$split-btn-focus-outline-offset: 0 !default;
$split-btn-sec-btn-margin-left: -1px !default;

// Border and separator colors
$split-btn-seperator-border-color: $split-btn-right-border !default;
$split-btn-active-border-color: $secondary-bg-color-pressed !default;
$split-outline-border-color: rgba($secondary-outline) !default;

// Box shadow
$split-btn-active-box-shadow: none !default;

// Size-specific variables for dropdown button padding
$split-btn-dropdown-padding-sm: 8px 4px !default;
$split-btn-dropdown-padding-me: 10px 6px !default;
$split-btn-dropdown-padding-la: 12px 8px !default;
$split-btn-dropdown-padding-default: $split-btn-dropdown-padding-me !default;

