@use "sass:map";
@use 'mixin' as *;
@use 'theme-variables' as *;

@include export-module('radiobutton-layout') {

  .sf-radio-wrapper {
    vertical-align: middle;
    display: inline-flex;
  }

  .sf-radio-label {
    color: $radio-btn-font-color;
    display: flex;
    vertical-align: middle;
    align-items: center;
    white-space: normal;
    position: relative;
    line-height: normal;
    user-select: none;
    cursor: pointer;

    .sf-radio-outer {
      flex-shrink: 0;
      border: $radio-btn-border;
      border-color: $radio-btn-border-color;
      border-radius: $radio-btn-border-radius;
      background-color: $radio-btn-background-color;
      position: relative;
    }

    .sf-radio-inner {
      border-radius: $radio-btn-border-radius;
      transform: scale(0);
      position: absolute;
    }

    .sf-label {
      font-weight: $radio-btn-font-weight;
    }
  }

  .sf-radio-label {
    width: 100%;
    &.sf-right {
      flex-direction: row-reverse;
    }
    
    &.sf-bottom {
      flex-direction: column;
      align-items: center;
    }
    
    &:hover {
      .sf-ripple-container {
        background: $radio-btn-checked-ripple-bgcolor;
      }
    }
  }

  .sf-radio:checked {
    +label {
      .sf-radio-outer {
        background-color: $radio-btn-outer-checked-bg-color;
        border-color: $radio-btn-outer-checked-color;
      }
      .sf-radio-inner {
        background-color: $radio-btn-checked-color;
        width: 100%;
        height: 100%;
      }
    }
  }

  .sf-radio {
    appearance: none;
    height: 1px;
    opacity: $radio-btn-opacity;
    width: 1px;
    +label {
      .sf-radio-outer {
        background-color: $radio-btn-background-color;
        border-color: $radio-btn-border-color;
      }
      & .sf-ripple-container {
        border-radius: $radio-btn-border-radius;
        position: relative;
        z-index: 1;
      }
    }
    &:disabled {
      +label {
        cursor: default;
        pointer-events: none;
        opacity: $radio-btn-disabled-opacity;
        .sf-radio-outer {
          background-color: $radio-btn-disabled-background-color;
          border-color: $radio-btn-disabled-border-color;
        }
        & .sf-ripple-container {
          background-color: transparent;

          .sf-radio-inner {
            background-color: transparent;
          }
        }
        & .sf-label {
          color: $radio-btn-disabled-color;
        }
      }
    }
    &:active, &:focus {
      +label {
        .sf-radio-outer {
          box-shadow: $radio-pressed-box-shadow;
          border-color: $radio-pressed-border-color;
        }
      }
    }
    &:focus-visible {
      +label {
        .sf-radio-outer {
          box-shadow: $radio-keyboard-focus-box-shadow;
        }
      }
    }
  }

  .sf-radio-me {
  @include radio-base(
    $radio-btn-font-size,
    $radio-btn-line-height,
    $radio-btn-height,
    $radio-btn-ripple-size,
    $radio-btn-scale,
    $radio-btn-gap
  );
}

.sf-radio-sm {
  @include radio-base(
    $radio-btn-small-font-size,
    $radio-btn-small-line-height,
    $radio-btn-small-height,
    $radio-btn-small-ripple-Width,
    $radio-btn-small-scale,
    $radio-btn-small-gap
  );
}

.sf-radio-la {
  @include radio-base(
    $radio-btn-large-font-size,
    $radio-btn-line-height,
    $radio-btn-large-height,
    $radio-btn-large-ripple-size,
    $radio-btn-large-scale,
    $radio-btn-large-gap
  );
}


  @each $variant, $colors in $radio-variants {
    .sf-radio-#{$variant} {
      .sf-radio:checked + label .sf-radio-inner {
        background-color: map.get($colors, bg-inner);
        border-color: map.get($colors, border-inner);
      }

      .sf-radio:checked + label .sf-radio-outer {
        border-color: map.get($colors, border-outer);
        background-color: map.get($colors, bg-outer);
      }
      .sf-radio-label:hover .sf-ripple-container {
        background: map.get($colors, hover);
      }

      .sf-radio{
        &:active, &:focus {
          +label {
            .sf-radio-outer {
              box-shadow: map.get($colors, pressed-box-shadow);
              border-color: map.get($colors, pressed-border-color);
            }
          }
        }
        &:focus-visible {
          +label {
            .sf-radio-outer {
              box-shadow: map.get($colors, focus-box-shadow);
            }
          }
        }
      }
    }

  }

}