
@include export-module('radiobutton-layout') {
  
  .sf-radio-wrapper {
    display: inline-block;
    line-height: 1;
    position: relative;
  }

  /* stylelint-disable property-no-vendor-prefix */
  .sf-radio {
    -webkit-appearance: none;
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;

    &:not(:checked):not(:disabled):hover {
      +label.sf-rtl,
      +label.sf-right {
        &::after {
          left: auto;
        }
      }
    }

    &:focus-visible {
      +label {
        @if $skin-name == 'fluent2' {
          box-shadow: $switch-box-shadow;
          border-radius: 1px;
        }
      }
    }

    +label {
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      position: relative;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      @if $skin-name == 'fluent2' {
        margin: 7.6px;
      }

      &.sf-bottom {
        .sf-label {
          padding-top: 22px;
          padding-left: 0;
        }
      }

      & .sf-label {
        color: $radio-btn-font-color;
        display: inline-block;
        font-family: $font-family;
        font-size: $radio-btn-font-size;
        font-weight: normal;
        line-height: $radio-btn-line-height;
        padding-left: $radio-btn-padding-left;
        vertical-align: text-top;
        white-space: normal;
        @if $skin-name == 'tailwind3' {
          font-weight: $font-weight-medium;
        }
      }

      &:focus,
      &.sf-focus {
        & .sf-ripple-container {
          background-color: $radio-btn-focus-ripple-bgcolor;
        }
      }

      & .sf-ripple-element {
        background-color: $radio-btn-checked-ripple-bgcolor;
      }

      &::before {
        border: $radio-btn-border;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: $radio-btn-height;
        left: 0;
        position: absolute;
        width: $radio-btn-width;
        background-color: $radio-btn-background-color;
        border-color: $radio-btn-border-color;
      }

      &:focus {
        &::before {
          box-shadow: $radio-btn-focussed-box-shadow;
          @if $skin-name == 'bootstrap5.3' {
            border-color: $border-selected;
          }
        }
      }

      &:active {
        &::before {
          @if $skin-name == 'bootstrap5.3' {
            box-shadow: $radio-btn-focussed-box-shadow;
            border-color: $border-selected !important; /* stylelint-disable-line declaration-no-important */
            background-color: $content-bg-color-pressed;
          }
          @if $skin-name == 'tailwind3' {
            box-shadow: $radio-btn-focussed-box-shadow;
          }
        }

        & .sf-ripple-element {
          background-color: $radio-btn-ripple-bgcolor;
        }
      }

      &::after {
        border: 1px solid;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: $radio-btn-icon-height;
        left: $radio-btn-icon-left;
        position: absolute;
        top: $radio-btn-icon-top;
        transform: scale(0);
        width: $radio-btn-icon-width;
      }

      & .sf-ripple-container {
        border-radius: 50%;
        height: $radio-btn-ripple-size;
        left: $radio-btn-ripple-left-position;
        position: absolute;
        top: $radio-btn-ripple-top-position;
        width: $radio-btn-ripple-size;
        z-index: 1;

        & .sf-ripple-element {
          @if $skin-name == 'Material3' {
            border-radius: 50%;
          }
        }
      }

      &.sf-right,
      &.sf-rtl {
        & .sf-label {
          padding-left: 0;
          padding-right: $radio-btn-padding-left;
        }

        &::before {
          left: auto;
          right: 0;
        }

        &::after {
          left: auto;
          right: $radio-btn-icon-right;
        }

        & .sf-ripple-container {
          left: auto;
          right: $radio-btn-ripple-position;
        }
      }

      &.sf-right {
        &.sf-rtl {
          & .sf-label {
            padding-left: $radio-btn-padding-left;
            padding-right: 0;
          }

          &::before {
            left: 0;
            right: auto;
          }

          &::after {
            left: $radio-btn-icon-right;
            right: auto;
          }

          & .sf-ripple-container {
            left: -8px;
            right: auto;
          }
        }
      }

      &.sf-small {

        & .sf-label {
          line-height: $radio-btn-small-line-height;
          padding-left: $radio-btn-small-padding;
        }

        &::before {
          height: $radio-btn-small-height;
          width: $radio-btn-small-width;
        }

        &::after {
          height: $radio-btn-small-icon-height;
          left: $radio-btn-small-icon-left;
          top: $radio-btn-small-icon-top;
          width: $radio-btn-small-icon-width;
        }

        & .sf-ripple-container {
          left: $radio-btn-small-ripple-position;
          top: $radio-btn-small-ripple-position;
        }

        &.sf-right,
        &.sf-rtl {
          & .sf-label {
            padding-left: 0;
            padding-right: $radio-btn-small-padding;
          }

          &::after {
            left: auto;
            right: $radio-btn-small-icon-right;
          }

          & .sf-ripple-container {
            left: auto;
            right: $radio-btn-small-ripple-position;
          }
        }

        &.sf-right {
          &.sf-rtl {
            & .sf-label {
              padding-left: $radio-btn-small-padding;
              padding-right: 0;
            }

            &::after {
              left: $radio-btn-small-icon-right;
              right: auto;
            }

            & .sf-ripple-container {
              left: -10px;
              right: auto;
            }
          }
        }
      }
    }


    &:focus {
      +label {
        &::before {
          border-color: $radio-btn-focus-check-border-color;
          box-shadow: $radio-btn-focussed-box-shadow;
        }
      }
    }

    &:focus {
      +label {
        &::before {
          border-color: $radio-btn-hover-border-color;
          box-shadow: $radio-btn-focussed-box-shadow;
        }
      }
    }

    &:checked {
      +label {
        &::after {
          transform: scale(1);
          transition: $radio-btn-check-transition;
        }
      }
    }

    &:hover {
      +label {
        & .sf-ripple-container {
          @if $skin-name == 'Material3' {
            background: $radio-btn-ripple-bgcolor;
          }
        }
      }

      +label {
        &::before {
          border-color: $radio-btn-hover-border-color;
        }
      }
    }

    &:checked {
      +label {
        &::before {
          background-color: $radio-btn-checked-background-color;
          border-color: $radio-btn-checked-border-color;
        }

        &::after {
          background-color: $radio-btn-checked-color;
          color: $radio-btn-checked-color;
        }

        &:active {
          & .sf-ripple-element {
            background-color: $radio-btn-checked-ripple-bgcolor;
          }
        }
      }

      +.sf-focus {
        & .sf-ripple-container {
          background-color: $radio-btn-checked-ripple-bgcolor;
        }

        &::before {
          outline: $radio-btn-focus-outline;
          outline-offset: $radio-btn-focus-outline-offset;
        }
      }
    }

    &:checked {
      &:focus {
        +label {
          &::before {
            border-color: $radio-btn-focus-check-border-color;
          }

          &::after {
            background-color: $radio-btn-focus-check-bg-color;
            @if $skin-name == 'fluent2' {
              color: $radio-btn-focus-check-bg-color;
            }
          }
        }
      }

      +label {
        &:hover {
          & .sf-ripple-container {
            @if $skin-name == 'Material3' {
              background: $radio-btn-checked-ripple-bgcolor;
            }
          }
          &::before {
            border-color: $radio-btn-hover-check-border-color;
          }

          &::after {
            background-color: $radio-btn-hover-check-bg-color;
            @if $skin-name == 'fluent2' {
              color: $radio-btn-hover-check-bg-color;
            }
          }
        }
      }
    }

    &:disabled {
      +label {
        cursor: default;
        pointer-events: none;
        @if $skin-name == 'bootstrap5.3' {
          opacity: .5;
        }

        &::before {
          @if $skin-name == 'bootstrap5.3' or $skin-name == 'tailwind3' {
            background-color: $radio-btn-disabled-not-checked-bg-color;
          }
          @else {
            background-color: $radio-btn-disabled-background-color;
          }
          border-color: $radio-btn-disabled-border-color;
          cursor: default;
        }

        & .sf-ripple-container {
          background-color: transparent;

          &::after {
            background-color: transparent;
            cursor: default;
          }
        }

        & .sf-label {
          color: $radio-btn-disabled-color;
        }
      }

      &:checked {
        +label {
          &::before {
            background-color: $radio-btn-disabled-background-color;
            border-color: $radio-btn-disabled-checked-border-color;
          }

          &::after {
            background-color: $radio-btn-disabled-checked-color;
            border-color: $radio-btn-disabled-checked-color;
            cursor: default;
          }

          & .sf-ripple-container,
          & .sf-ripple-container::after {
            background-color: transparent;
          }
        }
      }
    }
  }

  .sf-small .sf-radio + label,
  .sf-radio + label.sf-small {
    @if $skin-name == 'fluent2' {
      margin: 5.6px;
    }
    & .sf-label {
      line-height: $radio-btn-small-line-height;
      padding-left: $radio-btn-small-padding;
      font-size: 12px;
      @if $skin-name == 'fluent2' or $skin-name == 'tailwind3' {
        font-size: 12px;
      }
    }

    &::before {
      height: $radio-btn-small-height;
      width: $radio-btn-small-width;
    }

    &.sf-bottom {
      .sf-label {
        padding-top: 22px;
        padding-left: 0;
      }
    }

    &::after {
      height: $radio-btn-small-icon-height;
      left: $radio-btn-small-icon-left;
      top: $radio-btn-small-icon-top;
      width: $radio-btn-small-icon-width;
    }

    & .sf-ripple-container {
      width: $radio-btn-small-ripple-Width;
      height: $radio-btn-small-ripple-height;
      left: $radio-btn-small-ripple-position;
      top: $radio-btn-small-ripple-position;
    }

    &.sf-right,
    &.sf-rtl {
      & .sf-label {
        padding-left: 0;
        padding-right: $radio-btn-small-padding;
      }

      &::after {
        left: auto;
        right: $radio-btn-small-icon-right;
      }

      & .sf-ripple-container {
        left: auto;
        right: $radio-btn-small-ripple-position;
      }
    }

    &.sf-right {
      &.sf-rtl {
        & .sf-label {
          padding-left: $radio-btn-small-padding;
          padding-right: 0;
        }

        &::after {
          left: $radio-btn-small-icon-right;
          right: auto;
        }

        & .sf-ripple-container {
          left: -10px;
          right: auto;
        }
      }
    }
  }


  .sf-large.sf-small .sf-radio + label,
  .sf-radio + label.sf-large.sf-small {
    @if $skin-name == 'fluent2' {
      margin: 8.4px;
    }
    & .sf-label {
      line-height: $radio-btn-bigger-small-line-height;
      padding-left: $radio-btn-bigger-small-padding;
    }

    &::before {
      height: $radio-btn-bigger-small-height;
      width: $radio-btn-bigger-small-width;
    }

    &::after {
      height: $radio-btn-bigger-small-icon-height;
      left: $radio-btn-bigger-small-icon-left;
      top: $radio-btn-bigger-small-icon-top;
      width: $radio-btn-bigger-small-icon-width;
    }

    & .sf-ripple-container {
      height: $radio-btn-bigger-small-ripple-size;
      left: $radio-btn-bigger-ripple-position;
      top: $radio-btn-bigger-ripple-position;
      width: $radio-btn-bigger-small-ripple-size;
    }

    &.sf-right,
    &.sf-rtl {
      & .sf-label {
        padding-left: 0;
        padding-right: $radio-btn-bigger-small-padding;
      }

      &::after {
        left: auto;
        right: $radio-btn-bigger-small-icon-right;
      }

      & .sf-ripple-container {
        left: auto;
        right: $radio-btn-small-ripple-position;
      }
    }

    &.sf-right {
      &.sf-rtl {
        & .sf-label {
          padding-left: $radio-btn-bigger-small-padding;
          padding-right: 0;
        }

        &::after {
          left: $radio-btn-bigger-small-icon-right;
          right: auto;
        }

        & .sf-ripple-container {
          left: -10px;
          right: auto;
        }
      }
    }
  }

  .sf-large .sf-radio {
    &:not(:checked):hover {
      +label,
      +label.sf-rtl,
      +label.sf-right {
        @if $skin-name == 'FluentUI' {
          &::after {
            background-color: $radio-btn-uncheck-background-color;
            border: 1px solid;
            border-radius: 50%;
            box-sizing: border-box;
            color: $radio-btn-uncheck-color;
            content: '';
            height: $radio-btn-bigger-icon-height;
            left: $radio-btn-bigger-icon-left;
            position: absolute;
            top: $radio-btn-bigger-icon-top;
            transform: scale(1);
            width: $radio-btn-bigger-icon-width;
          }
        }
      }

      +label.sf-rtl,
      +label.sf-right {
        &::after {
          left: auto;
        }
      }
    }

  }

  .sf-large .sf-radio + label {
    @if $skin-name == 'FluentUI' {
      border: 1px solid transparent;
      height: 28px;
    }
  }

  .sf-large .sf-radio + label,
  .sf-radio + label.sf-large {
    @if $skin-name == 'fluent2' {
      margin: 10.4px;
    }

    & .sf-label {
      font-size: $radio-btn-bigger-font-size;
      line-height: $radio-btn-bigger-line-height;
      padding-left: $radio-btn-bigger-padding;
    }

    &::before {
      height: $radio-btn-bigger-height;
      width: $radio-btn-bigger-width;
    }

    &.sf-bottom {
      .sf-label {
        padding-top: 22px;
        padding-left: 0;
      }
    }

    &::after {
      height: $radio-btn-bigger-icon-height;
      left: $radio-btn-bigger-icon-left;
      top: $radio-btn-bigger-icon-top;
      width: $radio-btn-bigger-icon-width;
    }

    & .sf-ripple-container {
      height: $radio-btn-bigger-ripple-size;
      left: $radio-btn-bigger-ripple-left-position;
      top: $radio-btn-bigger-ripple-top-position;
      width: $radio-btn-bigger-ripple-size;
    }

    &.sf-right,
    &.sf-rtl {
      & .sf-label {
        padding-left: 0;
        padding-right: $radio-btn-bigger-padding;
      }

      &::after {
        left: auto;
        right: $radio-btn-bigger-icon-right;
      }

      & .sf-ripple-container {
        left: auto;
        right: $radio-btn-bigger-ripple-position;
      }
    }

    &.sf-right {
      &.sf-rtl {
        & .sf-label {
          padding-left: $radio-btn-bigger-padding;
          padding-right: 0;
        }

        &::after {
          left: $radio-btn-bigger-icon-right;
          right: auto;
        }

        & .sf-ripple-container {
          left: -12px;
          right: auto;
        }
      }
    }

    &.sf-small {
      & .sf-label {
        line-height: $radio-btn-bigger-small-line-height;
        padding-left: $radio-btn-bigger-small-padding;
      }

      &::before {
        height: $radio-btn-bigger-small-height;
        width: $radio-btn-bigger-small-width;
      }

      &::after {
        height: $radio-btn-bigger-small-icon-height;
        left: $radio-btn-bigger-small-icon-left;
        top: $radio-btn-bigger-small-icon-top;
        width: $radio-btn-bigger-small-icon-width;
      }

      & .sf-ripple-container {
        height: $radio-btn-bigger-small-ripple-size;
        left: $radio-btn-bigger-ripple-position;
        top: $radio-btn-bigger-ripple-position;
        width: $radio-btn-bigger-small-ripple-size;
      }

      &.sf-right,
      &.sf-rtl {
        & .sf-label {
          padding-left: 0;
          padding-right: $radio-btn-bigger-small-padding;
        }

        &::after {
          left: auto;
          right: $radio-btn-bigger-small-icon-right;
        }

        & .sf-ripple-container {
          left: auto;
          right: $radio-btn-small-ripple-position;
        }
      }

      &.sf-right {
        &.sf-rtl {
          & .sf-label {
            padding-left: $radio-btn-bigger-small-padding;
            padding-right: 0;
          }

          &::after {
            left: $radio-btn-bigger-small-icon-right;
            right: auto;
          }

          & .sf-ripple-container {
            left: -10px;
            right: auto;
          }
        }
      }
    }
  }

  .sf-success .sf-radio:checked + label::after { /* csslint allow: adjoining-classes */
    background-color: #689f38;
    border-color: #689f38;
  }
  
  .sf-success .sf-radio:checked:focus + label::after, .sf-success .sf-radio:checked + label:hover::after { /* csslint allow: adjoining-classes */
    background-color: #449d44;
    border-color: #449d44;
  }
  
  .sf-success .sf-radio:checked + label::before {
    border-color: #689f38;
  }
  
  .sf-success .sf-radio:checked:focus + label::before, .sf-success .sf-radio:checked + label:hover::before { /* csslint allow: adjoining-classes */
    border-color: #449d44;
  }
  
  .sf-success .sf-radio +label:hover::before {
    border-color: #b1afaf
  }
  
  .sf-info .sf-radio:checked + label::after { /* csslint allow: adjoining-classes */
    background-color: #2196f3;
    border-color: #2196f3;
  }
  
  .sf-info .sf-radio:checked:focus + label::after, .sf-info .sf-radio:checked + label:hover::after { /* csslint allow: adjoining-classes */
    background-color: #0b7dda;
    border-color: #0b7dda;
  }
  
  .sf-info .sf-radio:checked + label::before {
    border-color: #2196f3;
  }
  
  .sf-info .sf-radio:checked:focus + label::before, .sf-info .sf-radio:checked + label:hover::before {
    border-color: #0b7dda;
  }
  
  .sf-info .sf-radio + label:hover::before {
    border-color: #b1afaf
  }
  
  .sf-warning .sf-radio:checked + label::after { /* csslint allow: adjoining-classes */
    background-color: #ef6c00;
    border-color: #ef6c00;
  }
  
  .sf-warning .sf-radio:checked:focus + label::after, .sf-warning .sf-radio:checked + label:hover::after { /* csslint allow: adjoining-classes */
    background-color: #cc5c00;
  }
  
  .sf-radio:checked + .sf-warning::before {
    border-color: #ef6c00;
  }
  
  .sf-warning .sf-radio:checked:focus + label::before, .sf-warning .sf-radio:checked + label:hover::before {
    border-color: #cc5c00;
  }
  
  .sf-warning .sf-radio + label:hover::before {
    border-color: #b1afaf
  }
  
  .sf-danger .sf-radio:checked + label::after { /* csslint allow: adjoining-classes */
    background-color: #d84315;
    border-color: #d84315;
  }
  
  .sf-danger .sf-radio:checked:focus + label::after, .sf-danger .sf-radio:checked + label:hover::after { /* csslint allow: adjoining-classes */
    background-color: #ba330a;
    border-color: #ba330a;
  }
  
  .sf-danger .sf-radio:checked + label::before {
    border-color: #d84315;
  }
  
  .sf-danger .sf-radio:checked:focus + label::before, .sf-danger .sf-radio:checked + label:hover::before {
    border-color: #ba330a;
  }
  
  .sf-danger .sf-radio + label:hover::before {
    border-color: #b1afaf
  }
}
