$radio-btn-border: 1px solid !default;
$radio-btn-large-font-size: 16px !default;
$radio-btn-large-height: 20px !default;
$radio-btn-large-line-height: 1.2 !default;
$radio-btn-large-padding: 28px !default;
$radio-btn-large-width: 20px !default;
$radio-btn-large-ripple-position: -10px !default;
$radio-btn-large-ripple-left-position: -11px !default;
$radio-btn-large-ripple-top-position: -10px !default;
$radio-btn-large-ripple-size: 40px !default;
$radio-btn-height: 16px !default;
$radio-btn-width: 16px !default;
$radio-btn-small-height: 14px !default;
$radio-btn-small-width: 14px !default;
$radio-btn-icon-left: 5px !default;
$radio-btn-icon-top: 5px !default;
$radio-btn-icon-right: 5px !default;
$radio-btn-ripple-position: -8px !default;
$radio-btn-ripple-left-position: -8px !default;
$radio-btn-ripple-top-position: -8px !default;
$radio-btn-ripple-size: 32px !default;
$radio-btn-small-icon-left: 4px !default;
$radio-btn-small-icon-top: 4px !default;
$radio-btn-small-icon-right: 4px !default;
$radio-btn-small-ripple-position: -4px !default;
$radio-btn-icon-height: 6px !default;
$radio-btn-icon-width: 6px !default;
$radio-btn-small-icon-height: 6px !default;
$radio-btn-small-icon-width: 6px !default;
$radio-btn-line-height: 1 !default;
$radio-btn-padding-left: 24px !default;
$radio-btn-small-line-height: 1 !default;
$radio-btn-small-padding: 22px !default;
$radio-btn-focus-outline-offset: 0 !default;
$radio-btn-font-size: 14px !default;
$radio-btn-background-color: $transparent !default;
$radio-btn-border-color: rgba($content-text-color-alt1) !default;
$radio-btn-checked-border-color: rgba($primary) !default;
$radio-btn-checked-color: rgba($primary) !default;
$radio-btn-checked-background-color: $transparent !default;
$radio-btn-checked-ripple-bgcolor: rgba($primary, .08) !default;
$radio-btn-check-transition: none !default;
$radio-btn-disabled-border-color: rgba($content-text-color, .38) !default;
$radio-btn-disabled-checked-border-color: rgba($content-text-color, .38) !default;
$radio-btn-disabled-background-color: transparent !default;
$radio-btn-disabled-color: $content-text-color-disabled !default;
$radio-btn-disabled-checked-color: rgba($content-text-color, .38) !default;
$radio-btn-font-color: rgba($content-text-color) !default;
$radio-btn-focus-ripple-bgcolor: rgba($content-text-color, .12) !default;
$radio-btn-focussed-box-shadow: none !default;
$radio-btn-hover-border-color: rgba($content-text-color) !default;
$radio-btn-hover-check-bg-color: rgba($primary) !default;
$radio-btn-hover-check-border-color: rgba($primary) !default;
$radio-btn-ripple-bgcolor: rgba($content-text-color, .08) !default;
$radio-btn-focus-check-bg-color: rgba($primary) !default;
$radio-btn-focus-check-border-color: rgba($primary) !default;
$radio-btn-focus-outline: $radio-btn-background-color 0 solid !default;
$radio-btn-large-icon-height: 8px !default;
$radio-btn-large-icon-width: 8px !default;
$radio-btn-large-icon-left: 6px !default;
$radio-btn-large-icon-top: 6px !default;
$radio-btn-large-icon-right: 4px !default;
$radio-btn-small-ripple-Width: 22px !default;
$radio-btn-small-ripple-height: 22px !default;
$radio-btn-small-font-size: 12px !default;
$radio-btn-small-bottom-padding-top: 22px !default;
$radio-btn-small-rtl-ripple-left-position: -10px !default;
$radio-btn-large-rtl-ripple-left-position: -12px !default;
$radio-success-color: #689f38 !default;
$radio-success-hover-color: #449d44 !default;
$radio-hover-border-color: #b1afaf !default;
$radio-info-color: #2196f3 !default;
$radio-info-hover-color: #0b7dda !default;
$radio-warning-color: #ef6c00 !default;
$radio-warning-hover-color: #cc5c00 !default;
$radio-danger-color: #d84315 !default;
$radio-danger-hover-color: #ba330a !default;