@mixin radio-base(
  $font-size,
  $line-height,
  $height,
  $ripple-size,
  $scale,
  $gap
) {
  .sf-label {
    font-size: $font-size;
    line-height: $line-height;
  }

  .sf-radio-outer {
    width: $height;
    height: $height;
  }

  .sf-radio-inner {
    transform: scale($scale);
  }

  .sf-ripple-container {
    padding: $ripple-size;
  }

  &.sf-radio-label {
    gap: $gap;
  }
}