.sf-dark-mode {
  --color-sf-black: 0, 0, 0;
  --color-sf-white: 255, 255, 255;
  --color-sf-primary: 208, 188, 255;
  --color-sf-primary-container: 79, 55, 139;
  --color-sf-secondary: 204, 194, 220;
  --color-sf-secondary-container: 74, 68, 88;
  --color-sf-tertiary: 239, 184, 200;
  --color-sf-tertiary-container: 99, 59, 72;
  --color-sf-surface: 28, 27, 31;
  --color-sf-surface-variant: 73, 69, 79;
  --color-sf-background: var(--color-sf-surface);
  --color-sf-on-primary: 55, 30, 115;
  --color-sf-on-primary-container: 234, 221, 255;
  --color-sf-on-secondary: 51, 45, 65;
  --color-sf-on-secondary-container: 232, 222, 248;
  --color-sf-on-tertiary: 73, 37, 50;
  --color-sf-on-tertiary-containe: 255, 216, 228;
  --color-sf-on-surface: 230, 225, 229;
  --color-sf-on-surface-variant: 202, 196, 208;
  --color-sf-on-background: 230, 225, 229;
  --color-sf-outline: 147, 143, 153;
  --color-sf-outline-variant: 68, 71, 70;
  --color-sf-shadow: 0, 0, 0;
  --color-sf-surface-tint-color: 208, 188, 255;
  --color-sf-inverse-surface: 230, 225, 229;
  --color-sf-inverse-on-surface: 49, 48, 51;
  --color-sf-inverse-primary: 103, 80, 164;
  --color-sf-scrim: 0, 0, 0;
  --color-sf-error: 242, 184, 181;
  --color-sf-error-container: 140, 29, 24;
  --color-sf-on-error: 96, 20, 16;
  --color-sf-on-error-container: 249, 222, 220;
  --color-sf-success: 83, 202, 23;
  --color-sf-success-container: 22, 62, 2;
  --color-sf-on-success: 13, 39, 0;
  --color-sf-on-success-container: 183, 250, 150;
  --color-sf-info: 71, 172, 251;
  --color-sf-info-container: 0, 67, 120;
  --color-sf-on-info: 0, 51, 91;
  --color-sf-on-info-container: 173, 219, 255;
  --color-sf-warning: 245, 180, 130;
  --color-sf-warning-container: 123, 65, 0;
  --color-sf-on-warning: 99, 52, 0;
  --color-sf-on-warning-container: 255, 220, 193;
  --color-sf-spreadsheet-gridline: 231, 224, 236;
  --color-sf-shadow-focus-ring1: 0 0 0 1px #000, 0 0 0 3px #fff;
  --color-sf-success-text: 0, 0, 0;
  --color-sf-warning-text: 0, 0, 0;
  --color-sf-info-text: 0, 0, 0;
  --color-sf-danger-text: 0, 0, 0;
  --color-sf-diagram-palette-background: var(--color-sf-inverse-surface);
  --color-sf-content-text-color-alt2: var(--color-sf-on-secondary);
}
.sf-radio-wrapper {
  display: inline-block;
  line-height: 1;
  position: relative;
}
/* stylelint-disable property-no-vendor-prefix */
.sf-radio {
  -webkit-appearance: none;
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}
.sf-radio:not(:checked):not(:disabled):hover + label.sf-rtl::after,
.sf-radio:not(:checked):not(:disabled):hover + label.sf-right::after {
  left: auto;
}
.sf-radio + label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.sf-radio + label .sf-label {
  color: rgba(var(--color-sf-on-surface));
  display: inline-block;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  padding-left: 22px;
  vertical-align: text-top;
  white-space: normal;
}
.sf-radio + label:focus .sf-ripple-container, .sf-radio + label.sf-focus .sf-ripple-container {
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-radio + label .sf-ripple-element {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio + label::before {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  width: 14px;
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface-variant));
}
.sf-radio + label:focus::before {
  box-shadow: none;
}
.sf-radio + label:active .sf-ripple-element {
  background-color: rgba(var(--color-sf-on-surface), 0.08);
}
.sf-radio + label::after {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 6px;
  left: 4px;
  position: absolute;
  top: 4px;
  transform: scale(0);
  width: 6px;
}
.sf-radio + label .sf-ripple-container {
  border-radius: 50%;
  height: 30px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 30px;
  z-index: 1;
}
.sf-radio + label .sf-ripple-container .sf-ripple-element {
  border-radius: 50%;
}
.sf-radio + label.sf-right .sf-label, .sf-radio + label.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-radio + label.sf-right::before, .sf-radio + label.sf-rtl::before {
  left: auto;
  right: 0;
}
.sf-radio + label.sf-right::after, .sf-radio + label.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-radio + label.sf-right .sf-ripple-container, .sf-radio + label.sf-rtl .sf-ripple-container {
  left: auto;
  right: -8px;
}
.sf-radio + label.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-radio + label.sf-right.sf-rtl::before {
  left: 0;
  right: auto;
}
.sf-radio + label.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-radio + label.sf-right.sf-rtl .sf-ripple-container {
  left: -8px;
  right: auto;
}
.sf-radio + label.sf-small .sf-label {
  line-height: 1;
  padding-left: 22px;
}
.sf-radio + label.sf-small::before {
  height: 14px;
  width: 14px;
}
.sf-radio + label.sf-small::after {
  height: 6px;
  left: 4px;
  top: 4px;
  width: 6px;
}
.sf-radio + label.sf-small .sf-ripple-container {
  left: -9px;
  top: -9px;
}
.sf-radio + label.sf-small.sf-right .sf-label, .sf-radio + label.sf-small.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-radio + label.sf-small.sf-right::after, .sf-radio + label.sf-small.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-radio + label.sf-small.sf-right .sf-ripple-container, .sf-radio + label.sf-small.sf-rtl .sf-ripple-container {
  left: auto;
  right: -9px;
}
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-radio + label.sf-small.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-ripple-container {
  left: -10px;
  right: auto;
}
.sf-radio:focus + label::before {
  border-color: rgba(var(--color-sf-primary));
  box-shadow: none;
}
.sf-radio:focus + label::before {
  border-color: rgba(var(--color-sf-on-surface));
  box-shadow: none;
}
.sf-radio:checked + label::after {
  transform: scale(1);
  transition: none;
}
.sf-radio:hover + label .sf-ripple-container {
  background: rgba(var(--color-sf-on-surface), 0.08);
}
.sf-radio:hover + label::before {
  border-color: rgba(var(--color-sf-on-surface));
}
.sf-radio:checked + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label::after {
  background-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:active .sf-ripple-element {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + .sf-focus .sf-ripple-container {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + .sf-focus::before {
  outline: transparent 0 solid;
  outline-offset: 0;
}
.sf-radio:checked:focus + label::before {
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked:focus + label::after {
  background-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:hover .sf-ripple-container {
  background: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + label:hover::before {
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:hover::after {
  background-color: rgba(var(--color-sf-primary));
}
.sf-radio:disabled + label {
  cursor: default;
  pointer-events: none;
}
.sf-radio:disabled + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface), 0.38);
  cursor: default;
}
.sf-radio:disabled + label .sf-ripple-container {
  background-color: transparent;
}
.sf-radio:disabled + label .sf-ripple-container::after {
  background-color: transparent;
  cursor: default;
}
.sf-radio:disabled + label .sf-label {
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-radio:disabled:checked + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-radio:disabled:checked + label::after {
  background-color: rgba(var(--color-sf-on-surface), 0.38);
  border-color: rgba(var(--color-sf-on-surface), 0.38);
  cursor: default;
}
.sf-radio:disabled:checked + label .sf-ripple-container, .sf-radio:disabled:checked + label .sf-ripple-container::after {
  background-color: transparent;
}
.sf-small .sf-radio + label .sf-label,
.sf-radio + label.sf-small .sf-label {
  line-height: 1;
  padding-left: 22px;
}
.sf-small .sf-radio + label::before,
.sf-radio + label.sf-small::before {
  height: 14px;
  width: 14px;
}
.sf-small .sf-radio + label::after,
.sf-radio + label.sf-small::after {
  height: 6px;
  left: 4px;
  top: 4px;
  width: 6px;
}
.sf-small .sf-radio + label .sf-ripple-container,
.sf-radio + label.sf-small .sf-ripple-container {
  left: -9px;
  top: -9px;
}
.sf-small .sf-radio + label.sf-right .sf-label, .sf-small .sf-radio + label.sf-rtl .sf-label,
.sf-radio + label.sf-small.sf-right .sf-label,
.sf-radio + label.sf-small.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-small .sf-radio + label.sf-right::after, .sf-small .sf-radio + label.sf-rtl::after,
.sf-radio + label.sf-small.sf-right::after,
.sf-radio + label.sf-small.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-small .sf-radio + label.sf-right .sf-ripple-container, .sf-small .sf-radio + label.sf-rtl .sf-ripple-container,
.sf-radio + label.sf-small.sf-right .sf-ripple-container,
.sf-radio + label.sf-small.sf-rtl .sf-ripple-container {
  left: auto;
  right: -9px;
}
.sf-small .sf-radio + label.sf-right.sf-rtl .sf-label,
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-small .sf-radio + label.sf-right.sf-rtl::after,
.sf-radio + label.sf-small.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-small .sf-radio + label.sf-right.sf-rtl .sf-ripple-container,
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-ripple-container {
  left: -10px;
  right: auto;
}