.sf-radio-wrapper {
  display: inline-block;
  line-height: 1;
  position: relative;
}
/* stylelint-disable property-no-vendor-prefix */
.sf-radio {
  -webkit-appearance: none;
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}
.sf-radio:not(:checked):not(:disabled):hover + label.sf-rtl::after,
.sf-radio:not(:checked):not(:disabled):hover + label.sf-right::after {
  left: auto;
}
.sf-radio + label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.sf-radio + label .sf-label {
  color: rgba(var(--color-sf-on-surface));
  display: inline-block;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  padding-left: 22px;
  vertical-align: text-top;
  white-space: normal;
}
.sf-radio + label:focus .sf-ripple-container, .sf-radio + label.sf-focus .sf-ripple-container {
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-radio + label .sf-ripple-element {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio + label::before {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  width: 14px;
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface-variant));
}
.sf-radio + label:focus::before {
  box-shadow: none;
}
.sf-radio + label:active .sf-ripple-element {
  background-color: rgba(var(--color-sf-on-surface), 0.08);
}
.sf-radio + label::after {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 6px;
  left: 4px;
  position: absolute;
  top: 4px;
  transform: scale(0);
  width: 6px;
}
.sf-radio + label .sf-ripple-container {
  border-radius: 50%;
  height: 30px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 30px;
  z-index: 1;
}
.sf-radio + label .sf-ripple-container .sf-ripple-element {
  border-radius: 50%;
}
.sf-radio + label.sf-right .sf-label, .sf-radio + label.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-radio + label.sf-right::before, .sf-radio + label.sf-rtl::before {
  left: auto;
  right: 0;
}
.sf-radio + label.sf-right::after, .sf-radio + label.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-radio + label.sf-right .sf-ripple-container, .sf-radio + label.sf-rtl .sf-ripple-container {
  left: auto;
  right: -8px;
}
.sf-radio + label.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-radio + label.sf-right.sf-rtl::before {
  left: 0;
  right: auto;
}
.sf-radio + label.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-radio + label.sf-right.sf-rtl .sf-ripple-container {
  left: -8px;
  right: auto;
}
.sf-radio + label.sf-small .sf-label {
  line-height: 1;
  padding-left: 22px;
}
.sf-radio + label.sf-small::before {
  height: 14px;
  width: 14px;
}
.sf-radio + label.sf-small::after {
  height: 6px;
  left: 4px;
  top: 4px;
  width: 6px;
}
.sf-radio + label.sf-small .sf-ripple-container {
  left: -9px;
  top: -9px;
}
.sf-radio + label.sf-small.sf-right .sf-label, .sf-radio + label.sf-small.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-radio + label.sf-small.sf-right::after, .sf-radio + label.sf-small.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-radio + label.sf-small.sf-right .sf-ripple-container, .sf-radio + label.sf-small.sf-rtl .sf-ripple-container {
  left: auto;
  right: -9px;
}
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-radio + label.sf-small.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-ripple-container {
  left: -10px;
  right: auto;
}
.sf-radio:focus + label::before {
  border-color: rgba(var(--color-sf-primary));
  box-shadow: none;
}
.sf-radio:focus + label::before {
  border-color: rgba(var(--color-sf-on-surface));
  box-shadow: none;
}
.sf-radio:checked + label::after {
  transform: scale(1);
  transition: none;
}
.sf-radio:hover + label .sf-ripple-container {
  background: rgba(var(--color-sf-on-surface), 0.08);
}
.sf-radio:hover + label::before {
  border-color: rgba(var(--color-sf-on-surface));
}
.sf-radio:checked + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label::after {
  background-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:active .sf-ripple-element {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + .sf-focus .sf-ripple-container {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + .sf-focus::before {
  outline: transparent 0 solid;
  outline-offset: 0;
}
.sf-radio:checked:focus + label::before {
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked:focus + label::after {
  background-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:hover .sf-ripple-container {
  background: rgba(var(--color-sf-primary), 0.08);
}
.sf-radio:checked + label:hover::before {
  border-color: rgba(var(--color-sf-primary));
}
.sf-radio:checked + label:hover::after {
  background-color: rgba(var(--color-sf-primary));
}
.sf-radio:disabled + label {
  cursor: default;
  pointer-events: none;
}
.sf-radio:disabled + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface), 0.38);
  cursor: default;
}
.sf-radio:disabled + label .sf-ripple-container {
  background-color: transparent;
}
.sf-radio:disabled + label .sf-ripple-container::after {
  background-color: transparent;
  cursor: default;
}
.sf-radio:disabled + label .sf-label {
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-radio:disabled:checked + label::before {
  background-color: transparent;
  border-color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-radio:disabled:checked + label::after {
  background-color: rgba(var(--color-sf-on-surface), 0.38);
  border-color: rgba(var(--color-sf-on-surface), 0.38);
  cursor: default;
}
.sf-radio:disabled:checked + label .sf-ripple-container, .sf-radio:disabled:checked + label .sf-ripple-container::after {
  background-color: transparent;
}
.sf-small .sf-radio + label .sf-label,
.sf-radio + label.sf-small .sf-label {
  line-height: 1;
  padding-left: 22px;
}
.sf-small .sf-radio + label::before,
.sf-radio + label.sf-small::before {
  height: 14px;
  width: 14px;
}
.sf-small .sf-radio + label::after,
.sf-radio + label.sf-small::after {
  height: 6px;
  left: 4px;
  top: 4px;
  width: 6px;
}
.sf-small .sf-radio + label .sf-ripple-container,
.sf-radio + label.sf-small .sf-ripple-container {
  left: -9px;
  top: -9px;
}
.sf-small .sf-radio + label.sf-right .sf-label, .sf-small .sf-radio + label.sf-rtl .sf-label,
.sf-radio + label.sf-small.sf-right .sf-label,
.sf-radio + label.sf-small.sf-rtl .sf-label {
  padding-left: 0;
  padding-right: 22px;
}
.sf-small .sf-radio + label.sf-right::after, .sf-small .sf-radio + label.sf-rtl::after,
.sf-radio + label.sf-small.sf-right::after,
.sf-radio + label.sf-small.sf-rtl::after {
  left: auto;
  right: 4px;
}
.sf-small .sf-radio + label.sf-right .sf-ripple-container, .sf-small .sf-radio + label.sf-rtl .sf-ripple-container,
.sf-radio + label.sf-small.sf-right .sf-ripple-container,
.sf-radio + label.sf-small.sf-rtl .sf-ripple-container {
  left: auto;
  right: -9px;
}
.sf-small .sf-radio + label.sf-right.sf-rtl .sf-label,
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-label {
  padding-left: 22px;
  padding-right: 0;
}
.sf-small .sf-radio + label.sf-right.sf-rtl::after,
.sf-radio + label.sf-small.sf-right.sf-rtl::after {
  left: 4px;
  right: auto;
}
.sf-small .sf-radio + label.sf-right.sf-rtl .sf-ripple-container,
.sf-radio + label.sf-small.sf-right.sf-rtl .sf-ripple-container {
  left: -10px;
  right: auto;
}