@include export-module('toolbar-layout') {
  .sf-toolbar {
    border-radius: $tbar-border-radius;
    display: block;
    height: $tbar-height;
    min-height: $tbar-height;
    position: relative;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;

    &.sf-control[class *= 'sf-toolbar'] {
      box-sizing: content-box;
    }

    .sf-toolbar-items {
      border-radius: $tbar-border-radius 0 0 $tbar-border-radius;
      display: flex;
      height: 100%;
      vertical-align: middle;
      align-items: center;
      overflow: hidden;

      &:not(.sf-hscroll):not(.sf-vscroll) {
        padding: $tbar-items-padding;
        gap: $tbar-items-gap;
      }

      &.sf-popup-overflow {
        width: calc(100% - $tbar-nav-width);
      }
    }

    .sf-toolbar-item {
      align-content: center;
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      vertical-align: middle;
      width: auto;
      flex: 0 0 auto;

      &:not(.sf-separator):not(.sf-spacer) {
        height: inherit;
        min-height: $tbar-item-min-height;
        min-width: $tbar-item-min-width;
      }

      &.sf-separator {
        min-height: $tbar-separator-min-height;
        min-width: 1px;
        height: $tbar-separator-height;
        cursor: auto;

        + .sf-separator,
        &:last-of-type,
        &:first-of-type {
          display: none;
        }
      }

      input[type = 'checkbox'] {
        height: auto;
      }

      &.sf-spacer {
        flex-grow: 1;
        cursor: auto;
      }
    }

    &.sf-multirow-toolbar {
      height: auto;

      .sf-toolbar-items.sf-toolbar-multirow {
        white-space: normal;
        flex-wrap: wrap;
      }
    }

    .sf-toolbar-items.sf-hscroll {
      width: 100%;

      .sf-hscroll-bar {
        display: flex;

        .sf-hscroll-content {
          display: flex;
          padding: $tbar-items-padding;
          gap: $tbar-items-gap;
          align-items: center;
        }
      }
    }

    .sf-toolbar-items .sf-hscroll-bar .sf-hscroll-content {
      touch-action: pan-y pinch-zoom;
    }

    &.sf-toolpop {
      overflow: visible;

      .sf-hidden-popup {
        display: block;
        visibility: hidden;

        .sf-toolbar-item {
          position: absolute;
        }
      }
    }

    .sf-hor-nav {
      align-items: center;
      border-radius: 0 $tbar-border-radius $tbar-border-radius 0;
      cursor: pointer;
      display: flex;
      height: 100%;
      overflow: hidden;
      position: absolute;
      right: $tbar-nav-position-offset;
      top: $tbar-nav-position-offset;
      width: $tbar-nav-width;
    }

    .sf-popup-down-icon.sf-icons,
    .sf-popup-up-icon.sf-icons {
      display: flex;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: $tbar-popup-icon-font-size;

      svg {
        height: $tbar-popup-icon-size;
        width: $tbar-popup-icon-size;
      }
    }

    .sf-toolbar-pop {
      border-radius: $tbar-popup-border-radius;
      overflow: hidden;
      padding: $tbar-popup-padding;
      position: absolute;

      .sf-toolbar-item  {
        display: flex;
        height: $tbar-item-height;
        justify-content: center;
        min-height: $tbar-popup-item-min-height;

        &:not(.sf-separator) {
          height: $tbar-item-height;
          min-width: 34px;
        }

        > * {
          height: 100%;
          min-width: 100%;
          display: flex;
          justify-content: flex-start;
        }

        &.sf-tbtn-align .sf-btn .sf-icons.sf-btn-icon {
          min-width: 100%;
        }
      }

      .sf-toolbar-popup,
      .sf-toolpopup {
        text-align: center;
      }

      &:not(.sf-hidden-popup) {
        .sf-separator,
        .sf-spacer {
          display: none;
        }
      }
    }

    &.sf-extended-toolbar {
      overflow: visible;

      .sf-hidden-popup {
        display: block;
        visibility: hidden;

        .sf-toolbar-item {
          position: absolute;
        }
      }
    }

    &.sf-extended-toolbar:not(.sf-vertical) {
      overflow: visible;

      &.sf-tbar-extended {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .sf-toolbar-extended {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: $tbar-height;
        box-shadow: $tbar-box-shadow;
        display: flex;
        flex-wrap: wrap;
        white-space: normal;
        gap: $tbar-items-gap;
        padding: $tbar-items-padding;
        vertical-align: middle;
        align-items: center;

        .sf-toolbar-item {
          display: inline-flex;
          min-height: $tbar-item-min-height;

          &:not(.sf-separator) {
            min-width: $tbar-item-min-width;
          }

          &.sf-separator {
            min-height: $tbar-separator-min-height;
            height: $tbar-separator-height;

            &.sf-extended-separator {
              display: none;
            }
          }
        }

        &.sf-popup-close:not(.sf-hidden-popup) {
          display: none;
        }

        &.sf-toolbar-pop {
          width: inherit;

          .sf-toolbar-item {
            &:not(.sf-separator) {
              height: auto;
            }
          }

          .sf-toolbar-item > * {
            align-self: center;
          }
        }
      }

      .sf-toolbar-items {
        .sf-toolbar-item {
          &.sf-separator:last-of-type {
            display: inline-flex;
          }
        }
      }
    }

    &.sf-vertical {
      height: auto;
      display: flex;
      flex-direction: column;

      .sf-toolbar-items {
        flex-direction: column;
        align-items: normal;

        &:not(.sf-vscroll) {
          padding: $tbar-vertical-items-padding;
        }

        .sf-vscroll-bar .sf-vscroll-content {
          touch-action: pan-x pinch-zoom;
        }

        &.sf-toolbar-item {
          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .sf-toolbar-item {
          display: flex;
          height: auto;

          &:not(.sf-separator) {
            min-width: 33px;
          }

          &.sf-separator {
            height: auto;
            min-height: auto;
          }

          > * {
            width: 100%;
            display: flex;
            justify-content: flex-start;
          }
        }

        &.sf-popup-overflow {
          width: 100%;
          height: calc(100% - $tbar-items-height);
        }
      }

      .sf-toolbar-items.sf-vscroll {
        .sf-vscroll-bar {
          .sf-vscroll-content {
            display: flex;
            flex-direction: column;
            padding: $tbar-vertical-items-padding;
            gap: $tbar-items-gap;
          }
        }
      }

      .sf-hor-nav {
        bottom: 0;
        height: auto;
        left: 0;
        min-height: $tbar-items-height;
        min-width: 50px;
        right: auto;
        top: auto;
        width: 100%;
      }
    }

    &.sf-rtl {
      .sf-hor-nav {
        left: $tbar-nav-position-offset;
        right: auto;
        border-radius: $tbar-border-radius 0 0 $tbar-border-radius;
      }
    }

    &.sf-extended-toolbar.sf-rtl:not(.sf-vertical) {
      .sf-hor-nav {
        left: 0;
        right: auto;
      }
    }
  }
}
