$tbar-height: 48px !default;
$tbar-border-radius: 0 !default;
$tbar-border-width: 0 !default;
$tbar-border-style: solid !default;
$tbar-border-color: rgba($border-light) !default;
$tbar-bg-color: $content-bg-color-alt2 !default;
$tbar-box-shadow: none !default;
$tbar-highlight-color: $content-bg-color-focus !default;

$tbar-items-height: 48px !default;
$tbar-items-padding: 8px 12px !default;
$tbar-items-gap: 8px !default;

$tbar-item-min-height: 32px !default;
$tbar-item-height: 32px !default;
$tbar-item-min-width: 32px !default;

$tbar-vertical-items-padding: 12px 8px !default;

$tbar-separator-height: 20px !default;
$tbar-separator-min-height: $tbar-separator-height !default;
$tbar-separator-width: 1px !default;
$tbar-separator-border-style: solid !default;
$tbar-separator-border-color: rgba($border-light) !default;
$tbar-separator-horizontal-border-width: 0 $tbar-separator-width 0 0 !default;
$tbar-separator-vertical-border-width: 0 0 $tbar-separator-width 0 !default;

$tbar-nav-width: 40px !default;
$tbar-nav-border-style: solid !default;
$tbar-nav-press-border: 0 !default;
$tbar-nav-hover-border: 1px solid $tbar-border-color !default;
$tbar-nav-pressed-box-shadow: none !default;
$tbar-nav-selected-box-shadow: none !default;
$tbar-nav-position-offset: 0 !default;

$tbar-popup-border-width: 0 0 0 1px !default;
$tbar-popup-rtl-border-width: 0 1px 0 0 !default;
$tbar-popup-vertical-border-width: 1px 0 0 0 !default;
$tbar-popup-vertical-rtl-border-width: 1px 0 0 0 !default;
$tbar-popup-padding: 0 !default;

$tbar-popup-nav-active-border-bottom-right-radius: 0 !default;
$tbar-popup-nav-active-bg: $content-bg-color-pressed !default;
$tbar-popup-nav-active-icons-color: rgba($icon-color) !default;

$tbar-popup-nav-hover-bg: $content-bg-color-hover !default;
$tbar-popup-nav-hover-icons-color: rgba($icon-color) !default;
$tbar-popup-nav-hover-border-color: $tbar-border-color !default;
$tbar-popup-nav-hover-border-width: 0 0 0 1px !default;

$tbar-popup-nav-hover-active-bg: $content-bg-color-pressed !default;
$tbar-popup-nav-hover-active-border-color: $tbar-border-color !default;
$tbar-popup-nav-hover-active-border-width: 0 0 0 1px !default;

$tbar-popup-nav-focus-bg: $content-bg-color-focus !default;
$tbar-popup-nav-focus-icons-color: rgba($icon-color) !default;
$tbar-popup-nav-focus-border-color: rgba($border-light) !default;
$tbar-popup-nav-focus-border-width: 0 0 0 1px !default;

$tbar-popup-nav-selected-bg: $content-bg-color-pressed !default;
$tbar-popup-nav-selected-border-color: rgba($border-light) !default;
$tbar-popup-nav-selected-border-width: 0 0 0 1px !default;
$tbar-popup-nav-selected-focus-border-color: rgba($border-light) !default;
$tbar-popup-nav-selected-focus-border-width: 0 0 0 1px !default;
$tbar-popup-nav-selected-icons-active-color: rgba($icon-color) !default;

$tbar-popup-icon-font-size: $text-sm !default;
$tbar-popup-icon-size: 18px !default;
$tbar-popup-icon-color: rgba($icon-color) !default;

$tbar-popup-border-radius: 4px !default;
$tbar-popup-bg-color: $flyout-bg-color !default;
$tbar-popup-box-shadow: $shadow-md !default;
$tbar-popup-item-bg-color: $transparent !default;
$tbar-popup-item-min-height: 32px !default;
