@include export-module('v-scroll') {

  #{&}.sf-vscroll {
    display: block;
    position: relative;
    width: inherit;
    padding: $vscroll-padding;

    > * {
      height: inherit;
    }

    .sf-vscroll-content {
      display: inline-block;
      height: auto;
      position: relative;
      width: 100%;

      > * {
        pointer-events: auto;
      }
    }

    &.sf-rtl {

      .sf-scroll-nav  {

        &.sf-scroll-up-nav {
          left: auto;
          right: 0;
        }

        &.sf-scroll-down-nav {
          left: 0;
          right: auto;
        }
      }
    }

    .sf-scroll-nav  {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: $vscroll-nav-height;
      overflow: hidden;
      position: absolute;
      width: 100%;

      &.sf-scroll-up-nav {
        top: 0;
      }

      &.sf-scroll-down-nav {
        bottom: 0;
      }
    }

    .sf-nav-arrow {
      position: relative;
    }

    .sf-nav-arrow.sf-icons {
      display: flex;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      width: 100%;

      svg {
        height: $vscroll-arrow-size;
        width: $vscroll-arrow-size;
      }
    }
  }
}
