$vscroll-nav-height: 48px !default;
$vscroll-padding: $vscroll-nav-height 0 !default;
$vscroll-arrow-size: 18px !default;

$vscroll-bg: $transparent !default;
$vscroll-bg-hover: $content-bg-color-hover !default;
$vscroll-bg-focus: $content-bg-color-focus !default;
$vscroll-bg-pressed: $content-bg-color-pressed !default;
$vscroll-icon-color: rgba($icon-color) !default;
$vscroll-icon-color-hover: rgba($icon-color) !default;
$vscroll-icon-color-active: rgba($icon-color) !default;

$vscroll-border-size: 1px !default;
$vscroll-border-type: solid !default;
$vscroll-border-color: rgba($border-light) !default;
$vscroll-border-focus: 0 !default;
$vscroll-border-active: 0 !default;
$vscroll-border-hover: 0 !default;
$vscroll-border-hover-color: transparent !default;

$vscroll-active-box-shadow: none !default;
