@include export-module('contextmenu-layout') {

  .sf-contextmenu {

    .sf-menu-parent {
      list-style: none;
      margin: 0;
      overflow-x: hidden;
      user-select: none;
      padding: $context-menu-ul-padding;
      border: $context-menu-ul-border;
      border-radius: $context-menu-ul-border-radius;
      min-width: $context-menu-min-width;
      position: absolute;
      box-shadow: $context-menu-ul-box-shadow;
      max-height: $context-menu-max-height;
      overflow-y: auto;
      font-size: $context-menu-font-size;
    }

    .sf-menu-item {
      cursor: pointer;
      position: relative;
      height: $context-menu-li-height;
      padding: $context-menu-li-padding;
      gap: 12px;
    }

    .sf-menu-url {
      text-decoration: none;
      min-width: $context-menu-min-width;
    }

    .sf-submenu-icon {
      margin-inline-start: auto;
      display: flex;
    }

    .sf-separator {
      pointer-events: none;
      height: auto;
      margin: $context-menu-li-separator-padding;
      padding: 0;
    }

    .sf-blank-icon {
      padding-inline: $context-menu-caret-blank-icon-padding;
    }

    .sf-separator,
    .sf-menu-header {
      border-bottom: $context-menu-li-border;
    }

    .sf-menu-parent[sf-animate=true] {
      pointer-events: none;
    }

    .sf-submenu-icon svg,
    .sf-menu-icon,
    .sf-menu-icon svg {
      font-size: $context-menu-icon-font-size;
    }
  }
}

.sf-rtl.sf-contextmenu .sf-submenu-icon {
  transform: rotate(180deg);
}