$context-menu-min-width: 120px !default;
$context-menu-color: rgb($flyout-text-color) !default;
$context-menu-disable-text: $flyout-text-color-disabled !default;
$context-menu-max-height: 500px !default;
$context-menu-font-size: $text-base !default;

$context-menu-ul-padding: 8px 0 !default;
$context-menu-ul-border: 1px solid rgb($border-light) !default;
$context-menu-ul-border-radius: 4px !default;
$context-menu-ul-bg-color: rgb($content-bg-color) !default;
$context-menu-ul-box-shadow: $shadow-md !default;

$context-menu-li-height: 40px !default;
$context-menu-li-padding: 8px 16px !default;
$context-menu-li-border: 1px solid !default;
$context-menu-li-border-color: rgb($flyout-border) !default;
$context-menu-li-bg-color: $flyout-bg-color-hover !default;
$context-menu-li-selection-bg-color: $flyout-bg-color-selected !default;
$context-menu-li-separator-padding: 8px 0 !default;

$context-menu-icon-color: rgb($icon-color) !default;
$context-menu-icon-disabled-color: $icon-color-disabled !default;
$context-menu-icon-font-size: $font-size-20 !default;

$context-menu-caret-blank-icon-padding: 49px 16px !default;