@mixin avatar-padding($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin avatar-size($height, $width, $top, $left, $right) {
  height: $height;
  width: $width;
  top: $top;
  left: $left;
  right: $right;
}

@include export-module('listview-layout') {
  .sf-listview {
    -webkit-overflow-scrolling: touch;
    border: $listview-border-size solid;
    border-radius: $listview-root-border-radius;
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;

    &.sf-disabled,
    &.sf-disabled * {
      cursor: default;
    }

    &.sf-list-template .sf-list-item {
      height: unset;
      line-height: unset;
      position: unset;
      padding: unset;
    }

    &.sf-disabled .sf-checkbox .sf-icons {
      cursor: default;
    }

    & .sf-icon-back {
      margin: $listview-icon-back-margin;
      height: $listview-back-icon-height;
      width: $listview-back-icon-width;
    }

    & .sf-list-header {
      align-items: center;
      display: flex;
      font-weight: $listview-header-font-weight;
      height: $listview-header-height;
      border-bottom: $listview-header-border-bottom;
      padding: 0 $listview-header-text-padding;

      & .sf-text.header,
      .sf-headertemplate-text.nested-header {
        display: none;
      }

      &.sf-list-navigation .sf-text {
        cursor: pointer;
      }

      .sf-text {
        cursor: default;
        text-indent: 0;
      }
    }

    & .sf-has-header>.sf-view {
      top: 45px;
    }

    & .sf-back-button {
      cursor: pointer;
      padding-right: $listview-back-padding-right;
    }

    & .sf-icon-collapsible {
      cursor: pointer;
      font-size: $listview-nested-icon-collapsible;
      position: absolute;
      right: $listview-right-icon-collapsible;
      top: 50%;
      transform: translateY(-50%);
    }

    &.sf-virtualization .sf-list-container {
      overflow: unset;
    }

    & .sf-text .sf-headertext {
      display: inline-block;
      line-height: $listview-header-line-height;
    }

    &.sf-list-template {
      .sf-list-wrapper {
        height: inherit;
        position: relative;

        &:not(.sf-list-multi-line) {
          padding: $listview-template-padding;
        }

        &.sf-list-multi-line {
          padding: $listview-template-multiline-padding;

          .sf-list-item-header {
            display: block;
            font-size: $listview-template-multiline-header-font-size;
            font-weight: $listview-template-multiline-header-font-weight;
            line-height: $listview-template-multiline-header-line-height;
            margin: 0;
            overflow: hidden;
            padding: $listview-template-multiline-header-padding;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .sf-list-content {
            display: block;
            font-size: $listview-template-multiline-content-font-size;
            font-weight: $listview-template-multiline-list-content-font-weight;
            line-height: $listview-template-multiline-list-content-line-height;
            margin: 0;
            padding: $listview-template-multiline-content-padding;
            word-wrap: break-word;
          }

          .sf-list-content:not(.sf-text-overflow) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &.sf-list-avatar {
          .sf-avatar {
            @include avatar-size($listview-template-avatar-size, $listview-template-avatar-size, $listview-template-avatar-top, $listview-template-avatar-left, null);
            position: absolute;
            margin: $listview-template-avatar-margin;
            top: $listview-template-avatar-top;
          }
        }

        &.sf-list-avatar:not(.sf-list-badge) {
          @include avatar-padding($listview-template-avatar-padding-left, $listview-template-avatar-padding-right);
        }

        &.sf-list-avatar-right:not(.sf-list-badge) {
          @include avatar-padding($listview-template-avatar-rightposition-padding-left, $listview-template-avatar-rightposition-padding-right);

          .sf-avatar {
            @include avatar-size($listview-template-avatar-size, $listview-template-avatar-size, $listview-template-avatar-top, null, $listview-template-avatar-rightposition-right);
            position: absolute;
          }
        }

        &.sf-list-multi-line.sf-list-avatar {
          .sf-avatar {
            top: $listview-template-multiline-avatar-top;
          }
        }

        &.sf-list-multi-line.sf-list-avatar-right:not(.sf-list-badge) {
          .sf-avatar {
            top: $listview-template-multiline-avatar-top;
          }
        }

        &.sf-list-badge {
          .sf-badge {
            font-size: $listview-template-badge-font-size;
            @include avatar-size($listview-template-badge-height, $listview-template-badge-width, 50%, null, $listview-template-badge-right);
            line-height: $listview-template-badge-line-height;
            padding: 0;
            position: absolute;
            transform: translateY(-50%);
            border-radius: $listview-template-badge-border-radius;
          }
        }

        &.sf-list-badge.sf-list-avatar {
          @include avatar-padding($listview-template-avatar-badge-padding-left, $listview-template-avatar-badge-padding-right);
        }

        &.sf-list-badge:not(.sf-list-avatar) {
          @include avatar-padding($listview-template-badgewithoutavatar-padding-left, $listview-template-badgewithoutavatar-padding-right);
        }

        &:not(.sf-list-multi-line) {
          .sf-list-content {
            display: block;
            margin: 0;
            overflow: hidden;
            padding: $listview-template-item-padding;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: $listview-template-list-content-font-size;
            line-height: $listview-template-list-content-line-height;
          }
        }
      }
    }

    &.sf-rtl {

      & .sf-list-icon {
        margin-left: 16px;
        margin-right: 0;
      }

      & .sf-icon-collapsible {
        left: 0%;
        right: initial;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
      }

      & .sf-back-button {
        transform: rotate(180deg);
      }

      & .sf-checkbox {
        & .sf-checkbox-left {
          margin: $listview-rtl-checkbox-left-margin;
        }

        & .sf-checkbox-right {
          margin: $listview-rtl-checkbox-right-margin;
        }
      }

      &.sf-list-template .sf-list-wrapper {
        &.sf-list-avatar {
          .sf-avatar {
            left: inherit;
            right: $listview-template-avatar-left;
          }
        }

        &.sf-list-avatar:not(.sf-list-badge) {
          @include avatar-padding($listview-template-avatar-padding-right, $listview-template-avatar-padding-left);
        }

        &.sf-list-avatar-right:not(.sf-list-badge) {
          @include avatar-padding($listview-template-avatar-rightposition-padding-right, $listview-template-avatar-rightposition-padding-left);

          .sf-avatar {
            left: $listview-template-avatar-rightposition-right;
            right: inherit;
          }
        }

        &.sf-list-badge {
          .sf-badge {
            left: $listview-template-badge-right;
            right: inherit;
          }
        }

        &.sf-list-badge.sf-list-avatar {
          @include avatar-padding($listview-template-avatar-badge-padding-right, $listview-template-avatar-badge-padding-left);
        }

        &.sf-list-badge:not(.sf-list-avatar) {
          @include avatar-padding($listview-template-badgewithoutavatar-padding-right, $listview-template-badgewithoutavatar-padding-left);
        }
      }
    }
  }
}