$listview-icon-back-margin: 0 14px 0 0 !default;
$listview-back-icon-font-size: 18px !default;
$listview-root-border-radius: 4px !default;
$listview-right-icon-collapsible: 0% !default;
$listview-nested-icon-collapsible: 18px !default;
$list-icon-size: 20px !default;
$listview-header-text-padding: 16px !default;
$listview-header-height: 34px !default;
$listview-header-line-height: 18px !default;
$listview-header-border-bottom: 0 !default;
$listview-border-size: 1px !default;
$listview-font-size: $text-sm !default;
$listview-back-padding-right: 8px !default;
$listview-back-icon-height: 18px !default;
$listview-back-icon-width: inherit !default;
$listview-rtl-checkbox-left-margin: -2px 0 0 8px !default;
$listview-rtl-checkbox-right-margin: -2px 8px 0 0 !default;
$listview-font-family: $font-family !default;
$listview-header-font-size: $text-xs !default;
$listview-header-font-weight: $font-weight-medium !default;

$listview-icon-color: rgba($icon-color) !default;
$listview-line-color: rgba($border-light) !default;
$listview-header-text-color: rgba($content-text-color-alt1) !default;
$listview-header-bg: transparent !default;
$listview-header-border: rgba($border-light) !default;

$listview-template-padding: 10px 16px !default;
$listview-template-list-content-font-size: 0 !default;
$listview-template-list-content-line-height: 0 !default;
$listview-template-avatar-padding-right: 16px !default;
$listview-template-avatar-padding-left: 68px !default;
$listview-template-avatar-rightposition-padding-right: 68px !default;
$listview-template-avatar-rightposition-padding-left: 16px !default;
$listview-template-avatar-size: 40px !default;
$listview-template-avatar-top: 0 !default;
$listview-template-avatar-left: 0 !default;
$listview-template-avatar-margin: 7px 16px 7px 12px !default;
$listview-template-avatar-background: rgba($primary) !default;
$listview-template-avatar-top: 0 !default;
$listview-template-avatar-rightposition-right: 0 !default;
$listview-template-badge-height: 20px !default;
$listview-template-badge-width: 36px !default;
$listview-template-badge-line-height: 20px !default;
$listview-template-badge-font-size: $text-xs !default;
$listview-template-badge-right: 12px !default;
$listview-template-badge-border-radius: 10px !default;
$listview-template-avatar-badge-padding-right: 10px !default;
$listview-template-avatar-badge-padding-left: 68px !default;
$listview-template-badgewithoutavatar-padding-right: 10px !default;
$listview-template-badgewithoutavatar-padding-left: 16px !default;
$listview-template-item-padding: 8px 0 !default;
$listview-template-multiline-header-padding: 0 !default;
$listview-template-multiline-content-padding: 2px 0 0 0 !default;
$listview-template-multiline-header-font-size: $text-sm !default;
$listview-template-multiline-padding: 4px !default;
$listview-template-multiline-content-font-size: $text-sm !default;
$listview-template-multiline-avatar-top: 0 !default;
$listview-template-multiline-header-color: rgba($content-text-color) !default;
$listview-template-multiline-content-color: rgba($content-text-color-alt1) !default;
$listview-template-multiline-header-font-weight: $font-weight-normal !default;
$listview-template-multiline-header-line-height: 22px !default;
$listview-template-multiline-list-content-font-weight: $font-weight-normal !default;
$listview-template-multiline-list-content-line-height: 22px !default;