$numeric-skin-name: 'Material3' !default;
$numeric-input-icon-size: 16px !default;
$numeric-input-icon-padding: 8px !default;

.sf-numeric .sf-input-group-icon.sf-spin-down path,
.sf-numeric .sf-input-group-icon.sf-spin-up path {
    fill: rgba($icon-color);
}