$skeleton-background-color: $content-bg-color-alt2 !default;
$skeleton-border: none !default;
$skeleton-border-radius: 2px !default;
$skeleton-shimmer-wave-color: $skeleton-wave-color !default;
$skeleton-shimmer-background-color: transparent !default;
$skeleton-shimmer-wave-length: 100px !default;
$skeleton-shimmer-wave-pos: 50% !default;
$skeleton-shimmer-wave-angle: 90deg !default;
$skeleton-shimmer-effect-duration: 2s !default;
$skeleton-shimmer-effect-timing-function: ease-in-out !default;
$skeleton-shimmer-transform: translateX(calc(50% + 100px)) !default;