@use 'theme-variables' as *;

@mixin split-button-bottom-radius ($start-start: 0, $start-end: 0, $end-end: 0, $end-start: 0) {
  border-start-start-radius: $start-start;
  border-start-end-radius: $start-end;
  border-end-start-radius: $end-start;
  border-end-end-radius: $end-end;
}

@include export-module('split-button-layout-and-theme') {
  .sf-split-btn-wrapper {
    display: inline-flex;
    white-space: nowrap;
    width: min-content;
    border-radius: $split-btn-border-radius;
    box-shadow: none;
    gap: $split-btn-gap;

    .sf-btn-vertical+.sf-dropdown-btn {
      height: auto;
    }

    .sf-split-btn,
    .sf-dropdown-btn {
      box-shadow: none;

      &:focus {
        outline-offset: $split-btn-focus-outline-offset;
        box-shadow: none;
      }

      &:disabled {

        &:focus,
        &:hover,
        &:active {
          z-index: 0;
        }
      }
    }

    .sf-split-btn {
      text-transform: none;
      z-index: 1;

      &:focus,
      &:active {
        box-shadow: $split-btn-active-box-shadow;
        z-index: $split-btn-zindex;
      }
    }

    .sf-dropdown-btn {
      transition: border-radius 0.25s ease-in;
    }

    &.sf-standard {
      box-shadow: none;
    }

    &.sf-split-btn-sm {

      .sf-split-btn {
        padding-inline: $split-btn-sm-padding;
        font-size: $split-btn-sm-font-size;
        @include split-button-bottom-radius($split-btn-sm-border-radius, $split-btn-topleft-border-radius, $split-btn-topleft-border-radius, $split-btn-sm-border-radius);

      }

      .sf-dropdown-btn {
        padding: $split-btn-dropdown-padding-sm;
        @include split-button-bottom-radius($split-btn-topleft-border-radius, $split-btn-sm-border-radius, $split-btn-sm-border-radius, $split-btn-topleft-border-radius);

        &.sf-active {
          border-radius: $split-btn-sm-active-border-radius;
        }
      }
    }

    &.sf-split-btn-me {

      .sf-split-btn {
        padding-inline: $split-btn-padding;
        padding-block: $split-btn-padding-block;
        font-size: $split-btn-font-size;
        @include split-button-bottom-radius($split-btn-border-radius, $split-btn-topleft-border-radius, $split-btn-topleft-border-radius, $split-btn-border-radius);
      }

      .sf-dropdown-btn {
        padding: $split-btn-dropdown-padding-me;
        @include split-button-bottom-radius($split-btn-topleft-border-radius, $split-btn-border-radius, $split-btn-border-radius, $split-btn-topleft-border-radius);

        &.sf-active {
          @include split-button-bottom-radius($radius-16, $radius-20, $radius-20, $radius-16);
        }
      }
    }

    &.sf-split-btn-la {
      .sf-split-btn {
        padding-inline: $split-btn-la-padding;
        font-size: $split-btn-la-font-size;
        @include split-button-bottom-radius($split-btn-la-border-radius, $split-btn-topleft-border-radius, $split-btn-topleft-border-radius, $split-btn-la-border-radius);
      }

      .sf-dropdown-btn {
        padding: $split-btn-dropdown-padding-la;
        @include split-button-bottom-radius($split-btn-topleft-border-radius, $split-btn-la-border-radius, $split-btn-la-border-radius, $split-btn-topleft-border-radius);

        &.sf-active {
          border-radius: $split-btn-la-active-border-radius;
        }
      }
    }
  }
}