.sf-dark-mode {
  --color-sf-black: 0, 0, 0;
  --color-sf-white: 255, 255, 255;
  --color-sf-primary: 208, 188, 255;
  --color-sf-primary-container: 79, 55, 139;
  --color-sf-secondary: 204, 194, 220;
  --color-sf-secondary-container: 74, 68, 88;
  --color-sf-tertiary: 239, 184, 200;
  --color-sf-tertiary-container: 99, 59, 72;
  --color-sf-surface: 28, 27, 31;
  --color-sf-surface-variant: 73, 69, 79;
  --color-sf-background: var(--color-sf-surface);
  --color-sf-on-primary: 55, 30, 115;
  --color-sf-on-primary-container: 234, 221, 255;
  --color-sf-on-secondary: 51, 45, 65;
  --color-sf-on-secondary-container: 232, 222, 248;
  --color-sf-on-tertiary: 73, 37, 50;
  --color-sf-on-tertiary-containe: 255, 216, 228;
  --color-sf-on-surface: 230, 225, 229;
  --color-sf-on-surface-variant: 202, 196, 208;
  --color-sf-on-background: 230, 225, 229;
  --color-sf-outline: 147, 143, 153;
  --color-sf-outline-variant: 68, 71, 70;
  --color-sf-shadow: 0, 0, 0;
  --color-sf-surface-tint-color: 208, 188, 255;
  --color-sf-inverse-surface: 230, 225, 229;
  --color-sf-inverse-on-surface: 49, 48, 51;
  --color-sf-inverse-primary: 103, 80, 164;
  --color-sf-scrim: 0, 0, 0;
  --color-sf-error: 242, 184, 181;
  --color-sf-error-container: 140, 29, 24;
  --color-sf-on-error: 96, 20, 16;
  --color-sf-on-error-container: 249, 222, 220;
  --color-sf-success: 83, 202, 23;
  --color-sf-success-container: 22, 62, 2;
  --color-sf-on-success: 13, 39, 0;
  --color-sf-on-success-container: 183, 250, 150;
  --color-sf-info: 71, 172, 251;
  --color-sf-info-container: 0, 67, 120;
  --color-sf-on-info: 0, 51, 91;
  --color-sf-on-info-container: 173, 219, 255;
  --color-sf-warning: 245, 180, 130;
  --color-sf-warning-container: 123, 65, 0;
  --color-sf-on-warning: 99, 52, 0;
  --color-sf-on-warning-container: 255, 220, 193;
  --color-sf-spreadsheet-gridline: 231, 224, 236;
  --color-sf-shadow-focus-ring1: 0 0 0 1px #000, 0 0 0 3px #fff;
  --color-sf-success-text: 0, 0, 0;
  --color-sf-warning-text: 0, 0, 0;
  --color-sf-info-text: 0, 0, 0;
  --color-sf-danger-text: 0, 0, 0;
  --color-sf-diagram-palette-background: var(--color-sf-inverse-surface);
  --color-sf-content-text-color-alt2: var(--color-sf-on-secondary);
}
.sf-split-btn-wrapper {
  display: inline-flex;
  white-space: nowrap;
  width: min-content;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.sf-split-btn-wrapper .sf-split-btn:focus,
.sf-split-btn-wrapper .sf-dropdown-btn:focus {
  outline-offset: 0;
}
.sf-split-btn-wrapper .sf-split-btn:disabled:focus, .sf-split-btn-wrapper .sf-split-btn:disabled:hover, .sf-split-btn-wrapper .sf-split-btn:disabled:active,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:focus,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:hover,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:active {
  z-index: 0;
}
.sf-split-btn-wrapper .sf-split-btn {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-transform: none;
  z-index: 1;
  padding: 10px;
  border-right-color: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  box-shadow: none;
  border-image: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  border-width: 0 1px 0 0;
}
.sf-split-btn-wrapper .sf-split-btn:focus, .sf-split-btn-wrapper .sf-split-btn:active {
  box-shadow: none;
  z-index: 2;
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
}
.sf-split-btn-wrapper .sf-split-btn.sf-inherit {
  border-color: transparent;
}
.sf-split-btn-wrapper .sf-split-btn .sf-btn-icon {
  font-size: 16px;
  width: auto;
  padding-right: 8px;
  margin-left: 0;
  border-radius: 4px;
}
.sf-split-btn-wrapper .sf-split-btn.sf-outline {
  border: 1px solid rgba(var(--color-sf-on-surface));
}
.sf-split-btn-wrapper .sf-split-btn.sf-flat {
  border-image: none;
  border-color: transparent;
}
.sf-split-btn-wrapper .sf-dropdown-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  padding: 4px;
  box-shadow: none;
}
.sf-split-btn-wrapper .sf-dropdown-btn .sf-btn-icon {
  margin-right: 0;
}
.sf-split-btn-wrapper .sf-btn {
  box-shadow: none;
}
.sf-split-btn-wrapper .sf-btn:hover, .sf-split-btn-wrapper .sf-btn:focus, .sf-split-btn-wrapper .sf-btn:active {
  box-shadow: none;
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn {
  margin-left: -1px;
  padding: 4px 10px;
  border-left-color: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-surface), 1), rgba(var(--color-sf-surface), 1));
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon {
  margin-right: 0;
  padding-left: 8px;
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn:focus, .sf-split-btn-wrapper.sf-rtl .sf-split-btn:active {
  border-left-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
}
.sf-split-btn-wrapper.sf-vertical {
  display: inline-block;
}
.sf-split-btn-wrapper.sf-vertical .sf-split-btn,
.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  display: block;
  width: 100%;
}
.sf-split-btn-wrapper.sf-vertical .sf-split-btn {
  border-bottom-color: rgba(var(--color-sf-outline-variant));
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-surface), 1), rgba(var(--color-sf-surface), 1));
  padding: 4px 10px;
}
.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  margin-top: -1px;
  padding: 4px;
}
.sf-split-btn-wrapper.sf-flat {
  box-shadow: none;
}
.sf-bigger .sf-split-btn-wrapper,
.sf-bigger.sf-split-btn-wrapper {
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn {
  border-radius: 4px;
  box-shadow: none;
  padding-left: 12px;
  padding-right: 6px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-top-icon-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-top-icon-btn {
  padding-bottom: 12px;
  padding-top: 12px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn .sf-btn-icon {
  font-size: 18px;
  margin-left: 0;
  padding-right: 10px;
  width: auto;
  border-radius: 4px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn .sf-icon-top,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn .sf-icon-top {
  padding-bottom: 6px;
  padding-right: 0;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-icon-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-icon-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-icon-btn .sf-btn-icon {
  padding-right: 0;
}
.sf-bigger .sf-split-btn-wrapper .sf-dropdown-btn,
.sf-bigger.sf-split-btn-wrapper .sf-dropdown-btn {
  padding-left: 4px;
  padding-right: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn {
  padding-left: 6px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon {
  padding-left: 10px;
  padding-right: 0;
  border-radius: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-icon-top,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-icon-top {
  padding-left: 0;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn .sf-btn-icon {
  padding-left: 0;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-split-btn {
  padding-bottom: 6px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  padding-bottom: 4px;
  padding-top: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn .sf-icon-bottom,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn .sf-icon-bottom {
  padding-top: 0;
}