.sf-split-btn-wrapper {
  display: inline-flex;
  white-space: nowrap;
  width: min-content;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.sf-split-btn-wrapper .sf-split-btn:focus,
.sf-split-btn-wrapper .sf-dropdown-btn:focus {
  outline-offset: 0;
}
.sf-split-btn-wrapper .sf-split-btn:hover, .sf-split-btn-wrapper .sf-split-btn:active,
.sf-split-btn-wrapper .sf-dropdown-btn:hover,
.sf-split-btn-wrapper .sf-dropdown-btn:active {
  box-shadow: none;
}
.sf-split-btn-wrapper .sf-split-btn:disabled:focus, .sf-split-btn-wrapper .sf-split-btn:disabled:hover, .sf-split-btn-wrapper .sf-split-btn:disabled:active,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:focus,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:hover,
.sf-split-btn-wrapper .sf-dropdown-btn:disabled:active {
  z-index: 0;
}
.sf-split-btn-wrapper .sf-split-btn {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-transform: none;
  z-index: 1;
  padding: 10px;
  border-right-color: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  box-shadow: none;
  border-image: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  border-width: 0 1px 0 0;
}
.sf-split-btn-wrapper .sf-split-btn:focus, .sf-split-btn-wrapper .sf-split-btn:active {
  box-shadow: none;
  z-index: 2;
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
}
.sf-split-btn-wrapper .sf-split-btn.sf-inherit {
  border-color: transparent;
}
.sf-split-btn-wrapper .sf-split-btn .sf-btn-icon {
  font-size: 16px;
  width: auto;
  padding-right: 8px;
  margin-left: 0;
  border-radius: 4px;
}
.sf-split-btn-wrapper .sf-split-btn.sf-outline {
  border: 1px solid rgba(var(--color-sf-on-surface));
}
.sf-split-btn-wrapper .sf-split-btn.sf-flat {
  border-image: none;
  border-color: transparent;
}
.sf-split-btn-wrapper .sf-dropdown-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  padding: 4px;
  box-shadow: none;
}
.sf-split-btn-wrapper .sf-dropdown-btn .sf-btn-icon {
  margin-right: 0;
}
.sf-split-btn-wrapper .sf-btn {
  box-shadow: none;
}
.sf-split-btn-wrapper .sf-btn:hover, .sf-split-btn-wrapper .sf-btn:focus, .sf-split-btn-wrapper .sf-btn:active {
  box-shadow: none;
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn {
  margin-left: -1px;
  padding: 4px 10px;
  border-left-color: linear-gradient(to right, rgba(var(--color-sf-surface), 1) 25%, rgba(var(--color-sf-outline-variant), 1) 75%) 1;
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05));
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon {
  margin-right: 0;
  padding-left: 8px;
}
.sf-split-btn-wrapper.sf-rtl .sf-split-btn:focus, .sf-split-btn-wrapper.sf-rtl .sf-split-btn:active {
  border-left-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-on-surface), 0.12), rgba(var(--color-sf-on-surface), 0.12)), rgba(var(--color-sf-surface));
}
.sf-split-btn-wrapper.sf-vertical {
  display: inline-block;
}
.sf-split-btn-wrapper.sf-vertical .sf-split-btn,
.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  display: block;
  width: 100%;
}
.sf-split-btn-wrapper.sf-vertical .sf-split-btn {
  border-bottom-color: rgba(var(--color-sf-outline-variant));
  border-right-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05));
  padding: 4px 10px;
}
.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  margin-top: -1px;
  padding: 4px;
}
.sf-split-btn-wrapper.sf-flat {
  box-shadow: none;
}
.sf-bigger .sf-split-btn-wrapper,
.sf-bigger.sf-split-btn-wrapper {
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn {
  border-radius: 4px;
  box-shadow: none;
  padding-left: 12px;
  padding-right: 6px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-top-icon-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-top-icon-btn {
  padding-bottom: 12px;
  padding-top: 12px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn .sf-btn-icon {
  font-size: 18px;
  margin-left: 0;
  padding-right: 10px;
  width: auto;
  border-radius: 4px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn .sf-icon-top,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn .sf-icon-top {
  padding-bottom: 6px;
  padding-right: 0;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-icon-btn,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper .sf-split-btn.sf-icon-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper .sf-split-btn.sf-icon-btn .sf-btn-icon {
  padding-right: 0;
}
.sf-bigger .sf-split-btn-wrapper .sf-dropdown-btn,
.sf-bigger.sf-split-btn-wrapper .sf-dropdown-btn {
  padding-left: 4px;
  padding-right: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn {
  padding-left: 6px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-btn-icon {
  padding-left: 10px;
  padding-right: 0;
  border-radius: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-icon-top,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn .sf-icon-top {
  padding-left: 0;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn {
  padding-left: 12px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn .sf-btn-icon,
.sf-bigger.sf-split-btn-wrapper.sf-rtl .sf-split-btn.sf-icon-btn .sf-btn-icon {
  padding-left: 0;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-split-btn,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-split-btn {
  padding-bottom: 6px;
  padding-right: 12px;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn {
  padding-bottom: 4px;
  padding-top: 4px;
}
.sf-bigger .sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn .sf-icon-bottom,
.sf-bigger.sf-split-btn-wrapper.sf-vertical .sf-dropdown-btn .sf-icon-bottom {
  padding-top: 0;
}