@use 'theme-variables' as *;

@include export-module('h-scroll') {
  #{&}.sf-hscroll {
    display: block;
    position: relative;
    width: 100%;
    padding: $hscroll-padding;

    >* {
      height: inherit;
      line-height: normal;
    }
  }

  .sf-rtl .sf-hscroll-arrow {
    transform: scaleX(-1);
  }

  .sf-hscroll-content {
    display: inline-block;
    height: inherit;
    position: relative;
  }

  .sf-hscroll-nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: $hscroll-nav-width;

    &.sf-scroll-left-nav {
      inset-inline-start: $hscroll-inline-distance;
    }

    &.sf-scroll-right-nav {
      inset-inline-end: $hscroll-inline-distance;
    }
  }

  .sf-hscroll-arrow {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    svg {
      font-size: $hscroll-arrow-font-size;
    }
  }
}