$hscroll-nav-width: 40px !default;
$hscroll-padding: 0 $hscroll-nav-width !default;
$hscroll-padding-device: 50px !default;
$hscroll-arrow-size: 18px !default;

$hscroll-bg: $transparent !default;
$hscroll-bg-hover: $content-bg-color-hover !default;
$hscroll-bg-focus: $content-bg-color-focus !default;
$hscroll-bg-pressed: $content-bg-color-pressed !default;
$hscroll-nav-bg-hover-pressed: $content-bg-color-pressed !default;
$hscroll-icon-color: rgba($icon-color) !default;
$hscroll-icon-color-hover: rgba($icon-color) !default;
$hscroll-icon-color-active: rgba($content-text-color-alt2) !default;
$hscroll-icon-color-disabled: $hscroll-icon-color !default;
$hscroll-nav-icon-color-hover: $hscroll-icon-color !default;
$hscroll-nav-icon-color-active: $hscroll-icon-color !default;

$hscroll-border-width: 1px !default;
$hscroll-border-style: solid !default;
$hscroll-border-color: rgba($border-light) !default;
$hscroll-border-active: 0 !default;
$hscroll-border-hover: 0 !default;
$hscroll-border-focus: 0 !default;

$hscroll-shadow-active: none !default;
