@include export-module('h-scroll-theme') {

  #{&}.sf-hscroll {

    .sf-scroll-nav .sf-icons path {
      fill: $hscroll-icon-color;
    }

    &.sf-rtl {

      .sf-scroll-nav  {
        background: $hscroll-bg;

        &.sf-scroll-left-nav {
          border-left: $hscroll-border-width $hscroll-border-style $hscroll-border-color;
          border-right: 0;
        }

        &.sf-scroll-right-nav {
          border-left: 0;
          border-right: $hscroll-border-width $hscroll-border-style $hscroll-border-color;
        }

        &:hover {
          background: $hscroll-bg-hover;
          border: $hscroll-border-hover;

          path {
            fill: $hscroll-icon-color-hover;
          }

          &:active {
            background: $hscroll-nav-bg-hover-pressed;
          }
        }
      }
    }

    .sf-scroll-nav  {

      &:hover {
        background: $hscroll-bg-hover;

        path {
          fill: $hscroll-icon-color-hover;
        }

        .sf-icons path {
          fill: $hscroll-nav-icon-color-hover;
        }
      }

      &:focus {
        background: $hscroll-bg-focus;
        border: $hscroll-border-focus;

        path {
          fill: $hscroll-icon-color-hover;
        }

        .sf-icons path {
          fill: $hscroll-nav-icon-color-hover;
        }
      }

      &:active {
        background: $hscroll-bg-pressed;
        border: $hscroll-border-active;
        box-shadow: $hscroll-shadow-active;

        path {
          fill: $hscroll-icon-color-active;
        }

        .sf-icons path {
          fill: $hscroll-nav-icon-color-active;
        }
      }
    }

    .sf-scroll-nav  {
      background: $hscroll-bg;
      &.sf-overlay {
        &.sf-scroll-left-nav,
        &.sf-scroll-right-nav {
          .sf-nav-arrow.sf-icons path {
            fill: $hscroll-icon-color-disabled;
          }
        }
      }

      &.sf-scroll-left-nav {
        border-right: $hscroll-border-width $hscroll-border-style $hscroll-border-color;
      }

      &.sf-scroll-right-nav {
        border-left: $hscroll-border-width $hscroll-border-style $hscroll-border-color;
      }
    }
  }
}
