.sf-input-group.sf-multi-line-input.sf-auto-width {
  width: auto;
}

.sf-input-group.sf-multi-line-input {
  textarea.sf-resize-x {
    resize: horizontal;
  }

  textarea.sf-resize-y {
    resize: vertical;
  }

  textarea.sf-resize-xy {
    resize: both;
  }

  textarea.sf-textarea.sf-resize-none {
    resize: none;
  }
}

.sf-float-input .sf-clear-icon:hover,
.sf-float-input.sf-control-wrapper .sf-clear-icon:hover,
.sf-input-group .sf-clear-icon:hover,
.sf-input-group.sf-control-wrapper .sf-clear-icon:hover {
  background: none;
  border: none;
}

.sf-float-input:not(.sf-disabled) .sf-clear-icon:hover,
.sf-float-input.sf-control-wrapper:not(.sf-disabled) .sf-clear-icon:hover,
.sf-input-group:not(.sf-disabled) .sf-clear-icon:hover,
.sf-input-group.sf-control-wrapper:not(.sf-disabled) .sf-clear-icon:hover {
  background: none;
}
