@use 'theme-variables' as *;

@include export-module('textarea-layout-and-theme') {
  .sf-input-group.sf-multi-line-input {
    align-items: flex-end;

    &.sf-auto-width {
      width: auto;
    }

    .sf-input {
      min-height: $input-multiline-min-height;
      padding: $input-multiline-padding;
    }

    &.sf-outline {

      .sf-input {
        padding: $input-multiline-outlined-padding;
      }

      &:has(.sf-label-top) .sf-float-text {
        transform: $input-multiline-outlined-float-focus-transition;
      }
    }

    &.sf-filled .sf-input {
      min-height: $input-multiline-filled-min-height;
    }

    & .sf-clear-icon.sf-clear-icon-hide {
      display: none;
    }
  }
}