@use '../../../base/styles/themes/variables' as *;

$scheduler-border-size: 1px;
$scheduler-border-type: solid !default;
$scheduler-alternate-cell-border: dashed !default;
$scheduler-appointment-border-radius: 4px !default;
$scheduler-appointment-padding: 4px !default;
$scheduler-appointment-margin: 2px !default;
$scheduler-header-cells-width: 50px !default;
$scheduler-month-header-cells-width: 36px !default;
$scheduler-header-cells-gap: 4px !default;
$scheduler-header-cells-padding-inline: 8px !default;
$scheduler-header-cells-padding-block: 4px !default;
$scheduler-work-cells-width: 50px !default;
$scheduler-cells-height: 40px !default;
$scheduler-current-time-z-index: 5 !default;
$scheduler-header-height: 85px !default;
$scheduler-month-header-height: 36px !default;
$scheduler-month-row-height: 124px !default;
$scheduler-current-date-size: 46px !default;
$scheduler-month-current-date-size: 24px !default;
$scheduler-time-cell-width: 100px !default;
$scheduler-time-cell-width-sm: 50px !default;
$scheduler-time-cell-width-xs: 40px !default;
$scheduler-date-header-margin-inline: 16px 0 !default;
$scheduler-date-header-margin-block: 8px !default;
$scheduler-date-header-container-height: 36px !default;
$scheduler-month-header-cells-padding: 8px !default;
$scheduler-time-slots-padding: 8px 16px !default;
$scheduler-btn-radius: 30px !default;
$scheduler-toolbar-icon-width: 20px !default;
$scheduler-toolbar-icon-height: 24px !default;
$scheduler-toolbar-icon-padding-inline: 10px !default;
$scheduler-toolbar-icon-padding-block: 8px !default;
$scheduler-all-day-expand-btn-size: 32px !default;
$scheduler-icon-size: $font-size-xs !default;
$scheduler-time-slot-event-padding-inline: 4px !default;
$scheduler-time-slot-event-padding-block: 2px !default;
$scheduler-block-event-padding: 12px 4px !default;
$scheduler-day-event-width: calc(100% - 4px) !default;
$scheduler-day-event-height: 24px !default;
$scheduler-day-event-position: 4px 4px 4px 0 !default;
$scheduler-popup-icon-size: $font-size-xl !default;
$scheduler-popup-width: 360px !default;
$scheduler-popup-radius: 8px !default;
$scheduler-popup-textbox-height: 24px !default;
$scheduler-popup-textbox-padding: 8px 0 8px !default;
$scheduler-popup-header-padding: 20px 0 0 !default;
$scheduler-event-popup-content-padding: 16px !default;
$scheduler-popup-content-padding: 0 20px !default;
$scheduler-popup-footer-padding-inline: 20px !default;
$scheduler-popup-footer-padding-block: 12px !default;
$scheduler-popup-button-gap: 8px !default;
$scheduler-popup-icon-gap: 12px !default;
$scheduler-month-left-indent: 60px !default;
$scheduler-more-popup-width: 212px !default;
$scheduler-more-popup-height: 300px !default;
$scheduler-more-popup-padding: 0 12px 12px !default;
$scheduler-more-popup-header-height: 48px !default;
$scheduler-more-popup-header-padding: 16px 4px 8px !default;
$scheduler-more-popup-event-gap: 4px !default;
$scheduler-more-popup-event-padding: 5px 10px !default;
$scheduler-editor-popup-input-gap: 16px !default;
$scheduler-drag-opacity: 0.4 !default;
$scheduler-drag-padding: 4px !default;
$scheduler-drag-clone-border: 2px solid rgba($content-text-color) !default;
$scheduler-subject-font-weight: $font-weight-medium !default;
$scheduler-block-event-subject-font-weight: $font-weight-normal !default;
$scheduler-more-indicator-position: auto 8px 8px !default;

$scheduler-header-date-font-size: $font-size-2xl !default;
$scheduler-header-date-line-height: $line-height-2xl !default;
$scheduler-header-day-letter-spacing: $letter-spacing-wide !default;
$scheduler-event-sub-content-line-height: $line-height-xs !default;
$scheduler-toolbar-date-picker-font-size: $font-size-sm !default;
$scheduler-more-indicator-font-size: $font-size-xs !default;
$scheduler-current-time-font-size: $font-size-xs !default;
$scheduler-font-size-sm: $font-size-sm !default;
$scheduler-header-day-line-height: $line-height-sm !default;
$scheduler-header-day-font-size: $font-size-sm !default;
$scheduler-font-size-md: $font-size-base !default;
$scheduler-event-subject-font-size: $font-size-sm !default;
$scheduler-event-time-font-size: $font-size-xs !default;
$scheduler-day-event-subject-font-size: $font-size-xs !default;
$scheduler-day-event-line-height: $line-height-xs !default;
$scheduler-more-indicator-line-height: $line-height-xs !default;
$scheduler-time-slots-line-height: $line-height-sm !default;
$scheduler-block-event-line-height: $line-height-sm !default;
$scheduler-block-indicator-line-height: $line-height-xs !default;
$scheduler-popup-content-line-height: $line-height-sm !default;

$scheduler-popup-box-shadow-1: $shadow-lg, $shadow-lg !default;
$scheduler-popup-box-shadow-2: $shadow-md, $shadow-md !default;
$scheduler-event-popup-subject-font-weight: 500 !default;
$scheduler-cell-popup-subject-font-weight: $font-weight-normal !default;
$scheduler-popup-subject-font-size: $font-size-base !default;
$scheduler-popup-subject-line-height: $line-height-base !default;

$scheduler-text-color: rgba($content-text-color) !default;
$scheduler-hover-font-color: rgba($content-text-color-hover) !default;
$scheduler-bg-color: rgba($content-bg-color) !default;
$scheduler-border-color: rgba($border-light) !default;
$scheduler-work-cells-bg-color: $content-bg-color-alt1 !default;
$scheduler-workhour-bg-color: rgba($content-bg-color) !default;
$scheduler-appointment-font-color: rgba($on-primary) !default;
$scheduler-header-font-color: rgba($content-text-color) !default;
$scheduler-current-date-color: rgba($on-primary) !default;
$scheduler-appointment-bg-color: rgba($primary) !default;
$scheduler-header-bg-color: rgba($content-bg-color) !default;
$scheduler-active-border-color: rgba($primary) !default;
$scheduler-active-font-color: rgba($primary) !default;
$scheduler-toolbar-selected-bg: rgba($primary, 0.08) !default;
$scheduler-toolbar-selected-hover-bg: rgba($primary, 0.12) !default;
$scheduler-cell-hover-bg: $content-bg-color-hover !default;
$scheduler-cell-selected-bg: rgba($primary, 0.2) !default;
$scheduler-focus-color: rgba($primary) !default;
$scheduler-cell-focus-bg-color: $content-bg-color-focus !default;
$scheduler-block-appointment-bg-color: $content-bg-color-alt1 !default;
$scheduler-work-cell-hover-color: $scheduler-hover-font-color !default;
$scheduler-popup-content-color: rgba($content-text-color-alt1) !default;
$scheduler-selected-cell-bg: $content-bg-color-pressed !default;
$scheduler-more-popup-border-color: rgba($content-bg-color) !default;
$scheduler-quick-popup-bg: $content-bg-color-alt2 !default;
$scheduler-disabled-text-color: $content-text-color-disabled !default;
$scheduler-other-month-date: $content-text-color-alt1 !default;
$scheduler-border-0: 0 !default;
$scheduler-event-box-shadow-1: $shadow-lg !default;
$scheduler-event-box-shadow-2: $shadow-sm !default;
$scheduler-event-box-shadow-3: $shadow-sm !default;