@use '../../../base/styles/themes/variables' as *;

$scheduler-border-size: 1px;
$scheduler-border-type: solid !default;
$scheduler-alternate-cell-border: dashed !default;
$scheduler-appointment-border-radius: $radius-4 !default;
$scheduler-appointment-padding: $spacing-4 !default;
$scheduler-appointment-margin: $spacing-2 !default;
$scheduler-header-cells-width: calc(var(--sf-spacing) * 3.125) !default;
$scheduler-month-header-cells-width: $spacing-36 !default;
$scheduler-header-cells-gap: $spacing-4 !default;
$scheduler-header-cells-padding-inline: $spacing-8 !default;
$scheduler-header-cells-padding-block: $spacing-4 !default;
$scheduler-work-cells-width: calc(var(--sf-spacing) * 3.125) !default;
$scheduler-cells-height: $spacing-40 !default;
$scheduler-current-time-z-index: 5 !default;
$scheduler-header-height: calc(var(--sf-spacing) * 5.375) !default;
$scheduler-month-header-height: $spacing-36 !default;
$scheduler-month-row-height: calc(var(--sf-spacing) * 7.75) !default;
$scheduler-current-date-size: calc(var(--sf-spacing) * 2.875) !default;
$scheduler-month-current-date-size: $spacing-24 !default;
$scheduler-time-cell-width: calc(var(--sf-spacing) * 6.25) !default;
$scheduler-time-cell-width-sm: calc(var(--sf-spacing) * 3.125) !default;
$scheduler-time-cell-width-xs: $spacing-40 !default;
$scheduler-date-header-margin-inline: $spacing-16 0 !default;
$scheduler-date-header-margin-block: $spacing-8 !default;
$scheduler-date-header-container-height: $spacing-36 !default;
$scheduler-month-header-cells-padding: $spacing-8 !default;
$scheduler-time-slots-padding: $spacing-8 $spacing-16 !default;
$scheduler-btn-radius: calc(var(--sf-radius) * 1.875) !default;
$scheduler-toolbar-icon-width: $spacing-20 !default;
$scheduler-toolbar-icon-height: $spacing-24 !default;
$scheduler-toolbar-icon-padding-inline: $spacing-10 !default;
$scheduler-toolbar-icon-padding-block: $spacing-8 !default;
$scheduler-all-day-expand-btn-size: $spacing-32 !default;
$scheduler-icon-size: $font-size-xs !default;
$scheduler-time-slot-event-padding-inline: $spacing-4 !default;
$scheduler-time-slot-event-padding-block: $spacing-2 !default;
$scheduler-block-event-padding: $spacing-12 $spacing-4 !default;
$scheduler-day-event-width: calc(100% - 4px) !default;
$scheduler-day-event-height: $spacing-24 !default;
$scheduler-day-event-position: $spacing-4 $spacing-4 $spacing-4 0 !default;
$scheduler-popup-icon-size: $font-size-xl !default;
$scheduler-popup-min-width: calc(var(--sf-spacing) * 20) !default;
$scheduler-popup-max-width: calc(var(--sf-spacing) * 22.875) !default;
$scheduler-popup-radius: $radius-8 !default;
$scheduler-popup-textbox-height: $spacing-24 !default;
$scheduler-popup-textbox-padding: $spacing-8 0 $spacing-8 !default;
$scheduler-popup-header-padding: $spacing-20 0 0 !default;
$scheduler-popup-header-border: none !default;
$scheduler-event-popup-content-padding: $spacing-16 !default;
$scheduler-popup-content-padding: 0 $spacing-20 !default;
$scheduler-popup-footer-padding-inline: $spacing-20 !default;
$scheduler-popup-footer-padding: $spacing-12 $spacing-0 !default;
$scheduler-popup-footer-border: none!default;
$scheduler-popup-button-gap: $spacing-8 !default;
$scheduler-popup-icon-gap: $spacing-12 !default;
$scheduler-month-left-indent: calc(var(--sf-spacing) * 3.75) !default;
$scheduler-more-popup-width: calc(var(--sf-spacing) * 13.25) !default;
$scheduler-more-popup-height: calc(var(--sf-spacing) * 18.75) !default;
$scheduler-more-popup-padding: 0 $spacing-12 $spacing-12 !default;
$scheduler-more-popup-header-height: $spacing-48 !default;
$scheduler-more-popup-header-padding: $spacing-16 $spacing-4 $spacing-8 !default;
$scheduler-more-popup-event-gap: $spacing-4 !default;
$scheduler-more-popup-event-padding: $spacing-5 $spacing-10 !default;
$scheduler-editor-popup-input-gap: $spacing-16 !default;
$scheduler-editor-popup-content-gap: $spacing-20 !default;
$scheduler-drag-opacity: 0.4 !default;
$scheduler-drag-padding: $spacing-4 !default;
$scheduler-drag-clone-border: 2px solid rgba($content-text-color) !default;
$scheduler-subject-font-weight: $font-weight-medium !default;
$scheduler-block-event-subject-font-weight: $font-weight-normal !default;
$scheduler-more-indicator-position: auto $spacing-8 $spacing-8 !default;

$scheduler-header-date-font-size: $font-size-2xl !default;
$scheduler-header-date-line-height: $line-height-2xl !default;
$scheduler-header-day-letter-spacing: $letter-spacing-wide !default;
$scheduler-event-sub-content-line-height: $line-height-xs !default;
$scheduler-toolbar-date-picker-font-size: $font-size-sm !default;
$scheduler-more-indicator-font-size: $font-size-xs !default;
$scheduler-current-time-font-size: $font-size-xs !default;
$scheduler-font-size-sm: $font-size-sm !default;
$scheduler-header-day-line-height: $line-height-sm !default;
$scheduler-header-day-font-size: $font-size-sm !default;
$scheduler-header-day-text-transform: uppercase !default;
$scheduler-font-size-md: $font-size-base !default;
$scheduler-event-subject-font-size: $font-size-sm !default;
$scheduler-event-time-font-size: $font-size-xs !default;
$scheduler-day-event-subject-font-size: $font-size-xs !default;
$scheduler-day-event-line-height: $line-height-xs !default;
$scheduler-more-indicator-line-height: $line-height-xs !default;
$scheduler-time-slots-line-height: $line-height-sm !default;
$scheduler-block-event-line-height: $line-height-sm !default;
$scheduler-block-indicator-line-height: $line-height-xs !default;
$scheduler-popup-content-line-height: $line-height-sm !default;
$scheduler-quickinfo-popup-content-padding: $spacing-0 !default;

$scheduler-popup-box-shadow-1: $shadow-lg, $shadow-lg !default;
$scheduler-popup-box-shadow-2: $shadow-md, $shadow-md !default;
$scheduler-event-popup-subject-font-weight: $font-weight-medium !default;
$scheduler-cell-popup-subject-font-weight: $font-weight-normal !default;
$scheduler-popup-subject-font-size: $font-size-base !default;
$scheduler-popup-subject-line-height: $line-height-base !default;
$scheduler-popup-subject-font-weight: $font-weight-medium !default;

$scheduler-text-color: rgba($content-text-color) !default;
$scheduler-hover-font-color: rgba($content-text-color-hover) !default;
$scheduler-bg-color: rgba($content-bg-color) !default;
$scheduler-border-color: rgba($border-light) !default;
$scheduler-btn-border-color: rgba($border-light) !default;
$scheduler-work-cells-bg-color: $content-bg-color-alt1 !default;
$scheduler-workhour-bg-color: rgba($content-bg-color) !default;
$scheduler-appointment-font-color: rgba($on-primary) !default;
$scheduler-header-font-color: rgba($content-text-color) !default;
$scheduler-current-date-color: rgba($on-primary) !default;
$scheduler-appointment-bg-color: rgba($primary) !default;
$scheduler-header-bg-color: rgba($content-bg-color) !default;
$scheduler-active-border-color: rgba($primary) !default;
$scheduler-active-font-color: rgba($primary) !default;
$scheduler-toolbar-selected-bg: rgba($primary, 0.08) !default;
$scheduler-toolbar-selected-hover-bg: rgba($primary, 0.12) !default;
$scheduler-cell-hover-bg: $content-bg-color-hover !default;
$scheduler-cell-selected-bg: rgba($primary, 0.2) !default;
$scheduler-focus-color: rgba($primary) !default;
$scheduler-cell-focus-bg-color: $content-bg-color-focus !default;
$scheduler-block-appointment-bg-color: $content-bg-color-alt1 !default;
$scheduler-work-cell-hover-color: $scheduler-hover-font-color !default;
$scheduler-popup-content-color: rgba($content-text-color-alt1) !default;
$scheduler-selected-cell-bg: $content-bg-color-pressed !default;
$scheduler-more-popup-border-color: rgba($content-bg-color) !default;
$scheduler-quick-popup-bg: $content-bg-color-alt2 !default;
$scheduler-disabled-text-color: $content-text-color-disabled !default;
$scheduler-border-0: 0 !default;
$scheduler-event-box-shadow-1: $shadow-lg !default;
$scheduler-event-box-shadow-2: $shadow-sm !default;
$scheduler-event-box-shadow-3: $shadow-sm !default;
$scheduler-other-month-date: rgba($content-text-color-alt1) !default;
$scheduler-resize-mob-border-radius: $radius-full !default;

$scheduler-tooltip-subject-font-weight: $font-weight-medium !default;
$scheduler-tooltip-content-padding: $spacing-8 !default;
$scheduler-tooltip-content-gap: $spacing-8 !default;
$scheduler-tooltip-gap: $spacing-4 !default;
$scheduler-timezone-gap: $spacing-16 !default;

$scheduler-agenda-text-color: rgba($content-text-color) !default;
$scheduler-agenda-letter-spacing: $letter-spacing-wide !default;
$scheduler-agenda-header-date-label-width: 120px !default;
$scheduler-agenda-header-date-label-padding: $spacing-12 $spacing-72 $spacing-12 $spacing-20 !default;
$scheduler-agenda-header-date-label-width-mobile: 80px !default;
$scheduler-agenda-header-date-label-padding-mobile: $spacing-12 $spacing-40 $spacing-12 $spacing-12 !default;
$scheduler-agenda-header-day-font-size: $font-size-xs !default;
$scheduler-agenda-header-day-line-height: $line-height-xs !default;
$scheduler-agenda-header-date-font-size: $font-size-base !default;
$scheduler-agenda-header-date-line-height: $line-height-base !default;
$scheduler-agenda-event-container-border: 1px solid rgba($border-light) !default;
$scheduler-agenda-event-list-margin: $spacing-0 !default;
$scheduler-agenda-event-list-padding: $spacing-8 $spacing-0 !default;
$scheduler-agenda-event-list-gap: $spacing-16 !default;
$scheduler-agenda-event-strip: 2px solid rgba($primary) !default;
$scheduler-agenda-event-details-padding: $spacing-8 $spacing-12 !default;
$scheduler-agenda-event-subject-wrapper-gap: $spacing-6 !default;
$scheduler-agenda-event-subject-font-size: $font-size-sm !default;
$scheduler-agenda-event-subject-line-height: $line-height-sm !default;
$scheduler-agenda-event-location-font-size: $font-size-xs !default;
$scheduler-agenda-event-location-line-height: $line-height-xs !default;
$scheduler-agenda-event-location-color: rgba($content-text-color-alt1) !default;
$scheduler-agenda-event-time-font-size: $font-size-xs !default;
$scheduler-agenda-event-time-line-height: $line-height-xs !default;
$scheduler-agenda-event-time-padding: $spacing-4 !default;
$scheduler-agenda-event-recurrence-icon-color: rgba($icon-color) !default;
$scheduler-agenda-no-events-font-size: $font-size-sm !default;
$scheduler-agenda-no-events-line-height: $line-height-sm !default;
$scheduler-agenda-no-events-color: rgba($content-text-color-alt1) !default;
$scheduler-agenda-no-events-padding: $spacing-28 $spacing-12 !default;
$scheduler-agenda-empty-state-font-size: $font-size-sm !default;
$scheduler-agenda-empty-state-line-height: $line-height-sm !default;
$scheduler-agenda-empty-state-color: rgba($content-text-color-alt1) !default;
$scheduler-agenda-empty-state-padding: $spacing-28 $spacing-12 !default;
$scheduler-agenda-selected-event-bg: $content-bg-color-pressed !default;
$scheduler-agenda-event-hover-bg: $content-bg-color-hover !default;
$scheduler-agenda-event-focus-bg: $content-bg-color-focus !default;

$scheduler-resource-header-cell-padding: $spacing-4 $spacing-8 !default;
$scheduler-resource-header-cell-height: $spacing-48 !default;