@use 'theme-variables' as *;

@include export-module('contextmenu-layout') {

  .sf-contextmenu {
    .sf-menu-parent {
      overflow-x: hidden;
      overflow-y: auto;
      min-width: $context-menu-min-width;
      max-height: $context-menu-max-height;
    }

    .sf-menu-url {
      min-width: $context-menu-min-width;
    }

    .sf-separator {
      padding: $context-menu-li-separator-margin;
    }

    .sf-menu-header {
      border-bottom: $context-menu-li-border;

      svg {
        flex: 0 0 auto;
      }
    }

    .sf-menu-parent[sf-animate=true] {
      pointer-events: none;
    }

  }
}

.sf-rtl.sf-contextmenu .sf-submenu-icon {
  transform: rotate(180deg);
}