@use '../../../base/styles/themes/variables' as *;

$context-menu-min-width: calc(var(--sf-spacing) * 7.5) !default;
$context-menu-max-height: calc(var(--sf-spacing) * 31.25) !default;
$context-menu-li-border: 1px solid rgb($flyout-border) !default;
$context-menu-li-separator-margin: $spacing-4 !default;