@import 'theme-mixin.scss';

@include export-module('contextmenu-theme') {

  .sf-contextmenu-wrapper {
    ul {
      background: $cmenu-ul-bgcolor;
      color: $cmenu-color;

      .sf-menu-item {
        &.sf-menu-header {
          border-bottom-color: $cmenu-li-border-color;
        }

        @include focused-icon-color;

        .sf-menu-url {
          color: $cmenu-color;
        }

        &.sf-focused {
          background-color: $cmenu-li-bgcolor;
          color: $cmenu-li-selection-font-color;
          outline: $cmenu-li-hover-outline;
          outline-offset: $cmenu-li-hover-outline-offset;
          @include focused-icon-color;
        }

        &.sf-selected {
          background-color: $cmenu-li-selection-bgcolor;
          color: $cmenu-selected-color;
          outline: $cmenu-li-selected-outline;
          outline-offset: $cmenu-li-selected-outline-offset;

          .sf-submenu-icon {
            color: $cmenu-caret-hover-color;

            path {
              fill: $cmenu-caret-hover-color;
            }
          }

          .sf-menu-icon {
            color: $cmenu-hover-icon-color;

            path {
              fill: $cmenu-hover-icon-color;
            }
          }
        }
      }

      .sf-disabled {
        color: $cmenu-disable-text;
        opacity: 1;

        .sf-menu-icon,
        .sf-submenu-icon {
          color: $cmenu-icon-disabled-color;

          path {
            fill: $cmenu-icon-disabled-color;
          }
        }

        .sf-menu-url {
          color: $cmenu-disable-text;
        }
      }

      .sf-separator {
        border-bottom-color: $cmenu-li-border-color;
      }
    }

    .sf-menu-parent {
      position: absolute;
      max-height: 500px;
      overflow-y: auto;
    }
  }
}