@use '../../../base/styles/themes/variables' as *;

$list-item-radius: $radius-0 !default;
$list-item-padding: $spacing-8 $spacing-16 !default;
$small-list-item-padding: $spacing-6 $spacing-12 !default;
$large-list-item-padding: $spacing-12 $spacing-16 !default;
$list-item-list-text-padding: $spacing-0 !default;
$list-item-margin-bottom: $spacing-0 !default;
$list-item-border-bottom: 0 !default;
$list-item-border-top: 0 !default;
$list-item-border-left: 0 !default;
$list-item-border-right: 0 !default;
$list-item-border-bottom-color: rgba($border-light) !default;
$list-icon-margin-right: $spacing-10 !default;
$list-icon-margin-bottom: $spacing-2 !default;
$list-group-border-top: 0 !default;
$list-group-border-bottom: 0.0625rem !default;
$list-group-item-border-bottom: $list-group-border-top solid !default;
$list-group-item-border-top: $list-group-border-bottom solid $list-item-border-bottom-color !default;
$list-group-item-header-padding: $list-item-padding !default;
$list-groupheader-item-line-height: $line-height-sm !default;
$list-groupheader-font-size: $font-size-base !default;
$list-text-size: $font-size-base !default;
$small-list-text-size: $font-size-sm !default;
$list-item-line-height: $line-height-base !default;
$small-list-item-line-height: $line-height-sm !default;
$large-list-item-line-height: $line-height-base !default;
 
$list-item-text-color: rgba($content-text-color) !default;
$list-item-text-active-color: rgba($content-text-color-selected) !default;
$list-item-text-hover-color: rgba($content-text-color-hover) !default;
$list-item-hover-border-color: rgba($border-light) !default;
$list-item-hover-bg: $content-bg-color-hover !default;
$list-item-border-top-color: transparent !default;
$list-item-border-right-color: transparent !default;
$list-item-border-left-color: transparent !default;
$list-item-groupheader-text-color: rgba($content-text-color-alt1) !default;
$list-item-groupheader-bg: $flyout-bg-color !default;
$list-item-background: $transparent !default;
$list-item-active-bg: rgba($content-bg-color-selected) !default;
$list-header-border: rgba($border-light) !default;
$list-focus-bg-color: $flyout-bg-color-focus !default;
$list-skeleton-background-color: $content-bg-color-alt2 !default;
$list-skeleton-border: none !default;
$list-skeleton-border-radius: $radius-2 !default;
$list-skeleton-shimmer-wave-color: $skeleton-wave-color !default;
$list-skeleton-shimmer-background-color: transparent !default;
$list-skeleton-shimmer-wave-length: calc(var(--sf-spacing) * 6.25) !default;
$list-skeleton-shimmer-wave-width: calc(var(--sf-spacing) * 12.5) !default;
$list-skeleton-shimmer-wave-pos: 50% !default;
$list-skeleton-shimmer-wave-angle: 90deg !default;
$list-skeleton-shimmer-effect-duration: 2s !default;
$list-skeleton-shimmer-effect-timing-function: ease-in-out !default;
$list-skeleton-shimmer-transform: translateX(calc(50% + $list-skeleton-shimmer-wave-length)) !default;