$list-item-height: 40px !default;
$list-item-line-height: 22px !default;
$list-item-radius: 0 !default;
$list-item-padding: 10px 16px !default;
$list-item-list-text-padding: 0 !default;
$list-item-margin-bottom: 0 !default;
$list-item-border-bottom: 0 !default;
$list-item-border-top: 0 !default;
$list-item-border-left: 0 !default;
$list-item-border-right: 0 !default;
$list-item-border-bottom-color: rgba($border-light) !default;
$list-icon-margin-right: 10px !default;
$list-icon-margin-bottom: 2px !default;
$list-icon-size: 20px !default;
$list-group-first-border-bottom: 0 !default;
$listview-group-border-top: 0 !default;
$listview-group-border-bottom: 1px !default;
$list-group-item-border-bottom: $listview-group-border-top solid !default;
$list-group-item-header-padding: $list-item-padding !default;
$list-group-item-border-top: $listview-group-border-bottom solid $list-item-border-bottom-color !default;
$list-groupheader-item-height: 36px !default;
$list-groupheader-item-line-height: 18px !default;
$listview-groupheader-font-size: $text-xs !default;
$list-checkbox-right-margin: -2px 0 0 8px !default;
$list-checkbox-left-margin: 0 8px 0 0 !default;

$list-item-text-color: rgba($content-text-color) !default;
$list-item-text-active-color: rgba($content-text-color-selected) !default;
$list-item-text-hover-color: rgba($content-text-color-hover) !default;
$list-item-hover-border-color: rgba($border-light) !default;
$list-item-hover-bg: $content-bg-color-hover !default;
$list-item-border-top-color: transparent !default;
$list-item-border-right-color: transparent !default;
$list-item-border-left-color: transparent !default;
$list-item-groupheader-text-color: rgba($content-text-color-alt1) !default;
$list-item-groupheader-bg: transparent !default;
$list-item-background: $transparent !default;
$list-item-active-bg: rgba($content-bg-color-selected) !default;
$listview-header-text-color: rgba($content-text-color-alt1) !default;
$listview-header-text-disabled: $content-text-color-disabled !default;
$listview-header-border: rgba($border-light) !default;
$checkmark-bgcolor: rgba($primary) !default;
$checkmark-border-color: rgba($primary) !default;
$checkmark-color: rgba($primary-text-color) !default;
$active-checkmark-color: $checkmark-color !default;