$fab-offset: 16px !default;
$fab-z-index: 100000 !default;
$fab-border-radius: 12px !default;
$fab-dimension: 40px !default;
$fab-padding: 0 12px !default;
$fab-small-border-radius: 8px !default;
$fab-small-min-dimension: 32px !default;
$fab-small-btn-padding: 0 4px !default;
$fab-default-btn-padding: 0 6px !default;
$fab-btn-padding: 0 8px !default;
$fab-large-border-radius: 16px !default;
$fab-large-min-dimension: 56px !default;
$fab-large-padding: 0 16px !default;
$fab-box-shadow: $shadow-lg !default;
