@mixin fab-size-variant(
  $size-class,
  $border-radius,
  $gap,
  $padding,
  $font-size,
  $line-height,
  $svg-font-size,
  $icon-padding
) {
  &.sf-btn-#{$size-class}{
    border-radius: $border-radius;
    gap: $gap;
  }
  &.sf-btn-#{$size-class}:not(.sf-icon-btn):not(.sf-btn-vertical) {
    padding: $padding;
    font-size: $font-size;
  }
  &.sf-btn-#{$size-class}:not(.sf-btn-vertical) {
    line-height: $line-height;
  }
  &.sf-btn-#{$size-class} svg {
    font-size: $svg-font-size;
  }
  &.sf-icon-btn.sf-icon-btn-#{$size-class} {
    padding: $icon-padding;
  }
}