.sf-fab.sf-btn {
  align-items: center;
  border-radius: 12px;
  display: inline-flex;
  min-height: 40px;
  min-width: 40px;
  padding: 0 16px;
  position: absolute;
  z-index: 100000;
}
.sf-fab.sf-btn .sf-btn-icon {
  margin-top: 0;
  font-size: 14px;
}
.sf-fab.sf-btn.sf-icon-btn {
  padding: 0;
}
.sf-fab.sf-btn.sf-fab-fixed {
  position: fixed;
}
.sf-fab.sf-btn.sf-fab-top {
  top: 16px;
}
.sf-fab.sf-btn.sf-fab-top.sf-fab-middle {
  top: 50%;
  transform: translateY(-50%);
}
.sf-fab.sf-btn.sf-fab-top.sf-fab-middle.sf-fab-left.sf-fab-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sf-fab.sf-btn.sf-fab-bottom {
  bottom: 16px;
}
.sf-fab.sf-btn.sf-fab-left {
  left: 16px;
}
.sf-fab.sf-btn.sf-fab-left.sf-fab-center {
  left: 50%;
  transform: translateX(-50%);
}
.sf-fab.sf-btn.sf-fab-right {
  right: 16px;
}
.sf-rtl.sf-fab.sf-btn.sf-fab-top {
  top: 16px;
}
.sf-rtl.sf-fab.sf-btn.sf-fab-top.sf-fab-middle {
  top: 50%;
  transform: translateY(-50%);
}
.sf-rtl.sf-fab.sf-btn.sf-fab-top.sf-fab-middle.sf-fab-right.sf-fab-center {
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.sf-rtl.sf-fab.sf-btn.sf-fab-bottom {
  bottom: 16px;
}
.sf-rtl.sf-fab.sf-btn.sf-fab-right {
  right: 16px;
}
.sf-rtl.sf-fab.sf-btn.sf-fab-right.sf-fab-center {
  right: 50%;
  transform: translateX(50%);
}
.sf-rtl.sf-fab.sf-btn.sf-fab-left {
  left: 16px;
}
.sf-fab-hidden {
  visibility: hidden;
}
.sf-small.sf-fab.sf-btn,
.sf-small .sf-fab.sf-btn {
  border-radius: 8px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 12px;
}
.sf-small.sf-fab.sf-btn.sf-icon-btn,
.sf-small .sf-fab.sf-btn.sf-icon-btn {
  padding: 0;
}
.sf-small.sf-fab.sf-btn .sf-btn-icon,
.sf-small .sf-fab.sf-btn .sf-btn-icon {
  font-size: 12px;
}
.sf-large.sf-fab.sf-btn,
.sf-large .sf-fab.sf-btn {
  border-radius: 16px;
  min-height: 56px;
  min-width: 56px;
  padding: 0 19px;
}
.sf-large.sf-fab.sf-btn.sf-icon-btn,
.sf-large .sf-fab.sf-btn.sf-icon-btn {
  padding: 0;
}
.sf-large.sf-fab.sf-btn .sf-btn-icon,
.sf-large .sf-fab.sf-btn .sf-btn-icon {
  font-size: 14px;
}
.sf-large.sf-small.sf-fab.sf-btn,
.sf-large.sf-small .sf-fab.sf-btn,
.sf-large .sf-small.sf-fab.sf-btn,
.sf-small .sf-large.sf-fab.sf-btn {
  border-radius: 16px;
  min-height: 48px;
  min-width: 48px;
  padding: 0 19px;
}
.sf-large.sf-small.sf-fab.sf-btn.sf-icon-btn,
.sf-large.sf-small .sf-fab.sf-btn.sf-icon-btn,
.sf-large .sf-small.sf-fab.sf-btn.sf-icon-btn,
.sf-small .sf-large.sf-fab.sf-btn.sf-icon-btn {
  padding: 0;
}
.sf-large.sf-small.sf-fab.sf-btn .sf-btn-icon,
.sf-large.sf-small .sf-fab.sf-btn .sf-btn-icon,
.sf-large .sf-small.sf-fab.sf-btn .sf-btn-icon,
.sf-small .sf-large.sf-fab.sf-btn .sf-btn-icon {
  font-size: 14px;
}
.sf-fab.sf-btn {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
}
.sf-fab.sf-btn:hover:not(:focus), .sf-fab.sf-btn:active, .sf-fab.sf-btn.sf-active, .sf-fab.sf-btn:disabled {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
}
.sf-fab.sf-btn:focus {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
}