$opacity0: 0 !default;
$opacity4: .04 !default;
$opacity5: .05 !default;
$opacity6: .06 !default;
$opacity8: .08 !default;
$opacity11: .11 !default;
$opacity12: .12 !default;
$opacity14: .14 !default;
$opacity16: .16 !default;

// Text sizes
$text-xxs: 10px !default;
$text-xs: 12px !default;
$text-sm: 14px !default;
$text-base: 16px !default;
$text-lg: 18px !default;
$text-xl: 20px !default;
$text-2xl: 24px !default;
$text-3xl: 28px !default;
$text-4xl: 32px !default;
$text-5xl: 42px !default;
$text-6xl: 68px !default;
$text-7xl: 78px !default;
$text-8xl: 96px !default;
$text-9xl: 128px !default;

// Font sizes
$font-size-11: 0.6875rem !default;
$font-size-12: 0.75rem !default;
$font-size-13: 0.8125rem !default;
$font-size-14: 0.875rem !default;
$font-size-15: 0.9375rem !default;
$font-size-16: 1rem !default;
$font-size-18: 1.125rem !default;
$font-size-20: 1.25rem !default;
$font-size-24: 1.5rem !default;
$font-size-26: 1.625rem !default;
$font-size-28: 1.75rem !default;
$font-size-30: 1.875rem !default;
$font-size-32: 2rem !default;

// Heading sizes
$h1-font-size: 40px !default;
$h2-font-size: 32px !default;
$h3-font-size: 28px !default;
$h4-font-size: $text-2xl !default;
$h5-font-size: $text-xl !default;
$h6-font-size: $text-base !default;

// Line heights
$leading-none: 1 !default;
$leading-tight: 1.25 !default;
$leading-small: 1.333 !default;
$leading-snug: 1.375 !default;
$leading-medium: 1.425 !default;
$leading-normal: 1.5 !default;
$leading-relaxed: 1.625 !default;
$leading-loose: 2 !default;

// Font weights
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// Font icon sizes
$font-icon-8: 8px !default;
$font-icon-9: 9px !default;
$font-icon-10: 10px !default;
$font-icon-12: 12px !default;
$font-icon-13: 13px !default;
$font-icon-14: 14px !default;
$font-icon-15: 15px !default;
$font-icon-16: 16px !default;
$font-icon-17: 17px !default;
$font-icon-18: 18px !default;
$font-icon-20: 20px !default;
$font-icon-22: 22px !default;
$font-icon-24: 24px !default;
$font-icon-26: 26px !default;
$font-icon-28: 28px !default;
$font-icon-32: 32px !default;