@use 'sass:math';

$pager-border-radius: 4px !default;
$pager-border-style: solid !default;
$pager-border-color: rgba($pager-line) !default;
$pager-numeric-item-marging: 0 2px !default;
$pager-message-bar-padding-bottom: 11px !default;
$pager-triple-dot-font-size: 16px !default;
$pager-font-size: 14px !default;
$pager-numeric-item-line-height: 20px !default;
$pager-bg-color: $content-bg-color-alt1 !default;
$pager-text-color: $content-text-color-alt1 !default;
$pager-numeric-text-bg-color: $icon-color-disabled !default;
$pager-padding: 7px 20px !default;
$pager-numeric-font-weight: 500 !default;
$pager-message-bar-padding-top: 11px !default;
$pager-message-bar-padding-right: 0 !default;
$pager-triple-dot-padding: 10px 13px !default;
$pager-numeric-icon-padding: 10px 16px !default;
$pager-container-icon-padding: 10px !default;
$pager-mobile-hover-text-color: rgba($primary) !default;
$pager-message-bar-font-weight: 400 !default;
$pager-active-bg-color: $table-bg-color-selected !default;
$pager-item-text-color: $content-text-color !default;
$pager-hover-bg-color: $content-bg-color-hover !default;
$pager-current-hover-bg-color: $table-bg-color-selected-hover !default;
$pager-external-message-padding: 6px 6px 0 !default;
$pager-message-line-height: 20px !default;
$pager-focus-bg-color: $content-bg-color-pressed !default;
$pager-focus-triple-dot-line-height: 48px  !default;
$pager-focus-shadow-color: $shadow-inner !default;
$pager-message-letter-spacing: 0.25px !default;
$pager-percentage-1: 1% !default;
$pager-percentage-5: 5% !default;
$pager-percentage-100: 100% !default;
$pager-negative-indent-2: -2px !default;
$pager-negative-indent-3: -3px !default;
$pager-border-0: 0 !default;
$pager-border-1: 1px !default;
$pager-spacing-0: 0 !default;
$pager-spacing-4: 4px !default;
$pager-spacing-12: 12px !default;
$pager-spacing-13: 13px !default;