@use 'sass:math';
@use '../../../base/styles/themes/variables' as *;

$pager-border-radius: $radius-4 !default;
$pager-border-style: solid !default;
$pager-border-color: rgba($pager-line) !default;
$pager-numeric-item-marging: $spacing-0 $spacing-2 !default;
$pager-message-bar-padding-bottom: $spacing-11 !default;
$pager-triple-dot-font-size: $font-size-base !default;
$pager-font-size: $font-size-sm !default;
$pager-numeric-item-line-height: $line-height-sm !default;
$pager-bg-color: $content-bg-color-alt1 !default;
$pager-text-color: $content-text-color-alt1 !default;
$pager-numeric-text-bg-color: $icon-color-disabled !default;
$pager-padding: $spacing-7 $spacing-20 !default;
$pager-numeric-font-weight: $font-weight-medium !default;
$pager-message-bar-padding-top: $spacing-11 !default;
$pager-message-bar-padding-right: $spacing-0 !default;
$pager-triple-dot-padding: $spacing-10 $spacing-13 !default;
$pager-numeric-icon-padding: $spacing-10 $spacing-16 !default;
$pager-container-icon-padding: $spacing-10 !default;
$pager-mobile-hover-text-color: rgba($primary) !default;
$pager-message-bar-font-weight: $font-weight-normal !default;
$pager-active-bg-color: $table-bg-color-selected !default;
$pager-item-text-color: $content-text-color !default;
$pager-hover-bg-color: $content-bg-color-hover !default;
$pager-current-hover-bg-color: $table-bg-color-selected-hover !default;
$pager-external-message-padding: $spacing-6 $spacing-6 $spacing-0 !default;
$pager-message-line-height: $line-height-sm !default;
$pager-focus-bg-color: $content-bg-color-pressed !default;
$pager-focus-triple-dot-line-height: $line-height-5xl  !default;
$pager-focus-shadow-color: $shadow-inner !default;
$pager-message-letter-spacing: $letter-spacing-wider !default;
$pager-percentage-1: 1% !default;
$pager-percentage-5: 5% !default;
$pager-percentage-100: 100% !default;
$pager-negative-indent-2: -2px !default;
$pager-negative-indent-3: -3px !default;
$pager-border-0: 0 !default;
$pager-border-1: 1px !default;
$pager-spacing-0: $spacing-0 !default;
$pager-spacing-4: $spacing-4 !default;
$pager-spacing-12: $spacing-12 !default;
$pager-spacing-13: $spacing-13 !default;