@mixin color-opacity-styles($color, $opacity) {
  color: $color;
  opacity: $opacity;
}

@mixin background-color-opacity-styles($bg, $color, $opacity) {
  background: $bg;
  @include color-opacity-styles($color, $opacity);
}

@include export-module('pager-theme') {

  #{&}.sf-pager {
    border-color: rgba($border-light);
    @include background-color-opacity-styles($pager-bg-color, $pager-text-color, $pager-content-opacity);

    .sf-icons.sf-disable {
      cursor: auto;
      color: $pager-numeric-text-bg-color;
    }

    svg.sf-disabled {
      opacity: unset;
    }

    .sf-pager-default:hover {
      background-color: $pager-hover-bg-color;
    }

    .sf-spacing {
      @include color-opacity-styles($pager-item-text-color, $pager-content-opacity);
    }

    .sf-numericitem.sf-focused,
    .sf-icons.sf-focused {
      background-color: $pager-focus-bg-color;
    }

    .sf-currentitem,
    .sf-currentitem.sf-focused {
      background-color: $pager-active-bg-color;
    }

    .sf-currentitem:hover {
      background-color: $pager-current-hover-bg-color;
    }

    .sf-focused {
      box-shadow: $pager-focus-shadow-color;
    }

    @media (max-width: 590px) {
      .sf-pager-default:hover {
        @include background-color-opacity-styles($pager-bg-color, $pager-mobile-hover-text-color, $pager-content-opacity);
      }
    }
  }
}