$ddl-input-font-size: $text-sm !default;
$ddl-zero-value: 0 !default;
$border-type: solid !default;
$border-size: 1px !default;
$ddl-default-border-color: rgba($primary) !default;
$ddl-input-border: $border-size $border-type !default;
$ddl-input-font-family: inherit !default;
$ddl-input-margin-bottom: 4px !default;
$ddl-input-padding: 8px $ddl-zero-value 4px !default;
$ddl-input-group-border-width: $ddl-zero-value !default;
$ddl-active-font-color: rgba($content-text-color) !default;
$ddl-list-search-icon-padding: 12px 8px 8px !default;
$ddl-list-filter-text-indent: 4px 16px 4px !default;
$ddl-bigger-list-font-size: 14px !default;
$ddl-list-box-shadow-color: rgba(0, 0, 0, .21) !default;
$ddl-filter-box-shadow-color: rgba(0, 0, 0, .3) !default;
$ddl-popup-background-color: $flyout-bg-color !default;
$ddl-filter-border: 0 !default;
$ddl-filter-top-border: 0 !default;
$ddl-filter-padding: 0 !default;
$ddl-filter-box-shadow: 0 1.5px 5px -2px $ddl-filter-box-shadow-color !default;
$ddl-filter-background-color: $flyout-bg-color !default;
$ddl-clear-icon-margin-right: 66px !default;
$ddl-back-icon-margin: 0 10px 0 -52px !default;
$ddl-back-icon-padding: 0 8px !default;
$ddl-popup-shadow: $shadow-md !default;
$ddl-filter-margin: 0 !default;
$ddl-icon-hover-bg: rgba($content-text-color, .08) !default;
$ddl-small-list-font-size: $text-xs !default;
$ddl-bigger-small-list-font-size: $text-sm !default;
$ddl-error-border-color: rgba($border-error) !default;
$ddl-line-height: 36px !default;
$ddl-text-size: 14px !default;
$ddl-list-bg-color: $flyout-bg-color !default;
@include export-module('dropdownlist-Material3') {
  .sf-ddl.sf-control-wrapper .sf-ddl-icon::before {
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }

  .sf-ddl.sf-control-wrapper.sf-icon-anim .sf-ddl-icon::before {
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }

  .sf-dropdownbase .sf-list-item.sf-active.sf-hover {
    color: $ddl-active-font-color;
  }

  .sf-input-group:not(.sf-disabled) .sf-control#{&}.sf-dropdownlist ~ .sf-ddl-icon:active,
  .sf-input-group:not(.sf-disabled) .sf-control#{&}.sf-dropdownlist ~ .sf-ddl-icon:hover,
  .sf-input-group:not(.sf-disabled) .sf-back-icon:active,
  .sf-input-group:not(.sf-disabled) .sf-back-icon:hover,
  #{&}.sf-popup.sf-ddl .sf-input-group:not(.sf-disabled) .sf-clear-icon:active,
  #{&}.sf-popup.sf-ddl .sf-input-group:not(.sf-disabled) .sf-clear-icon:hover {
    background: $ddl-icon-hover-bg;
  }

  .sf-input-group .sf-ddl-icon:not(:active)::after {
    animation: none;
  }

  .sf-ddl#{&}.sf-popup {
    border: 0;
    box-shadow: $ddl-popup-shadow;
    margin-top: 2px;
  }

  #{&}.sf-popup.sf-ddl .sf-dropdownbase {
    min-height: 26px;
    border-radius: 4px;
  }

  #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group .sf-clear-icon {
    margin: 0 6px;
    min-height: 30px;
    min-width: 30px;
  }

  .sf-small #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group .sf-clear-icon,
  .sf-small.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group .sf-clear-icon {
    min-height: 22px;
    min-width: 22px;
  }

  .sf-input-group.sf-ddl,
  .sf-input-group.sf-ddl .sf-input,
  .sf-input-group.sf-ddl .sf-ddl-icon {
    background: transparent;
  }

  .sf-ddl.sf-ddl-device.sf-ddl-devicsf-filter .sf-input-group:hover:not(.sf-disabled):not(.sf-float-icon-left),
  .sf-ddl.sf-ddl-device.sf-ddl-devicsf-filter .sf-input-group.sf-control-wrapper:hover:not(.sf-disabled):not(.sf-float-icon-left) {
    border-bottom-width: 0;
  }

  #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group.sf-small .sf-clear-icon,
  .sf-small #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group .sf-clear-icon,
  .sf-small#{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group .sf-clear-icon,
  #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group.sf-input-focus.sf-small .sf-clear-icon,
  .sf-small #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group.sf-input-focus .sf-clear-icon,
  .sf-small#{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-input-group.sf-input-focus .sf-clear-icon {
    margin: 4px;
  }

  .sf-small #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group .sf-input-filter,
  .sf-small#{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group .sf-input-filter,
  #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group.sf-small .sf-input-filter,
  .sf-small #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group.sf-input-focus .sf-input-filter,
  .sf-small#{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group.sf-input-focus .sf-input-filter,
  #{&}.sf-popup.sf-ddl:not(.sf-ddl-device) .sf-filter-parent .sf-input-group.sf-small.sf-input-focus .sf-input-filter {
    padding: 4px 5px 4px 12px;
  }

  .sf-ddl.sf-popup.sf-outline .sf-filter-parent {
    padding: 4px 8px;
  }
}
