@include export-module('listbase-layout') {
  .sf-list-container {
    overflow: hidden;
    position: relative;
  }

  .sf-list-parent {
    margin: 0;
    padding: 0;
    
    & .sf-list-item {
      height: $list-item-height;
      line-height: $list-item-line-height;
      position: relative;
      padding: $list-item-padding;
      cursor: pointer;
      border-radius: $list-item-radius;
      margin: $list-item-margin-bottom;
  
      &.sf-disabled,
      &.sf-disabled * {
        cursor: default;
      }
  
      & .sf-list-icon + .sf-list-text {
        width: calc(100% - 60px);
      }
    }

    & .sf-list-group-item {
      border-bottom: $list-group-item-border-bottom;
      border-top: $list-group-item-border-top;
      height: $list-groupheader-item-height;
      line-height: $list-groupheader-item-line-height;
      font-weight: 600;
      padding: $list-group-item-header-padding;
      margin: $list-item-margin-bottom;
  
      .sf-list-text {
        cursor: default;
        padding: 0;
        font-weight: 600;
      }
  
      &:first-child {
        border: 0;
        border-bottom: $list-group-first-border-bottom solid $list-item-border-bottom-color;
      }
    }

    & .sf-text-content {
      height: 100%;
      position: relative;
      vertical-align: middle;
  
      &.sf-checkbox {
        .sf-list-text {
          width: calc(100% - 40px);
        }
  
        &.sf-checkbox-left .sf-list-icon+.sf-list-text {
          width: calc(100% - 90px);
        }
  
        &.sf-checkbox-right .sf-list-icon+.sf-list-text {
          width: calc(100% - 80px);
        }
      }

      & .sf-list-text {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
        padding: $list-item-list-text-padding;
      }

      & .sf-list-icon {
        margin-right: $list-icon-margin-right;
        height: $list-icon-size;
        width: $list-icon-size;
        margin-bottom: $list-icon-margin-bottom;
      }
    }
  
    & .sf-text-content * {
      display: inline-block;
      vertical-align: middle;
    }

    & .sf-checkbox {
      & .sf-checkbox-left {
        margin: $list-checkbox-left-margin;
      }
  
      & .sf-checkbox-right {
        margin: $list-checkbox-right-margin;
      }
    }
  }

  .sf-list-item.sf-checklist.sf-has-child {
    .sf-text-content.sf-checkbox.sf-checkbox-right {
      .sf-list-icon+.sf-list-text {
        width: calc(100% - 92px);
      }
    }
  }
}