@include export-module('dropdownlist-layout') {

  .sf-ddl#{&}.sf-popup {
    #{if(&, '&', '*')} .sf-input-group {
      margin-top: 4px;
    }
  }

  .sf-popup.sf-wide-popup.sf-ddl-device.sf-popup-close {
    display: block;
    visibility: hidden;
  }

  .sf-popup-full-page {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    right: 0;
    top: 0;

    #{&}.sf-ddl.sf-popup.sf-ddl-device-filter {
      margin: $ddl-filter-margin;
    }
  }

  .sf-ddl.sf-control-wrapper .sf-ddl-disable-icon {
    position: relative;
  }

  .sf-ddl.sf-control-wrapper .sf-ddl-disable-icon::before {
    content: '';
  }

  .sf-ddl.sf-control-wrapper.sf-input-group .sf-ddl-icon.sf-ddl-disable-icon {
    position: relative;
  }
  
  .sf-ddl.sf-control-wrapper.sf-input-group .sf-ddl-icon.sf-ddl-disable-icon::before {
    content: '';
  }

  .sf-ddl-device-filter .sf-filter-parent {
    background-color: $ddl-filter-background-color;
  }

  /* stylelint-disable property-no-vendor-prefix */
  .sf-ddl input.sf-input::-webkit-contacts-auto-fill-button {
    display: none;
    pointer-events: none;
    position: absolute;
    right: 0;
    visibility: hidden;
  }
  /* stylelint-enable property-no-vendor-prefix */

  .sf-filter-parent {
    border: $ddl-filter-border;
    border-top-width: $ddl-filter-top-border;
    box-shadow: $ddl-filter-box-shadow;
    display: block;
    padding: $ddl-filter-padding;
  }

  .sf-ddl.sf-input-group:not(.sf-disabled) {
    cursor: pointer;
  }

  .sf-ddl#{&}.sf-popup.sf-ddl-device-filter {
    @at-root {
      #{if(&, '&', '*')} .sf-input-group.sf-input-focus::before,
      #{if(&, '&', '*')} .sf-input-group.sf-input-focus::after {
        width: 0;
      }
    }
  }

  .sf-ddl#{&}.sf-popup {
    background: $ddl-popup-background-color;
    border-radius: 4px;
    position: absolute;
    @at-root {
      #{if(&, '&', '*')} .sf-search-icon {
        margin: 0;
        opacity: .57;
        padding: $ddl-list-search-icon-padding;
      }

      #{if(&, '&', '*')} .sf-filter-parent .sf-back-icon {
        padding: $ddl-back-icon-padding;
      }

      #{if(&, '&', '*')}.sf-rtl .sf-filter-parent .sf-input-group.sf-control-wrapper .sf-input-filter,
      #{if(&, '&', '*')} .sf-filter-parent .sf-input-filter,
      #{if(&, '&', '*')} .sf-filter-parent .sf-input-filter:focus,
      #{if(&, '&', '*')} .sf-filter-parent .sf-input-group.sf-input-focus .sf-input-filter,
      #{if(&, '&', '*')} .sf-filter-parent .sf-input-group.sf-control-wrapper.sf-input-focus .sf-input-filter {
        padding: $ddl-list-filter-text-indent;
      }

      #{if(&, '&', '*')} .sf-input-group {
        margin-bottom: 0;
      }

      #{if(&, '&', '*')} .sf-ddl-footer,
      #{if(&, '&', '*')} .sf-ddl-header {
        cursor: default;
        line-height: $ddl-line-height;
        font-size: $ddl-text-size;
        text-indent: $ddl-text-size;
        background: $ddl-list-bg-color;
        font-weight: 500;
      }
    }
  }

  /* stylelint-disable property-no-vendor-prefix */
  .sf-ddl.sf-input-group .sf-ddl-hidden,
  .sf-ddl.sf-float-input .sf-ddl-hidden {
    -webkit-appearance: initial;
    border: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
  }

  .sf-ddl.sf-input-group,
  .sf-ddl.sf-input-group.sf-input-focus:focus {
    outline: none;
  }

  .sf-dropdownbase .sf-list-item .sf-highlight {
    display: inline;
    font-weight: bold;
    vertical-align: baseline;
  }

  .sf-ddl.sf-input-group input[readonly] ~ .sf-clear-icon:not(.sf-clear-icon-hide),
  .sf-float-input input[readonly] ~ .sf-clear-icon:not(.sf-clear-icon-hide),
  .sf-float-input.sf-input-group input[readonly] ~ .sf-clear-icon:not(.sf-clear-icon-hide) {
    opacity: 1;
  }

  .sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon,
  .sf-input-group input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon,
  .sf-input-group.sf-control-wrapper input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon,
  .sf-float-input input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon,
  .sf-float-input.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon,
  .sf-float-input.sf-input-group input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon,
  .sf-float-input.sf-input-group.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon {
    display: flex;
  }

  .sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-input-group input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-input-group.sf-control-wrapper input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-input-group input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-input-group.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide {
    display: none;
  }

  .sf-input-group.sf-static-clear input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-input-group.sf-static-clear.sf-control-wrapper input.sf-dropdownlist.sf-input:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-static-clear input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-static-clear.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-static-clear.sf-input-group input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide,
  .sf-float-input.sf-static-clear.sf-input-group.sf-control-wrapper input.sf-dropdownlist:not(:valid):first-child ~ .sf-clear-icon.sf-clear-icon-hide {
    cursor: pointer;
    display: flex;
  }

  .sf-ddl.sf-input-group {
    .sf-input-value,
    .sf-input-value:focus {
      font-family: $ddl-input-font-family;
      font-size: $ddl-input-font-size;
      height: auto;
      margin: $ddl-zero-value;
      outline: none;
      width: 100%;
      overflow: hidden;
    }

    input[readonly].sf-input,
    input[readonly],
    .sf-dropdownlist {
      pointer-events: none;
    }
  }

  .sf-data-form .sf-ddl.sf-input-group.sf-control-container input[readonly].sf-input.sf-dropdownlist {
    cursor: pointer;
    pointer-events: auto;
  }

  .sf-ddl.sf-popup.sf-popup-open .sf-list-item.sf-disabled {
    opacity: .7;
    pointer-events: none;
  }

  ejs-autocomplete,
  ejs-combobox,
  ejs-dropdownlist {
    display: block;
  }

  .sf-small .sf-ddl#{&}.sf-popup,
  .sf-input-group.sf-ddl.sf-small {
    #{if(&, '&', '*')} .sf-list-item {
      font-size: $ddl-small-list-font-size;
    }

    #{if(&, '&', '*')} .sf-list-group-item {
      font-size: $ddl-small-list-font-size;
    }
  }

  .sf-small.sf-ddl#{&}.sf-popup,
  .sf-input-group.sf-ddl.sf-small {
    #{if(&, '&', '*')} .sf-list-item {
      font-size: $ddl-small-list-font-size;
    }

    #{if(&, '&', '*')} .sf-list-group-item {
      font-size: $ddl-small-list-font-size;
    }
  }

  .sf-content-placeholder.sf-ddl.sf-placeholder-ddl,
  .sf-content-placeholder.sf-autocomplete.sf-placeholder-autocomplete,
  .sf-content-placeholder.sf-combobox.sf-placeholder-combobox {
    background-size: 300px 33px;
    min-height: 33px;
  }

  .sf-ddl.sf-popup.sf-resize .sf-resizer-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    height: 15px;
    position: absolute;
    width: 15px;
  }
  
  .sf-ddl.sf-popup.sf-resize .sf-resizer-right {
    background: transparent;
    color: rgb(221, 218, 218);
  }

  .sf-ddl .sf-input-group-icon.sf-ddl-icon.sf-icon-container {
    display: flex;
    align-items: center;
  }

  .sf-ddl .sf-input-group-icon.sf-ddl-icon.sf-icon-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .sf-ddl .sf-input-group-icon.sf-ddl-icon.sf-icon-normal {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .sf-ddl.sf-popup .sf-ddl-header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .sf-ddl.sf-popup .sf-ddl-footer {
    bottom: 0;
    position: sticky;
    z-index: 1;
  }
}
