$toolbar-height: 56px !default;
$toolbar-border-width: 0 !default;		
$toolbar-border-style: solid !default;
$toolbar-border-color: rgba($border-light) !default;
$toolbar-bg-color: $content-bg-color-alt2 !default;
$toolbar-box-shadow: none !default;

$toolbar-items-height: 56px !default;
$toolbar-items-padding: 8px 15px !default;
$toolbar-items-gap: 8px !default;

$toolbar-item-min-height: 40px !default;
$toolbar-item-height: 40px !default;
$toolbar-item-min-width: 40px !default;

$toolbar-vertical-items-padding: 15px 8px !default;

$toolbar-separator-height: 24px !default;
$toolbar-separator-min-height: $toolbar-separator-height !default;
$toolbar-separator-width: 1px !default;
$toolbar-separator-border-style: solid !default;
$toolbar-separator-border-color: rgba($border-light) !default;
$toolbar-separator-horizontal-border-width: 0 $toolbar-separator-width 0 0 !default;
$toolbar-separator-vertical-border-width: 0 0 $toolbar-separator-width 0 !default;

$toolbar-nav-width: 46px !default;
$toolbar-nav-border-style: solid !default;
$toolbar-nav-pressed-box-shadow: none !default;
$toolbar-nav-selected-box-shadow: none !default;
$toolbar-nav-position-offset: 0 !default;

$toolbar-popup-border-width: 0 0 0 1px !default;
$toolbar-popup-rtl-border-width: 0 1px 0 0 !default;
$toolbar-popup-vertical-border-width: 1px 0 0 0 !default;
$toolbar-popup-vertical-rtl-border-width: 1px 0 0 0 !default;
$toolbar-popup-vertical-min-width: 40px !default;
$toolbar-popup-min-width: 40px !default;
$toolbar-popup-padding: 0 !default;

$toolbar-popup-nav-active-bg: $content-bg-color-pressed !default;
$toolbar-popup-nav-hover-bg: $content-bg-color-hover !default;
$toolbar-popup-nav-hover-active-bg: $content-bg-color-pressed !default;
$toolbar-popup-nav-focus-bg: $content-bg-color-focus !default;
$toolbar-popup-nav-selected-bg: $content-bg-color-pressed !default;
$toolbar-popup-nav-selected-icons-active-color: rgba($icon-color) !default;
$toolbar-popup-nav-font-size: $font-size-24 !default;

$toolbar-popup-icon-color: rgba($icon-color) !default;
$toolbar-popup-border-radius: 4px !default;
$toolbar-popup-bg-color: $flyout-bg-color !default;
$toolbar-popup-box-shadow: $shadow-md !default;
$toolbar-popup-item-bg-color: $transparent !default;
$toolbar-popup-item-min-height: 40px !default;
