@use 'theme-variables' as *;
@include export-module('datepicker-layout') {

  .sf-datepicker.sf-popup {
    display: flex;
    box-shadow: $dp-box-shadow;
    border-radius: $dp-border-radius;
    overflow-y: hidden;
    pointer-events: auto;
  }

  .sf-datepick-popup-wrap {
    align-items: center;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    max-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;

    .sf-popup {
      min-width: 100%;
      min-height: 100%;
      position: relative;
    }
  }
}