@include export-module('datepicker-theme') {
  .sf-datepicker,
  .sf-input-group {
    .sf-date-wrapper.sf-dateinput-active:active:not(.sf-success):not(.sf-warning):not(.sf-error) {
      border: $datepicker-input-border-style;
    }
    &.sf-popup-wrapper {
      border: $datepicker-popup-border;
      box-shadow: $datepicker-popup-box-shadow;

      .sf-calendar {
        background: $datepicker-popup-bg-color;
        border: $datepicker-calendar-border-style;
      }
    }
  }

  .sf-date-wrapper {
    span.sf-input-group-icon {
      .sf-date-icon.sf-icons.sf-active {
        color: $datepicker-icon-color;
      }
      .sf-date-icon.sf-icons.sf-active {
        color: $datepicker-active-icon-color;
        border: $datepicker-icon-active-border;
        background: $datepicker-icon-active-bg-color;
      }
    }
  }
}
