$toast-position-distance: 10px !default;
$toast-bottom-gap: 10px !default;
$toast-padding: 16px !default;
$toast-action-btn-padding: 6px !default;
$toast-action-btn-inline-margin: 10px !default;
$toast-progressbar-height: 4px !default;
$toast-content-padding: 8px 0 2px 0 !default;
$toast-border-radius: 4px !default;
$toast-font-size: $text-sm !default;
$toast-title-font-size: $text-base !default;
$toast-title-font-weight: $font-weight-medium !default;
$toast-border: 0 !default;
$toast-box-shadow: $shadow-lg !default;

$toast-icon-size: 24px !default;
$toast-icon-font-size: $text-xl !default;
$toast-icon-inline-margin: 12px !default;
$toast-icon-hover-border-radius: 50% !default;

$toast-close-icon-size: 32px !default;
$toast-close-icon-font-size: $text-xl !default;
$toast-close-icon-inline-margin: 6px !default;

$toast-progress-color: rgb($primary) !default;
$toast-bg-color: rgb($tooltip-bg-color) !default;
$toast-font-color: rgb($content-bg-color) !default;
$toast-close-icon-hover-bg-color: rgba($grey-white, .18) !default;

$toast-success-bg-color: rgb($success) !default;
$toast-info-bg-color: rgb($info-dark) !default;
$toast-warning-bg-color: rgb($warning-dark) !default;
$toast-danger-bg-color: rgb($error-dark) !default;