@use 'sass:math';

$pager-border-radius: 4px !default;
$pager-border-style: solid !default;
$pager-mobile-icon-size: 11px !default;
$pager-numeric-item-marging: 0 2px !default;
$pager-message-bar-padding-bottom: 0 !default;
$pager-content-opacity: 1 !default;
$pager-triple-dot-font-size: 16px !default;
$pager-font-size: 14px !default;
$pager-numeric-item-line-height: 20px !default;
$pager-bg-color: $content-bg-color-alt1 !default;
$pager-text-color: $content-text-color-alt1 !default;
$pager-icon-size: 20px !default;
$pager-numeric-text-bg-color: $icon-color-disabled !default;
$pager-padding: 7px 20px 8px !default;
$pager-numeric-font-weight: 500 !default;
$pager-message-bar-padding-top: 11px !default;
$pager-message-bar-padding-right: 0 !default;
$pager-triple-dot-padding: 10px 13px !default;
$pager-numeric-icon-padding: 10px 16px !default;
$pager-container-icon-padding: 10px !default;
$pager-mobile-hover-text-color: rgba($primary) !default;
$pager-message-bar-font-weight: 400 !default;
$pager-active-bg-color: $table-bg-color-selected !default;
$pager-item-text-color: $content-text-color !default;
$pager-hover-bg-color: $content-bg-color-hover !default;
$pager-current-hover-bg-color: $table-bg-color-selected-hover !default;
$pager-rtl-device-message-bar-margin-top: 10px !default;
$pager-external-message-padding: 6px 6px 0 !default;
$pager-focus-bg-color: $content-bg-color-pressed !default;
$pager-focus-triple-dot-line-height: 1 !default;
$pager-focus-shadow-color: 0 0 0 1px rgba($primary) inset !default;
