@use '../../../base/styles/themes/variables' as *;

$schedule-border-size: 1px;
$schedule-border-type: solid !default;
$schedule-alternate-cell-border: dashed !default;
$schedule-appointment-border-radius: 4px !default;
$schedule-appointment-padding: 4px !default;
$schedule-appointment-margin: 2px !default;
$schedule-header-cells-width: 36px !default;
$schedule-header-cells-gap: 4px !default;
$schedule-header-cells-margin-inline: 8px !default;
$schedule-header-cells-margin-block: 4px !default;
$schedule-work-cells-width: 36px !default;
$schedule-cells-height: 40px !default;
$schedule-current-time-z-index: 5 !default;
$schedule-header-height: 56px !default;
$schedule-month-header-height: 36px !default;
$schedule-month-row-height: 124px !default;
$schedule-current-date-size: 24px !default;
$schedule-time-cell-width: 100px !default;
$schedule-time-cell-width-sm: 50px !default;
$schedule-time-cell-width-xs: 40px !default;
$schedule-date-header-margin-inline: 16px 0 !default;
$schedule-date-header-margin-block: 8px !default;
$schedule-block-indicator-margin: 6px 8px !default;
$schedule-month-header-cells-padding: 8px !default;
$schedule-time-slots-padding: 8px 16px !default;
$schedule-btn-radius: 30px !default;
$schedule-toolbar-icon-width: 20px !default;
$schedule-toolbar-icon-height: 24px !default;
$schedule-toolbar-icon-padding-inline: 10px !default;
$schedule-toolbar-icon-padding-block: 8px !default;
$schedule-all-day-expand-btn-size: 32px !default;
$schedule-icon-size: $font-size-xs !default;
$schedule-time-slot-event-padding-inline: 8px 4px !default;
$schedule-time-slot-event-padding-block: 4px 2px !default;
$schedule-time-slot-event-sub-content-padding-inline: 8px 4px !default;
$schedule-time-slot-event-sub-content-padding-block: 2px !default;
$schedule-block-event-padding: 12px 4px !default;
$schedule-day-event-width: calc(100% - 4px) !default;
$schedule-day-event-height: 24px !default;
$schedule-day-event-position: 4px 4px 4px 0 !default;
$schedule-popup-icon-size: $font-size-xl !default;
$schedule-popup-width: 360px !default;
$schedule-popup-radius: 16px !default;
$schedule-popup-textbox-height: 24px !default;
$schedule-popup-textbox-padding: 8px 0 8px !default;
$schedule-popup-header-padding: 20px 24px !default;
$schedule-event-popup-header-padding: 20px 20px 0 !default;
$schedule-event-popup-content-padding: 16px !default;
$schedule-popup-content-padding: 0 20px !default;
$schedule-popup-footer-padding-inline: 20px !default;
$schedule-popup-footer-padding-block: 12px !default;
$schedule-popup-button-margin: 8px !default;
$schedule-month-left-indent: 60px !default;
$schedule-more-popup-width: 212px !default;
$schedule-more-popup-height: 300px !default;
$schedule-more-popup-padding: 0 12px 12px !default;
$schedule-more-popup-header-height: 48px !default;
$schedule-more-popup-header-padding: 16px 4px 8px !default;
$schedule-more-popup-event-gap: 4px !default;
$schedule-more-popup-event-padding: 5px 10px !default;
$schedule-editor-popup-input-gap: 16px !default;
$schedule-drag-opacity: 0.4 !default;
$schedule-drag-clone-opacity: 0.9 !default;
$schedule-drag-padding: 6px !default;
$schedule-drag-clone-border: 3px solid rgba($content-text-color-alt1) !default;
$schedule-subject-font-weight: $font-weight-medium !default;
$schedule-block-event-subject-font-weight: $font-weight-normal !default;
$schedule-more-indicator-position: auto 8px 8px !default;

$schedule-header-date-line-height: $line-height-base !default;
$schedule-event-sub-content-line-height: $line-height-xs !default;
$schedule-toolbar-date-picker-font-size: $font-size-sm !default;
$schedule-more-indicator-font-size: $font-size-xs !default;
$schedule-current-time-font-size: $font-size-xs !default;
$schedule-font-size-sm: $font-size-sm !default;
$schedule-header-day-line-height: $line-height-sm !default;
$schedule-header-day-font-size: $font-size-sm !default;
$schedule-font-size-md: $font-size-base !default;
$schedule-event-subject-font-size: $font-size-sm !default;
$schedule-event-time-font-size: $font-size-xs !default;
$schedule-day-event-subject-font-size: $font-size-xs !default;
$schedule-day-event-line-height: $line-height-xs !default;
$schedule-more-indicator-line-height: $line-height-xs !default;
$schedule-time-slots-line-height: $line-height-sm !default;
$schedule-block-event-line-height: $line-height-sm !default;
$schedule-block-indicator-line-height: $line-height-xs !default;
$schedule-popup-content-line-height: $line-height-sm !default;

$schedule-popup-box-shadow-1: $shadow-lg, $shadow-lg !default;
$schedule-popup-box-shadow-2: $shadow-md, $shadow-md !default;
$schedule-event-popup-subject-font-weight: 500 !default;
$schedule-cell-popup-subject-font-weight: $font-weight-normal !default;
$schedule-popup-subject-font-size: $font-size-base !default;
$schedule-popup-subject-line-height: $line-height-base !default;

$schedule-text-color: rgba($content-text-color) !default;
$schedule-hover-font-color: rgba($content-text-color-hover) !default;
$schedule-bg-color: rgba($content-bg-color) !default;
$schedule-border-color: rgba($border-light) !default;
$schedule-work-cells-bg-color: $content-bg-color-alt1 !default;
$schedule-workhour-bg-color: rgba($content-bg-color) !default;
$schedule-appointment-font-color: rgba($on-primary) !default;
$schedule-header-font-color: rgba($content-text-color) !default;
$schedule-current-date-color: rgba($on-primary) !default;
$schedule-appointment-bg-color: rgba($primary) !default;
$schedule-header-bg-color: rgba($content-bg-color) !default;
$schedule-active-border-color: rgba($primary) !default;
$schedule-active-font-color: rgba($primary) !default;
$schedule-toolbar-selected-bg: rgba($primary, 0.08) !default;
$schedule-toolbar-selected-hover-bg: rgba($primary, 0.12) !default;
$schedule-cell-hover-bg: $content-bg-color-hover !default;
$schedule-cell-selected-bg: rgba($primary, 0.2) !default;
$schedule-focus-color: rgba($primary) !default;
$schedule-cell-focus-bg-color: $content-bg-color-focus !default;
$schedule-block-appointment-bg-color: $content-bg-color-alt1 !default;
$schedule-work-cell-hover-color: $schedule-hover-font-color !default;
$schedule-popup-content-color: rgba($content-text-color-alt1) !default;
$schedule-selected-cell-bg: $content-bg-color-pressed !default;
$schedule-more-popup-border-color: rgba($content-bg-color) !default;
$schedule-quick-popup-bg: $content-bg-color-alt2 !default;
$schedule-disabled-text-color: $content-text-color-disabled !default;
$schedule-border-0: 0 !default;
$schedule-event-box-shadow-1: $shadow-lg !default;
$schedule-event-box-shadow-2: $shadow-sm !default;
$schedule-event-box-shadow-3: $shadow-sm !default;