.sf-switch-wrapper,
.sf-css.sf-switch-wrapper {
  cursor: pointer;
  display: inline-block;
  height: 24px;
  position: relative;
  user-select: none;
  width: 48px;
}
.sf-switch-wrapper .sf-switch,
.sf-css.sf-switch-wrapper .sf-switch {
  /* stylelint-disable property-no-vendor-prefix */
  -moz-appearance: none;
  height: 1px;
  opacity: 0;
  position: absolute;
  width: 1px;
}
.sf-switch-wrapper .sf-switch-inner,
.sf-css.sf-switch-wrapper .sf-switch-inner {
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  border: 2px solid rgba(var(--color-sf-outline));
  border-radius: 20px;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.sf-switch-wrapper .sf-switch-on, .sf-switch-wrapper .sf-switch-off,
.sf-css.sf-switch-wrapper .sf-switch-on,
.sf-css.sf-switch-wrapper .sf-switch-off {
  -ms-transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  align-items: center;
  border-radius: inherit;
  display: flex;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-in-out 0.1s;
  width: 100%;
}
.sf-switch-wrapper .sf-switch-on,
.sf-css.sf-switch-wrapper .sf-switch-on {
  left: -100%;
  text-indent: -16px;
}
.sf-switch-wrapper .sf-switch-off,
.sf-css.sf-switch-wrapper .sf-switch-off {
  left: 0;
  opacity: 1;
  text-indent: 18px;
}
.sf-switch-wrapper .sf-switch-handle,
.sf-css.sf-switch-wrapper .sf-switch-handle {
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  border-radius: 50%;
  bottom: 2px;
  height: 12px;
  left: 6px;
  margin: auto 0;
  position: absolute;
  top: 1.5px;
  transition: all 0.2s linear;
  width: 12px;
}
.sf-switch-wrapper .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
  opacity: 1;
}
.sf-switch-wrapper .sf-switch-inner.sf-switch-active .sf-switch-off,
.sf-css.sf-switch-wrapper .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: 100%;
}
.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -22px;
  height: 18px;
  width: 18px;
}
.sf-switch-wrapper.sf-switch-disabled,
.sf-css.sf-switch-wrapper.sf-switch-disabled {
  cursor: default;
  pointer-events: none;
}
.sf-switch-wrapper .sf-ripple-container,
.sf-css.sf-switch-wrapper .sf-ripple-container {
  border-radius: 50%;
  bottom: -9px;
  height: 52px;
  left: -17px;
  pointer-events: none;
  position: absolute;
  top: -17px;
  width: 52px;
  z-index: 1;
  height: 32px;
  left: -10px;
  top: -10px;
  width: 32px;
}
.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
.sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check {
  left: -6px !important; /* stylelint-disable-line declaration-no-important */
  top: -6.5px !important; /* stylelint-disable-line declaration-no-important */
}
.sf-switch-wrapper .sf-ripple-container .sf-ripple-element,
.sf-css.sf-switch-wrapper .sf-ripple-container .sf-ripple-element {
  border-radius: 50%;
}
.sf-switch-wrapper.sf-rtl .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  left: 100%;
  margin-left: -22px;
}
.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
.sf-switch-wrapper.sf-rtl .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on {
  left: 100%;
}
.sf-switch-wrapper.sf-rtl .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off {
  left: 0;
}
.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active {
  border-radius: 50%;
  height: 12px;
  left: 6px;
  margin: auto 0;
  position: absolute;
  top: 1.5px;
  transition: all 0.2s linear;
  width: 12px;
}
.sf-switch-wrapper.sf-small,
.sf-css.sf-switch-wrapper.sf-small {
  height: 20px;
  width: 46px;
}
.sf-switch-wrapper.sf-small .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-handle {
  height: 10px;
  width: 10px;
}
.sf-switch-wrapper.sf-small .sf-ripple-container,
.sf-css.sf-switch-wrapper.sf-small .sf-ripple-container {
  border-radius: 50%;
  height: 24px;
  left: -3px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  width: 24px;
  z-index: 1;
}
.sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -19px;
  height: 14px;
  width: 14px;
}
.sf-switch-wrapper.sf-small .sf-switch-on, .sf-switch-wrapper.sf-small .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-off {
  font-size: 10px;
}
.sf-switch-wrapper.sf-small .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-on {
  text-indent: -11px;
}
.sf-switch-wrapper.sf-small .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-small .sf-switch-off {
  text-indent: 14px;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle {
  left: 100%;
  margin-left: -19px;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle {
  height: 10px;
  width: 10px;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on {
  left: 100%;
  opacity: 1;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off {
  left: 0;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active {
  left: 22px;
  height: 14px;
  width: 14px;
}
*.sf-small .sf-switch-wrapper,
*.sf-small.sf-switch-wrapper,
*.sf-small .sf-css.sf-switch-wrapper,
*.sf-small.sf-css.sf-switch-wrapper {
  height: 20px;
  width: 46px;
}
*.sf-small .sf-switch-wrapper .sf-switch-handle,
*.sf-small.sf-switch-wrapper .sf-switch-handle,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-handle,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-handle {
  height: 10px;
  width: 10px;
  left: 5px;
  top: 2px;
}
*.sf-small .sf-switch-wrapper .sf-ripple-container,
*.sf-small.sf-switch-wrapper .sf-ripple-container,
*.sf-small .sf-css.sf-switch-wrapper .sf-ripple-container,
*.sf-small.sf-css.sf-switch-wrapper .sf-ripple-container {
  border-radius: 50%;
  height: 24px;
  left: -3px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  width: 24px;
  z-index: 1;
  left: -7px;
  top: -7px;
}
*.sf-small .sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-small.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-small .sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-small.sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check {
  left: -3px !important; /* stylelint-disable-line declaration-no-important */
  top: -5px !important; /* stylelint-disable-line declaration-no-important */
}
*.sf-small .sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-small.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -19px;
  height: 14px;
  width: 14px;
}
*.sf-small .sf-switch-wrapper .sf-switch-on, *.sf-small .sf-switch-wrapper .sf-switch-off,
*.sf-small.sf-switch-wrapper .sf-switch-on,
*.sf-small.sf-switch-wrapper .sf-switch-off,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-off {
  font-size: 10px;
}
*.sf-small .sf-switch-wrapper .sf-switch-on,
*.sf-small.sf-switch-wrapper .sf-switch-on,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-on {
  text-indent: -11px;
}
*.sf-small .sf-switch-wrapper .sf-switch-off,
*.sf-small.sf-switch-wrapper .sf-switch-off,
*.sf-small .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-small.sf-css.sf-switch-wrapper .sf-switch-off {
  text-indent: 14px;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  left: 100%;
  margin-left: -19px;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  height: 10px;
  width: 10px;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on {
  left: 100%;
  opacity: 1;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off {
  left: 0;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
*.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active {
  left: 22px;
  height: 14px;
  width: 14px;
}
*.sf-bigger.sf-small .sf-switch-wrapper,
*.sf-bigger.sf-small.sf-switch-wrapper,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper {
  height: 28px;
  width: 60px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-handle,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-handle,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-handle,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-handle {
  height: 16px;
  left: 6px;
  top: 1px;
  width: 16px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-ripple-container,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-ripple-container,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-ripple-container,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-ripple-container {
  border-radius: 50%;
  height: 36px;
  left: -7px;
  pointer-events: none;
  position: absolute;
  top: -8px;
  width: 36px;
  z-index: 1;
  left: -10px;
  top: -10px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check {
  left: -7px !important; /* stylelint-disable-line declaration-no-important */
  top: -8px !important; /* stylelint-disable-line declaration-no-important */
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -25px;
  height: 20px;
  width: 20px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-on, *.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-off {
  font-size: 12px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-on {
  text-indent: -14px;
}
*.sf-bigger.sf-small .sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper .sf-switch-off {
  text-indent: 14px;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  left: 100%;
  margin-left: -25px;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  height: 16px;
  width: 16px;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on {
  left: 100%;
  opacity: 1;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off {
  left: 0;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
*.sf-bigger.sf-small .sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-small.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active {
  left: 30px;
  height: 20px;
  width: 20px;
}
*.sf-bigger .sf-switch-wrapper,
*.sf-bigger.sf-switch-wrapper,
*.sf-bigger .sf-css.sf-switch-wrapper,
*.sf-bigger.sf-css.sf-switch-wrapper {
  height: 32px;
  width: 66px;
}
*.sf-bigger .sf-switch-wrapper .sf-switch-handle,
*.sf-bigger.sf-switch-wrapper .sf-switch-handle,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-handle,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-handle {
  height: 16px;
  left: 6px;
  top: 2px;
  width: 16px;
}
*.sf-bigger .sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -29px;
  height: 24px;
  width: 24px;
}
*.sf-bigger .sf-switch-wrapper .sf-switch-on, *.sf-bigger .sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-switch-wrapper .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-off {
  font-size: 14px;
}
*.sf-bigger .sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-switch-wrapper .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-on {
  text-indent: -15px;
}
*.sf-bigger .sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-switch-wrapper .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-switch-off {
  text-indent: 18px;
}
*.sf-bigger .sf-switch-wrapper .sf-ripple-container,
*.sf-bigger.sf-switch-wrapper .sf-ripple-container,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-ripple-container,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-ripple-container {
  height: 40px;
  left: -7px;
  top: -8px;
  width: 40px;
  left: -12px;
  top: -12px;
}
*.sf-bigger .sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger .sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-css.sf-switch-wrapper .sf-ripple-container.sf-ripple-check {
  left: -7px !important; /* stylelint-disable-line declaration-no-important */
  top: -8px !important; /* stylelint-disable-line declaration-no-important */
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  height: 16px;
  left: 100%;
  margin-left: -29px;
  top: 2px;
  width: 16px;
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on {
  left: 100%;
  opacity: 1;
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-off {
  left: 0;
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
*.sf-bigger .sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active {
  left: 32px;
  height: 24px;
  width: 24px;
}
*.sf-bigger .sf-switch-wrapper.sf-small,
*.sf-bigger.sf-switch-wrapper.sf-small,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small {
  height: 28px;
  width: 60px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-handle,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-handle,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-handle,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-handle {
  height: 16px;
  left: 6px;
  top: 1px;
  width: 16px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-ripple-container,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-ripple-container,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-ripple-container,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-ripple-container {
  border-radius: 50%;
  height: 36px;
  left: -7px;
  pointer-events: none;
  position: absolute;
  top: -8px;
  width: 36px;
  z-index: 1;
  left: -10px;
  top: -10px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-ripple-container.sf-ripple-check,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-ripple-container.sf-ripple-check,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-ripple-container.sf-ripple-check {
  left: -7px !important; /* stylelint-disable-line declaration-no-important */
  top: -8px !important; /* stylelint-disable-line declaration-no-important */
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-handle.sf-switch-active {
  left: 100%;
  margin-left: -25px;
  height: 20px;
  width: 20px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-on, *.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-off {
  font-size: 12px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-on {
  text-indent: -14px;
}
*.sf-bigger .sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small .sf-switch-off {
  text-indent: 14px;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle {
  left: 100%;
  margin-left: -25px;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle {
  height: 16px;
  width: 16px;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-on {
  left: 100%;
  opacity: 1;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-off {
  left: 0;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-on {
  left: 0;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  left: -100%;
}
*.sf-bigger .sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger .sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active,
*.sf-bigger.sf-css.sf-switch-wrapper.sf-small.sf-rtl .sf-switch-handle.sf-switch-active {
  left: 30px;
}
.sf-switch-wrapper,
.sf-css.sf-switch-wrapper {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-tap-highlight-color: transparent;
}
.sf-switch-wrapper .sf-switch-off,
.sf-css.sf-switch-wrapper .sf-switch-off {
  background-color: rgba(var(--color-sf-surface-variant));
  color: rgba(var(--color-sf-on-surface));
}
.sf-switch-wrapper .sf-switch-handle,
.sf-css.sf-switch-wrapper .sf-switch-handle {
  background-color: rgba(var(--color-sf-outline));
  box-shadow: none;
}
.sf-switch-wrapper .sf-switch-on,
.sf-css.sf-switch-wrapper .sf-switch-on {
  background-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-on-primary));
}
.sf-switch-wrapper .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper .sf-switch-inner,
.sf-css.sf-switch-wrapper .sf-switch-inner {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper .sf-ripple-element,
.sf-css.sf-switch-wrapper .sf-ripple-element {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-switch-wrapper .sf-ripple-check .sf-ripple-element,
.sf-css.sf-switch-wrapper .sf-ripple-check .sf-ripple-element {
  background-color: rgba(var(--color-sf-on-surface-variant), 0.08);
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle.sf-switch-active {
  box-shadow: none;
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle:not(.sf-switch-active),
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle:not(.sf-switch-active) {
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-handle {
  background-color: rgba(var(--color-sf-white));
  box-shadow: none;
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner .sf-switch-off {
  opacity: 1;
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  border-color: rgba(var(--color-sf-on-surface), 0.12);
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner .sf-switch-on {
  color: rgba(var(--color-sf-on-surface), 0.38);
  opacity: 1;
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-switch-disabled .sf-switch-inner {
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  opacity: 1;
  border-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active {
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  border-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle:not(.sf-switch-active),
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle:not(.sf-switch-active) {
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner {
  border-color: rgba(var(--color-sf-on-surface), 0.12);
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active .sf-switch-on {
  color: rgba(var(--color-sf-on-surface), 0.38);
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle {
  background-color: rgba(var(--color-sf-white));
}
.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-switch-disabled:hover .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-white));
}
.sf-switch-wrapper:hover .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper:hover .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper:hover .sf-switch-inner,
.sf-css.sf-switch-wrapper:hover .sf-switch-inner {
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.11), rgba(var(--color-sf-primary), 0.11)), rgba(var(--color-sf-surface));
  border-color: rgba(var(--color-sf-outline));
}
.sf-switch-wrapper:hover .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper:hover .sf-switch-inner.sf-switch-active .sf-switch-on {
  background-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-on-primary));
}
.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active .sf-ripple-container,
.sf-css.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active .sf-ripple-container {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active .sf-ripple-check.sf-ripple-container,
.sf-css.sf-switch-wrapper:hover .sf-switch-handle.sf-switch-active .sf-ripple-check.sf-ripple-container {
  background-color: rgba(var(--color-sf-on-surface-variant), 0.08);
}
.sf-switch-wrapper:not(.sf-switch-disabled):hover .sf-switch-handle:not(.sf-switch-active),
.sf-css.sf-switch-wrapper:not(.sf-switch-disabled):hover .sf-switch-handle:not(.sf-switch-active) {
  background-color: rgba(var(--color-sf-outline));
}
.sf-switch-wrapper.sf-focus .sf-switch-inner, .sf-switch-wrapper:focus .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-focus .sf-switch-inner,
.sf-css.sf-switch-wrapper:focus .sf-switch-inner {
  background-color: rgba(var(--color-sf-surface));
  border-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.11), rgba(var(--color-sf-primary), 0.11)), rgba(var(--color-sf-surface));
  box-shadow: none;
  outline: none;
  outline-offset: initial;
}
.sf-switch-wrapper.sf-focus .sf-switch-inner.sf-switch-active, .sf-switch-wrapper:focus .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-focus .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper:focus .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
  outline: none;
}
.sf-switch-wrapper.sf-focus .sf-ripple-container, .sf-switch-wrapper:focus .sf-ripple-container,
.sf-css.sf-switch-wrapper.sf-focus .sf-ripple-container,
.sf-css.sf-switch-wrapper:focus .sf-ripple-container {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-switch-wrapper.sf-focus .sf-ripple-check.sf-ripple-container, .sf-switch-wrapper:focus .sf-ripple-check.sf-ripple-container,
.sf-css.sf-switch-wrapper.sf-focus .sf-ripple-check.sf-ripple-container,
.sf-css.sf-switch-wrapper:focus .sf-ripple-check.sf-ripple-container {
  background-color: rgba(var(--color-sf-on-surface-variant), 0.08);
}
.sf-switch-wrapper.sf-active .sf-switch-inner, .sf-switch-wrapper:active .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-active .sf-switch-inner,
.sf-css.sf-switch-wrapper:active .sf-switch-inner {
  background-color: rgba(var(--color-sf-surface));
  border-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.11), rgba(var(--color-sf-primary), 0.11)), rgba(var(--color-sf-surface));
  box-shadow: none;
  outline: none;
  outline-offset: initial;
}
.sf-switch-wrapper.sf-active .sf-switch-inner.sf-switch-active, .sf-switch-wrapper:active .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-active .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper:active .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
  outline: none;
}
.sf-switch-wrapper.sf-active .sf-ripple-container, .sf-switch-wrapper:active .sf-ripple-container,
.sf-css.sf-switch-wrapper.sf-active .sf-ripple-container,
.sf-css.sf-switch-wrapper:active .sf-ripple-container {
  background-color: rgba(var(--color-sf-primary), 0.08);
}
.sf-switch-wrapper.sf-active .sf-ripple-check.sf-ripple-container, .sf-switch-wrapper:active .sf-ripple-check.sf-ripple-container,
.sf-css.sf-switch-wrapper.sf-active .sf-ripple-check.sf-ripple-container,
.sf-css.sf-switch-wrapper:active .sf-ripple-check.sf-ripple-container {
  background-color: rgba(var(--color-sf-on-surface-variant), 0.08);
}
.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-on {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-off {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl.sf-focus .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
  color: rgba(var(--color-sf-on-primary));
  outline: none;
}
.sf-switch-wrapper.sf-rtl .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-on {
  background-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper.sf-rtl .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle {
  background-color: rgba(var(--color-sf-outline));
  box-shadow: none;
}
.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active .sf-switch-off {
  background-color: rgba(var(--color-sf-surface-variant));
}
.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner.sf-switch-active {
  background-color: rgba(var(--color-sf-primary));
  border-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner {
  border-color: rgba(var(--color-sf-outline));
}
.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl:hover .sf-switch-inner.sf-switch-active .sf-switch-on {
  background-color: rgba(var(--color-sf-primary));
}
.sf-switch-wrapper.sf-rtl:hover .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl:hover .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner .sf-switch-on {
  color: rgba(var(--color-sf-on-surface), 0.38);
  opacity: 1;
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner .sf-switch-off,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner .sf-switch-off {
  opacity: 1;
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-handle {
  background-color: rgba(var(--color-sf-white));
  box-shadow: none;
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
  box-shadow: none;
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled .sf-switch-inner {
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  border-color: rgba(var(--color-sf-on-surface), 0.12);
  opacity: 1;
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active .sf-switch-on,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active .sf-switch-on {
  color: rgba(var(--color-sf-on-surface), 0.38);
  background-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active {
  background-color: linear-gradient(0deg, rgba(var(--color-sf-primary), 0.05), rgba(var(--color-sf-primary), 0.05)), rgba(var(--color-sf-surface));
  border-color: rgba(var(--color-sf-on-surface), 0.12);
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-inner {
  border-color: rgba(var(--color-sf-on-surface), 0.12);
  color: rgba(var(--color-sf-on-surface), 0.38);
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-handle.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-handle.sf-switch-active {
  background-color: rgba(var(--color-sf-surface));
}
.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-handle,
.sf-css.sf-switch-wrapper.sf-rtl.sf-switch-disabled:hover .sf-switch-handle {
  background-color: rgba(var(--color-sf-white));
}
.sf-switch-wrapper .sf-switch:focus,
.sf-css.sf-switch-wrapper .sf-switch:focus {
  box-shadow: none;
}
.sf-switch-wrapper.sf-small.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active,
.sf-css.sf-switch-wrapper.sf-small.sf-rtl.sf-switch-disabled:hover .sf-switch-inner.sf-switch-active {
  background-color: transparent;
}